body {
    background-color: #EEEEEE;
}

#center {
    overflow: hidden;
}

#main {
    overflow: hidden;
}

#sidebar {
    float: right;
}

#footer {
    clear: both;
}

form  { display: table;      }
p     { display: table-row;  }
label { display: table-cell; }
input { display: table-cell; }

div .table   {
 display: table;
}

.table > div     {
 display: table-row;
 }

.table > div:first-child   {
    text-align: center;
    font-style: italic;
 }

.table > div > div {
 display: table-cell;
 padding: 5px;
}

.table  div:not(:first-child) div:nth-child(even) {
 background: white;
}

.table  div:not(:first-child) div:nth-child(odd) {
}

.textbox {
    display: table-cell;
    vertical-align: top;
    width: 98%;
    height: 200px;
}

/* spacing */
.padded {
    padding: 5px;
}

.morepadded {
    padding: 10px;
}

.margined {
    margin: 5px;
}

.inline {
    display: inline;
}

.right {
    float: right;
}

.hideoverflow {
    overflow: hidden;
}

/* horizontal menu */
#nav .ui-menu{
  /* width:50%; */
  padding: 5px;
}

.ui-menu-item{
  width:200px;
}

/* make first item inline */
.ui-menu .ui-menu-item {
  display: inline;
}

/* subsequent items block */
.ui-menu-item .ui-menu-item {
  display: block;
}

.ui-menu-item a {
    text-decoration: none;
}

/* suggestions */
.suggestion-container {
    overflow: hidden;
}

.suggestion {
    float: left;
    text-align: center;
}

#scores div  {
    display: table;
}
#scores p     {
    display: table-row;
}
#scores span {
    display: table-cell;
    padding: 2px;
}

.assigned {
    background-color: lightgreen;
    background-image: none;
}

 .not_relevant {
    background-color: #FFC1B5;
    background-image: none;
}

 .skip {
    background-color: lightgray;
    background-image: none;
}

.small {
 font-size:60%;
}