body {
    background-color: #EEEEEE;
}

#center {
    overflow: hidden;
}

#main {
    overflow: hidden;
}

#sidebar {
    float: right;
}

#footer {
    bottom: 0;
    left: 0;
}

form  { display: table;      }
form > p     { display: table-row;  }
label { display: table-cell; }
input { display: table-cell; }

#data_list {overflow: auto;}

div .table   {
 display: table;
}

.table > div     {
 display: table-row;
 }

.table > div:first-child   {
    text-align: center;
    font-style: italic;
 }

.table > div > div {
 display: table-cell;
 padding: 5px;
}

.table > div:not(:first-child):nth-child(odd) > div:nth-child(odd) {
    background: #FFFFFF;
}

.table > div:not(:first-child):nth-child(odd) > div:nth-child(even) {
    background: #FCFCFC;
}

.table > div:not(:first-child):nth-child(even) > div:nth-child(odd) {
    background: #FDFDFD;
}

.table > div:not(:first-child):nth-child(even) > div:nth-child(even) {
    background: #FAFAFA;
}

.textbox {
    display: table-cell;
    vertical-align: top;
    width: 100%;
    height: 200px;
}

/* spacing */
.padded {
    padding: 5px;
}

.morepadded {
    padding: 10px;
}

.margined {
    margin: 5px;
}

.inline {
    display: inline;
}

.right {
    float: right;
}

.hideoverflow {
    overflow: hidden;
}

/* horizontal menu */
#nav .ui-menu{
  /* width:50%; */
  padding: 5px;
}

.ui-menu-item{
  padding: 5px;
}

/* make first item inline */
.ui-menu .ui-menu-item {
  display: inline;
}

/* subsequent items block */
.ui-menu-item .ui-menu-item {
  display: block;
}

.ui-menu-item a {
    text-decoration: none;
}

/* suggestions */
.suggestion-container {
    overflow: hidden;
}

.suggestion {
    float: left;
    text-align: center;
}
/* end menu */

#scores div  {
    display: table;
}
#scores p     {
    display: table-row;
}
#scores span {
    display: table-cell;
    padding: 2px;
}

.hidden {
    display:none;
}

.pointer {
    cursor: pointer;
}

.suggested {
    background-color: lightcyan;
    background-image: none;
    border: 1px solid cyan;
}

.assigned {
    background-color: lightgreen;
    background-image: none;
    border: 1px solid #44BB44;
}

.pending {
    background-color: lightyellow;
    background-image: none;
    border: 1px solid yellow;
}

.not_relevant {
    background-color: lightyellow;
    background-image: none;
    color: #999999;
    border: 1px solid #AAAAAA;
}

.skip {
    background-color: lightcyan;
    background-image: none;
    border: 1px solid #AAAAAA;
}

.hide {
    background-color: lightgray;
    background-image: none;
}

.hide.assigned {
    background-color: #88bb88;
    background-image: none;
}

.small {
 font-size:60%;
}

.left {
 float:left;
}

.masked {
    color: black;
    background-color: black;
}

.plain {
    font-weight:normal;
}

.tip {
    text-decoration: underline;
    text-decoration-style: dotted
}
