.pointer {
    cursor: pointer;
}

.scoreline {
    padding: 6px;
    margin: 6px;
}

.multiscoreline {
    padding: 1px;
    margin: 6px;
    border: 1px solid lightgray;
}
.multiscoreline .scoreline {
    padding: 2px;
    margin: 3px;
}

.suggested {
    background-color: lightcyan;
    background-image: none;
    border: 1px solid cyan;
}

.assigned {
    background-color: lightgreen;
    background-image: none;
    border: 1px solid #44BB44;
}

.not_relevant {
    background-color: lightyellow;
    background-image: none;
    color: #999999;
    border: 1px solid #AAAAAA;
}
