body {
    background-color: #EEEEEE;
}

#center {
    overflow: hidden;
}

#main {
    overflow: hidden;
}

#sidebar {
    float: right;
}

#footer {
    clear: both;
}

form  { display: table;      }
p     { display: table-row;  }
label { display: table-cell; }
input { display: table-cell; }

.textbox {
    display: table-cell;
    vertical-align: top;
    width: 98%;
    height: 200px;
}

/* spacing */
.padded {
    padding: 5px;
}

.morepadded {
    padding: 10px;
}

.margined {
    margin: 5px;
}

.inline {
    display: inline;
}

.right {
    float: right;
}

.hideoverflow {
    overflow: hidden;
}

/* horizontal menu */
.ui-menu {
    overflow: hidden;
}
.ui-menu .ui-menu {
    overflow: visible !important;
}
.ui-menu > li {
    float: left;
    display: block;
    width: auto !important;
}
.ui-menu ul li {
    display:block;
    float:none;
}
.ui-menu ul li ul {
    left:120px !important;
    width:100%;
}
.ui-menu ul li ul li {
    width:auto;
}
.ui-menu ul li ul li a {
    float:left;
}
.ui-menu > li {
    margin: 5px 5px !important;
    padding: 0 0 !important;
}
.ui-menu > li > a {
    float: left;
    display: block;
    clear: both;
    overflow: hidden;
}
.ui-menu .ui-menu-icon {
    margin-top: 0.3em !important;
}
.ui-menu .ui-menu .ui-menu li {
    float: left;
    display: block;
}

/* suggestions */
.suggestion-container {
    overflow: hidden;
}

.suggestion {
    float: left;
    text-align: center;
}

#scores div  {
    display: table;
}
#scores p     {
    display: table-row;
}
#scores span {
    display: table-cell;
    padding: 2px;
}

.assigned {
    background-color: lightgreen;
    background-image: none;
}

 .not_relevant {
    background-color: #FFC1B5;
    background-image: none;
}

 .skip {
    background-color: lightgray;
    background-image: none;
}

.small {
 font-size:60%;
}