# packages in environment at C:\Programs\Anaconda3\envs\ics:
#
cherrypy                  3.8.0                    py34_0  
mako                      1.0.3                    py34_0  
markupsafe                0.23                     py34_0  
msvc_runtime              1.0.1                    vc10_0  [vc10]
numpy                     1.10.1                   py34_0  
pip                       7.1.2                    py34_0  
psycopg2                  2.6.1                     <pip>
python                    3.4.3                         4  
scikit-learn              0.17                np110py34_1  
scipy                     0.16.0              np110py34_0  
setuptools                18.5                     py34_0  
sqlalchemy                1.0.9                    py34_0  
wheel                     0.26.0                   py34_1  
