<%inherit file="base.html" />
<%block name="head">
    <script type="text/javascript">
        function logout() {
            $.ajax({
                type: "POST",
                url: "${user_auth_path}/logout"})
            .done(window.location.href = '${mount_dir}')
            .fail(function(errMsg) {
            });
            return false;
        };

        $( document ).ready(function() {
            $( "#nav #menu" ).menu();
            $('#logout').click(logout);
        });
    </script>
</%block>
<%block name="menu">

                <div id="nav">
                    <ul id="menu">
                        <li><a href="${client_path}">Main app</a></li>
                        <li><a href="${mount_dir}/users">Users</a></li>
                        <li><a href="${mount_dir}/ips">IPs</a></li>
                        <li><a href="${mount_dir}/keys">Keys</a></li>
                        <li><a href="${mount_dir}/jobs">Jobs</a></li>
                        <li><a href="${mount_dir}/locks">Locks</a></li>
                        <li><a href="${mount_dir}/about">About</a></li>
                        <li id="logout"><a>Logout ${username}</a></li></ul></li>
                    </ul>
                </div>
</%block>
