<html>
<head>
    <title>${name}</title>
    <link rel="stylesheet" href="${mount_dir}/css/style.css" />
    <link rel="stylesheet" href="${mount_dir}/js/jquery-ui-1.12.1/jquery-ui.min.css" />
    <script type="text/javascript" src="${mount_dir}/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="${mount_dir}/js/utility.js"></script>
    <script type="text/javascript" src="${mount_dir}/js/jquery-ui-1.12.1/jquery-ui.min.js"></script>
    <%block name="head" />

</head>
    <body>
        <div id="screen" class="ui-widget-content">

            <div id="header">
                <div id="title" class="padded ui-widget ui-widget-header">
                    ${name}
                </div>
                <%block name="menu" />
            </div>

            ${self.body()}

            <div id="footer" class="padded ui-widget ui-widget-content">
                &copy; 2015-2018 Andrea Esuli
            </div>
        </div>
    </body>
</html>