<%inherit file="base.html" />
<%block name="menu">

                <div id="nav">
                    <ul id="menu">
                        <li><a href="/datasets">Datasets</a></li>
                        <li><a href="/classifiers">Classifiers</a></li>
                        <li>Tools
                            <ul>
                                <li><a href="/typeandlabel">Type &amp; Label</a></li>
                                <li><a href="/jobs">Jobs</a></li>
                            </ul>
                        </li>
                        <li><a href="/about">About</a></li>
                <div style="float:right;"><a href="/auth/logout">Logout ${username}</a></div>
                    </ul>
                </div>
</%block>