<%inherit file="base.html" />
<%block name="head">
    <script type="text/javascript">
        function logout() {
            $.ajax({
                type: "POST",
                url: "${user_auth_path}/logout"})
            .done(window.location.href = '${mount_dir}')
            .fail(function(errMsg) {
            });
            return false;
        };

        $( document ).ready(function() {
            $( "#nav #menu" ).menu();
            $('#logout').click(logout);
        });
    </script>
</%block>
<%block name="menu">

                <div id="nav">
                    <ul id="menu">
                        <li><a href="${mount_dir}/datasets">Datasets</a></li>
                        <li><a href="${mount_dir}/classifiers">Classifiers</a></li>
                        <li><a>More</a><ul><li><a href="${mount_dir}/typeandlabel">Type &amp; Label</a></li>
                            <li><a href="${mount_dir}/users">Users</a></li>
                            <li><a href="${admin_path}/">Admin</a></li>
                            <li>-</li>
                            <li><a href="${mount_dir}/about">About</a></li>
                            <li>-</li>
                            <li id="logout"><a>Logout ${username}</a></li></ul></li>
                    </ul>
                </div>
</%block>