<%inherit file="basewithmenu.html" />
<%block name="head">
${parent.head()}
    <script type="text/javascript">
        update_interval=5000
        delay_interval=500
        last_update = 0
        function timed_update() {
            now = Date.now();
            if(now-last_update>update_interval)
                update();
            setTimeout(timed_update,update_interval);
        }

        datasetsize = 1;

        single = 'single';
        multi = 'multi';

        browse_next = 'test (in order)';
        //browse_prev = 'previous in order';
        browse_diff = 'train';
        //browse_easy = 'easy decisions';
        //browse_hidden = 'reevaluate non-relevant';
        browse_random = 'test (random)';

        autobrowsevalues = [
            [browse_diff,single],
            [browse_next,multi],
            //[browse_prev,multi],
            [browse_random,multi],
            //[browse_easy,single],
            //[browse_hidden,single]
        ];

        autobrowse = 0;

        dataset_name = 'NULL';
        selected_classifiers = {};

        function update() {
            last_update = Date.now();

            $.ajax({
                type: 'POST',
                url: '${dataset_path}/size',
                data: { name : dataset_name }})
            .done( function (msg) {
                    datasetsize = parseInt(msg);
                    $('#position').attr('max',datasetsize-1);
                    $('#size').text(datasetsize);
            });

            $.ajax({
                type:'POST',
                url:'${classifier_path}/info',
                dataType: 'json'})
            .done(function(msg) {
                    $('#classifiers\\_list div .classifier\\_name').each(function(i,item) {
                        var found = false;
                        for(var i = 0;i<msg.length;++i) {
                            if($(item).text()==msg[i].name) {
                                found = true;
                                break;
                            }
                        }
                        if(!found) {
                            $('#suggestions\\_'+$(item).text()).remove();
                            $(item).parent().remove();
                        }
                    });
                    if(msg.length==0) {
                        $('#classifiers\\_list').html('<div class="padded ui-widget-header ui-corner-all">No classifiers available</div>');
                    }
                    else {
                        if($('#\\_gotclassifiers').length==0)
                            $('#classifiers\\_list').html('<div id="_gotclassifiers" class="padded ui-widget-header ui-corner-all">Select classifiers:</div>');
                        for(var i = 0;i<msg.length;++i) {
                            if($('#classifier\\_'+msg[i].name).length==0) {
                                $('#dup\\_from').append($('<option />').val(msg[i].name).text(msg[i].name));
                                $('#classifiers\\_list').append('<div class=\'padded margined ui-widget-content hideoverflow\' id=\'classifier_'+msg[i].name+'\' title="'+msg[i].description+'">\
                                <div id=\'classifier_name_'+msg[i].name+'\' class=\'inline padded ui-corner-all left classifier_name\'>'+msg[i].name+'</div>\
                                <div id=\'use_button_'+msg[i].name+'\' class=\'right\'>Use</div></div>');
                                if(selected_classifiers[msg[i].name]) {
                                    $('#use\\_button\\_'+msg[i].name).addClass('ui-state-focus');
                                    $('#use\\_button\\_'+msg[i].name).button({ icons: {primary:'ui-icon-check'} });
                                }
                                else {
                                    $('#use\\_button\\_'+msg[i].name).button({ icons: {primary:'ui-icon-plus'} });
                                }
                                $('#use\\_button\\_'+msg[i].name).click(use);
                                var suggestion_div = jQuery('<div id=\'suggestions_'+msg[i].name+'\' class=\'margined ui-widget-content ui-corner-all suggestion\'><div class="ui-widget-header padded ui-corner-all">'+msg[i].name+'</div><div id="assignments_'+msg[i].name+'"></div></div>');
                                suggestion_div.appendTo('#pool');
                                for(var j = 0;j<msg[i].labels.length;++j) {
                                    var scoreline = jQuery('<div id="suggestion_'+msg[i].name+'_'+msg[i].labels[j]+'" class="pointer scoreline not_relevant ui-corner-all margined morepadded">'+msg[i].labels[j]+'</div>');
                                    (function() {
                                        var label = ''+msg[i].labels[j];
                                        var classifier_name = ''+msg[i].name;
                                        scoreline.click(function(){
                                            if(!$('#suggestion\\_'+classifier_name+'\\_'+label).hasClass('assigned')) {
                                                if($('#suggestion\\_'+classifier_name+'\\_'+label).hasClass('suggested')) {
                                                    $('#history').prepend('<span class="agreement yes" style="color:lightgreen;">✓</span>');
                                                }
                                                else {
                                                    $('#history').prepend('<span class="agreement no" style="color:red;">✗</span>');
                                                }
                                                var histsize = parseInt($("#histsize").val());
                                                $('#history').children().slice(histsize).remove();
                                                var total = $('#history').children().length;
                                                var positive = $('#history').children('.yes').length;
                                                $('#accuracy').text((positive/total).toFixed(2));
                                                $('#assignments\\_'+classifier_name).children('.scoreline').removeClass('suggested');
                                                $('#assignments\\_'+classifier_name).children('.scoreline').removeClass('assigned');
                                                $('#assignments\\_'+classifier_name).children('.scoreline').addClass('not_relevant');
                                                $('#suggestion\\_'+classifier_name+'\\_'+label).removeClass('not_relevant')
                                                $('#suggestion\\_'+classifier_name+'\\_'+label).addClass('assigned')
                                                $.ajax({
                                                    type:'POST',
                                                    url:'${classifier_path}/update',
                                                    data: { name: classifier_name, X: [last_text], y: [label]}})
                                                .fail(function(msg) {
                                                    custom_alert(msg);
                                                });
                                            }
                                        });
                                    }());
                                    $('#assignments\\_'+msg[i].name).append(scoreline);
                                }

                                var hideline = jQuery('<div id="'+msg[i].name+'_nonrel" class="scoreline pointer hide ui-corner-all margined morepadded">non-relevant</div>');
                                hideline.click((function () {
                                    var classifier_name = ''+msg[i].name;
                                    return function() {
                                        $('#assignments\\_'+classifier_name).children('.scoreline').removeClass('suggested');
                                        $('#assignments\\_'+classifier_name).children('.scoreline').removeClass('assigned');
                                        $('#assignments\\_'+classifier_name).children('.scoreline').addClass('not_relevant');
                                        $('#'+classifier_name+'\\_nonrel').removeClass('not_relevant')
                                        $('#'+classifier_name+'\\_nonrel').addClass('assigned')
                                        $('#history').prepend('<span class="agreement">🗑</span>');
                                        var histsize = parseInt($("#histsize").val());
                                        $('#history').children().slice(histsize).remove();
                                        $.ajax({
                                            type:'POST',
                                            url:'${classifier_path}/hide',
                                            data: { name: classifier_name, X: [last_text]}})
                                        .fail(function(msg) {
                                            custom_alert(msg);
                                        });
                                    };
                                })());
                                $('#assignments\\_'+msg[i].name).append(hideline);
                            }
                        }
                        $('#classifiers\\_list').append($('#classifiers\\_list > div').get().sort(function (a, b) {
                            return $(a)[0].id.localeCompare($(b)[0].id);
                        }));
                        if($('#all\\_correct').length==0) {
                            var next_button = jQuery('<div id="next" class="right">Next</div>');
                            next_button.button({ icons: {primary:'ui-icon-arrow-1-e'} });
                            next_button.click(next_doc);
                            $('#suggestions').append(next_button);
                            var all_correct = jQuery('<div id="all_correct" class="right"><span class="suggested">Suggestions</span> are correct</div>');
                            all_correct.button({ icons: {primary:'ui-icon-check'} });
                            all_correct.click(function() {
                                $('#suggestions div div .suggested').each(function(i,item) {
                                    item.click();
                                });
                            });
                            if(!$('#showsugg').is(':checked')) {
                                all_correct.hide();
                                $('#historybox').hide();
                            }
                            $('#suggestions').append(all_correct);
                        }
                    }
            });
        }

        function use() {
            var classifier_item = $(this).siblings('.classifier\\_name');
            var classifier_name = classifier_item.text();
            var item = $('#use\\_button\\_'+classifier_name);
            if(item.hasClass('ui-state-focus')) {
                classifier_item.removeClass('ui-state-highlight');
                item.removeClass('ui-state-focus');
                item.button({icons: {primary :'ui-icon-plus'}});
                delete selected_classifiers[classifier_name];
                $('#suggestions\\_'+classifier_name).detach().appendTo('#pool');
            }
            else {
                classifier_item.addClass('ui-state-highlight');
                item.addClass('ui-state-focus');
                item.button({icons: {primary :'ui-icon-check'}});
                selected_classifiers[classifier_name] = true;
                $('#suggestions\\_'+classifier_name).detach().appendTo('#suggestions');
                classify();
            }
        }

        function create_classifier() {
            name = $("#name").val();
            if(!name.match(/^[a-zA-Z0-9_]+$/)) {
                custom_alert("The name of the classifier can only contain letters, numbers and the underscore character '_'");
                return false;
            }
            labelsString = $("#labels").val();
            if(!labelsString.match(/^[a-zA-Z0-9_,]+$/)) {
                custom_alert("The names of labels can only contain letters, numbers and the underscore character '_'");
                return false;
            }
            labels = labelsString.split(',');
            type = $("#type").val();
            var data = {name: name, labels: labels, type: type} ;
            $.ajax({
                type: "POST",
                url: "${classifier_path}/create",
                data: data})
            .done(update)
            .fail(function(errMsg) {
                custom_alert(errMsg.responseText);
            });
            return false ;
        };

        function duplicate_classifier() {
            name = $("#dup\\_name").val();
            if(!name.match(/^[a-zA-Z0-9_]+$/)) {
                custom_alert("The name of the classifier can only contain letters, numbers and the underscore character '_'");
                return false;
            }
            dup_from = $("#dup\\_from").val();
            var duplicatetype = $("#dup\\_type").val();
            var data = {name: dup_from, new_name: name, type: duplicatetype};
            $.ajax({
                type: "POST",
                url: "${classifier_path}/duplicate",
                data: data})
            .done(update)
            .fail(function(errMsg) {
                custom_alert(errMsg.responseText);
            });
            return false ;
        };

        last_text = ""
        function classify() {
            if($('#showsugg').is(':checked')) {
                var text = $("#textbox").val();
                var force = text!=last_text;
                if(force) {
                    reset_labels();
                }
                last_text = text;
                $('#suggestions div[id^=suggestions] .ui-widget-header').each(function(i,item) {
                    var classifier_name = $(item).text();
                    var assigned = $('#assignments\\_'+classifier_name).children('.scoreline.assigned').length>0;
                    if(!assigned||force) {
                        $.ajax({
                            type:'POST',
                            url:'${classifier_path}/classify',
                            data: { name: classifier_name, X: [text] },
                            dataType: 'json'})
                        .done(function(msg) {
                            var suggested = msg[0];
                            assigned = $('#assignments\\_'+classifier_name).children('.scoreline.assigned').length>0;
                            if(!assigned || force) {
                                $('#assignments\\_'+classifier_name).children('.scoreline').removeClass('assigned');
                                $('#assignments\\_'+classifier_name).children('.scoreline').removeClass('suggested');
                                $('#assignments\\_'+classifier_name).children('.scoreline').addClass('not_relevant');
                                $('#suggestion\\_'+classifier_name+'\\_'+suggested).removeClass('not_relevant');
                                $('#suggestion\\_'+classifier_name+'\\_'+suggested).addClass('suggested');
                            }
                        });
                    }
                });
            }
        }

        function position_changed() {
            var position = parseInt($("#position").val());
            if(isNaN(position))
                position = 0;
            if(position>=datasetsize)
                position = datasetsize-1;
                $("#position").val(position);
            if(position<0)
                position = 0;

            $.ajax({
                type:'POST',
                url:'${dataset_path}/document_by_position',
                data: { name: dataset_name , position: position },
                dataType: 'json'})
            .done(function(msg) {
                $('#external-id').text(msg['external_id']);
                $('#uploaded').text(msg['created']);
                $('#textbox').val(msg['text']).trigger('input');
            });
        }

        function goto_first() {
                $('#position').val(0).change();
        }

        function goto_last() {
                $('#position').val(datasetsize-1).change();
        }

        function change_autobrowse() {
            autobrowse += 1;
            if(autobrowse>= autobrowsevalues.length)
                autobrowse = 0;
            $('#direction').text(autobrowsevalues[autobrowse][0]);
            if(autobrowsevalues[autobrowse][0]==browse_diff) {
                $('#showsugg').prop('checked', false);
                show_suggestions();
                next_doc();
            }
            else if(autobrowsevalues[autobrowse][0]==browse_next) {
                $('#showsugg').prop('checked', true);
                show_suggestions();
                goto_first();
            }
            else if(autobrowsevalues[autobrowse][0]==browse_random) {
                $('#showsugg').prop('checked', true);
                show_suggestions();
                next_doc();
            }
        }

        function reset_labels() {
            $('#suggestions div[id^=suggestions] .ui-widget-header').each(function(i,item) {
                var classifier_name = $(item).text();
                $('#assignments\\_'+classifier_name).children('.scoreline').removeClass('assigned');
                $('#assignments\\_'+classifier_name).children('.scoreline').removeClass('suggested');
                $('#assignments\\_'+classifier_name).children('.scoreline').addClass('not_relevant');
            });
            $('#pool div[id^=suggestions] .ui-widget-header').each(function(i,item) {
                var classifier_name = $(item).text();
                $('#assignments\\_'+classifier_name).children('.scoreline').removeClass('assigned');
                $('#assignments\\_'+classifier_name).children('.scoreline').removeClass('suggested');
                $('#assignments\\_'+classifier_name).children('.scoreline').addClass('not_relevant');
            });
        }

        function next_doc() {
            var classifier_name = null;
            var class_count = $('#classifiers\\_list div div.ui-state-focus').siblings('.classifier\\_name').length
            if(class_count>0)
                classifier_name = $('#classifiers\\_list div div.ui-state-focus').siblings('.classifier\\_name')[Math.floor(Math.random() * class_count)].textContent;
            if(autobrowsevalues[autobrowse][0]==browse_next) {
                var newposition = parseInt($("#position").val())+1;
                if(newposition<=datasetsize) {
                    $('#position').val(newposition).change();
            }
            }
            //else if(autobrowsevalues[autobrowse][0]==browse_prev) {
            //    var newposition = parseInt($("#position").val())-1;
            //    if(newposition>0) {
            //        $('#position').val(newposition).change();
            //    }
            //}
            else if(autobrowsevalues[autobrowse][0]==browse_random) {
                var newposition = Math.floor(Math.random() * datasetsize);
                $('#position').val(newposition).change();
            }
            else
            if(autobrowsevalues[autobrowse][0]==browse_diff) {
                if(classifier_name==null) {
                    var newposition = Math.floor(Math.random() * datasetsize);
                    $('#position').val(newposition).change();
                }
                else {
                    $.ajax({
                        type:'POST',
                        url:'${dataset_path}/most_uncertain_document_id',
                        data: { name: dataset_name , classifier_name: classifier_name },
                        dataType: 'json'})
                    .done(function(msg) {
                        var newposition = parseInt(msg);
                        $('#position').val(newposition).change();
                    })
                    .fail(function(errMsg) {
                        custom_alert(errMsg.responseText);
                    });
                }
            }
            //else if(autobrowsevalues[autobrowse][0]==browse_easy) {
            //    if(classifier_name==null) {
            //        var newposition = Math.floor(Math.random() * datasetsize);
            //        $('#position').val(newposition).change();
            //    }
            //    else {
            //        $.ajax({
            //            type:'POST',
            //            url:'${dataset_path}/most_certain_document_id',
            //            data: { name: dataset_name , classifier_name: classifier_name },
            //            dataType: 'json'})
            //        .done(function(msg) {
            //            var newposition = parseInt(msg);
            //            $('#position').val(newposition).change();
            //        })
            //        .fail(function(errMsg) {
            //            custom_alert(errMsg.responseText);
            //        });
            //    }
            //}
            else if(autobrowsevalues[autobrowse][0]==browse_hidden) {
                if(classifier_name==null) {
                    var newposition = Math.floor(Math.random() * datasetsize);
                    $('#position').val(newposition).change();
                }
                else {
                    $.ajax({
                        type:'POST',
                        url:'${dataset_path}/random_hidden_document_id',
                        data: { name: dataset_name , classifier_name: classifier_name},
                        dataType: 'json'})
                    .done(function(msg) {
                        var newposition = parseInt(msg);
                        $('#position').val(newposition).change();
                    })
                    .fail(function(errMsg) {
                        custom_alert(errMsg.responseText);
                    });
                }
            }
        }

        function show_suggestions() {
            if($('#showsugg').is(':checked')) {
                $('#all\\_correct').show();
                $('#historybox').show();
                classify();
            }
            else {
                $('#suggestions div[id^=suggestions] .ui-widget-header').each(function(i,item) {
                    var classifier_name = $(item).text();
                    $('#assignments\\_'+classifier_name).children('.scoreline').each(function(i,item) {
                        if($(item).hasClass('suggested')) {
                            $(item).removeClass('suggested');
                            $(item).addClass('not_relevant');
                        }
                    });
                });
                $('#all\\_correct').hide();
                $('#historybox').hide();
            }
        }

        $( document ).ready(function() {
            var pathname = window.location.pathname;
            dataset_name = pathname.substring(pathname.lastIndexOf('/')+1)
            $('#datasetname').text(dataset_name);

            $('#direction').text(autobrowsevalues[autobrowse][0]);

            $("#textbox").on("keyup",function() {
                text = $("#textbox").val();
                if(text!=last_text) {
                    $('#external-id').text('n/a');
                    $('#uploaded').text('not from dataset');
                }
            });
            $("#textbox").on("input",function() {
                delay(function() {
                $('#classifiers\\_list div div.ui-state-focus').each(function(){$('#suggestions\\_'+$(this).siblings('.classifier\\_name').text()).detach().appendTo('#suggestions').show();});
                reset_labels();
                classify();
            },delay_interval);});

            $("#create\\_classifier").submit(create_classifier);
            $("#duplicate\\_classifier").submit(duplicate_classifier);

            //$('#force\\_update').button().click(update);
            $( "input[type=submit]" ).button();

            $('#position').change(position_changed);

            $( 'div[id^="browse"]' ).button();
            $('#browse\\_first').click(goto_first);
            $('#browse\\_last').click(goto_last);
            $('#browse\\_autobrowse').click(change_autobrowse);

            $('#showsugg').change(show_suggestions);

            timed_update();
            goto_first();

        });
    </script>
</%block>

<div id="main" class="padded ui-widget ui-widget-content">
    <div id="sidebar">
        <div class="margined ui-corner-all ui-widget ui-widget-content" id="classifiers_list">
        </div>
        <!--<div class="padded ui-corner-all ui-widget ui-widget-content" id="force_update">Force update
        </div>-->
        <div class="margined  ui-corner-all ui-widget ui-widget-content" id="classifier_create">
            <div class="padded ui-widget-header ui-corner-all">Create a classifier from scratch:</div>
            <form id="create_classifier" class="margined" action="#" method="post">
                <p>
                <label for="name">Name:</label>
                <input type="text" id="name" /> </p>
                <p>
                <label for="labels">Labels (comma separated):</label>
                <input type="text" id="labels" /> </p>
                 <p>
                    <label for="type">Type:</label>
                    <select id="type">
<%! from db import sqlalchemydb %>
% for classifier_type in sqlalchemydb._CLASSIFIER_TYPES[:-1]:
                        <option value="${classifier_type}">${classifier_type}</option>
% endfor
                    </select></p>
                <p><label></label>
                <input type="submit" value="Create" />
                </p>
            </form>
        </div>
        <div class="margined  ui-corner-all ui-widget ui-widget-content" id="classifier_duplicate">
            <div class="padded ui-widget-header ui-corner-all">Create a classifier from another one:</div>
            <form id="duplicate_classifier" class="margined" action="#" method="post">
                <p>
                <label for="name">Name:</label>
                <input type="text" id="dup_name" /> </p>
                 <p>
                    <label for="dup_from">From:</label>
                    <select id="dup_from">
                    </select></p>
                 <p>
                    <label for="dup_type">Type:</label>
                    <select id="dup_type">
<%! from db import sqlalchemydb %>
% for classifier_type in sqlalchemydb._CLASSIFIER_TYPES[:-1]:
                        <option value="${classifier_type}">${classifier_type}</option>
% endfor
                    </select></p>
                <p><label></label>
                <input type="submit" value="Create" />
                </p>
            </form>
        </div>
    </div>
    <div id="center">
        <div class="margined ui-corner-all ui-widget ui-widget-content" >
            <div class="padded ui-widget-header ui-corner-all">Browse dataset '<span id="datasetname">NULL</span>':</div>
            <div class="padded">
                <div class="hidden"><label class="ui-button right" for="showsugg">Show labeling <span class="suggested">suggestions</span> <input type="checkbox" id="showsugg" ></label></div>

                <div class="ui-button">Current: <input id='position' type="number" min=0 max=0 value=0>/<span id="size">NULL</span></div>
                <div id="browse_first">First</div>
                <div id="browse_last">Last</div>
                <div id="browse_autobrowse" class="right">Browsing mode: <span id='direction'>NULL</span></div>
                <div class="margined">ID: <span id="external-id">NULL</span></div>
                <div class="margined">Uploaded: <span id="uploaded">NULL</span></div>
            </div>
        </div>
        <div class="margined ui-corner-all ui-widget ui-widget-content">
            <div class="padded ui-widget-header ui-corner-all">Classify text:</div>
            <div class="padded"><textarea id="textbox" class="textbox padded" placeholder="Text to code"></textarea></div>
                <div id="historybox" class="margined padded ui-widget-content suggestion-container">
                   Accuracy on last <input id="histsize" type="number" min="10" max="500" value="50">: <span id="accuracy">n/a</span><br/> Agreement history: <div id="history"></div>
                </div>
                <div id="suggestions" class="margined padded ui-widget-content suggestion-container"></div>
                <div id="pool" style="display:none;"></div>
        </div>
    </div>
</div>
