<%inherit file="basewithmenu.html" />
<%block name="head">
${parent.head()}
    <script type="text/javascript">
       update_interval=5000
       delay_interval=500
        last_update = 0
        page = 1;
        page_size = 10;

        pagination_div = jQuery('<div id="pagination" class="right plain">\
                         page<input id="page" style="width:3em;" type="number" min="1" value="1"/>\
                         /<span id="pagecount">X</span>\
                         count<select id="pagesize"><option value="10" selected>10</option>\
                         <option value="20">20</option><option value="50" >50</option>\
                         <option value="100">100</option><option value="200">200</option></select></div></div>');

        function timed_update() {
            now = Date.now();
            if(now-last_update>update_interval)
                update();
            setTimeout(timed_update,update_interval);
        }

        datasetname = 'NULL';

        function update() {
            last_update = Date.now();
            var count = parseInt($(pagination_div.children()[2]).val())
            $.ajax({
                type:'POST',
                url:'${dataset_path}/classification_count',
                data: { name : datasetname},
                dataType: 'json'})
            .done(function(msg) {
                count = parseInt(msg);
                var maxpage = Math.ceil(count/parseInt($(pagination_div.children()[2]).val()))
                $(pagination_div.children()[0]).attr({
                       "max" : maxpage
                    });
                $(pagination_div.children()[1]).text(maxpage)
            });
            $.ajax({
                type:'POST',
                url:'${dataset_path}/classification_info',
                data: { name : datasetname, page : parseInt($(pagination_div.children()[0]).val())-1, page_size :$(pagination_div.children()[2]).val()},
                dataType: 'json'})
            .done(function(msg) {
                if(msg.length==0) {
                    $('#data\\_list').html('<div id="nodata" class="padded ui-widget-header ui-corner-all">No classification available for dataset \''+datasetname+'\'</div>');
                    $('#page').val(1);
                }
                else {
                    if($('#gotdata').length==0) {
                        $('#data\\_list').html('<div id="gotdata" class="padded ui-widget-header ui-corner-all">Classifications for dataset \''+datasetname+'\':</div>\
                        <div id="job" class="table margined ui-widget-content ui-corner-all"><div id="zz"><div>id</div><div>Classifier</div><div>Created</div><div>Completed</div><div>Status</div><div>Actions</div></div></div>');
                        $('#gotdata').prepend(pagination_div);
                    }
                    var curr_list = {};
                    $('#job').children().each(function (index, value) {if(value.id.startsWith('job_')) { curr_list[value.id]=true;}});
                    for(var i = 0;i<msg.length;++i) {
                        item = jQuery('<div id=\'job_'+msg[i].id+'\'>\
                        <div class="id">'+msg[i].id+'</div>\
                        <div>'+msg[i].classifiers+'</div>\
                        <div>'+msg[i].creation.slice(0,-13)+'</div>\
                        <div>'+msg[i].completion.slice(0,-13)+'</div>\
                        <div>'+msg[i].status+'</div>\
                        <div><ul id="actions_'+msg[i].name+'"><li>Actions<ul>\
                        <li><div id="view_'+msg[i].id+'">View</div></li>\
                        <li><div id="download_'+msg[i].id+'">Download</div></li>\
                        <li><div id="delete_'+msg[i].id+'">Delete</div></div></li>\
                        </ul></li></ul></div>');
                        if ($('#job\\_'+msg[i].id).length!=0) {
                            $('#job\\_'+msg[i].id).replaceWith(item);
                            delete curr_list['job_'+msg[i].id];
                        }
                        else
                            $('#job').append(item);
                        $('#actions\\_'+msg[i].name).menu();
                        //$('#delete\\_'+msg[i].id).button({ icons: {primary:'ui-icon-trash'} });
                        $('#delete\\_'+msg[i].id).click(delete_classification.bind(null,msg[i].id));
                        //$('#download\\_'+msg[i].id).button({ icons: {primary:'ui-icon-arrowthickstop-1-s'} });
                        $('#download\\_'+msg[i].id).click(download_classification.bind(null,msg[i].id));
                        //$('#view\\_'+msg[i].id).button({ icons: {primary:'ui-icon-search'} });
                        $('#view\\_'+msg[i].id).click(view_classification.bind(null,msg[i].id));
                    }
                    for (var key in curr_list) {
                        $('#'+key).remove();
                    }
                    $('#job').append($('#job > div').get().sort(function (a, b) {
                        return -$(a)[0].id.localeCompare($(b)[0].id);
                    }));
                }
                $('#page').unbind('keyup mouseup');
                $('#pagesize').unbind('keyup mouseup');
                $('#page').bind('keyup mouseup',update);
                $('#pagesize').bind('keyup mouseup',update);
            });

            $.ajax({
                type:'POST',
                url:'${classifier_path}/info',
                dataType: 'json'})
            .done(function(msg) {
                var valid_classifiers = {}
                var added = false;
                for(var i = 0;i<msg.length;++i) {
                    valid_classifiers[msg[i].name] = true;
                    if($('#do\\_opt\\_'+msg[i].name).length==0) {
                        added = true;
                        $('#do\\_name').append($('<option id="do_opt_'+msg[i].name+'"/>').val(msg[i].name).text(msg[i].name));
                    }
                }
                $('#do\\_name').children().each(function (index, value) {if(!valid_classifiers[value.id.slice(7)]) {$('#'+value.id).remove();}});
                if(added) {
                    $('#do\\_name').append($('#do\\_name > option').get().sort(function (a, b) {
                        return $(a)[0].id.localeCompare($(b)[0].id);
                    }));
                }
                $('#do\\_name').select2({
                    placeholder: 'Select the classifier',
                    width: 'element'
                });
            });
        }

        function delete_classification(classification_id) {
            if(!confirm('Please confirm the DELETE request, proceed?'))
                return;
            $('#job\\_'+classification_id).hide();
            $.ajax({
                type:'POST',
                url:'${dataset_path}/classification_delete',
                data: { id : classification_id }})
            .done(update)
            .fail(function () {
                    $('#job\\_'+classification_id).show();
            });
        };

        function download_classification(classification_id) {
            var form = $('<form></form>').attr('action', '${dataset_path}/classification_download/'+classification_id).attr('method', 'post');
            form.appendTo('body').submit().remove();
        };

        function view_classification(classification_id) {
            window.location = '${mount_dir}/classification_view/'+datasetname+'/'+classification_id;
        };

        function classify() {
            classifiers = [$("#do\\_name").val()]
            $('.ui-state-highlight').each(function(i,item) {
                classifiers.push($(item).text());
            })
            $.ajax({
                type:'POST',
                url:'${dataset_path}/classify',
                data: { name : datasetname, classifiers : classifiers }})
            .done(update)
            .fail(function (msg) { custom_alert(msg.responseText);  });
            return false;
        }


        $( document ).ready(function() {
            var pathname = window.location.pathname;
            datasetname = pathname.substring(pathname.lastIndexOf('/')+1)
            $('#datasetname').text(datasetname);
            $("#do\\_classify").submit(classify);

            $( "input[type=submit]" ).button();

            //$('#force\\_update').button().click(update);

            timed_update();
        });
    </script>
</%block>

<div id="main" class="padded ui-widget ui-widget-content">
    <div id="sidebar">
        <div class="margined  ui-corner-all ui-widget ui-widget-content" id="classifier_duplicate">
            <div class="padded ui-widget-header ui-corner-all">Classify dataset using:</div>
            <form id="do_classify" class="margined" action="#" method="post">
                 <p>
                    <label class="margined"  for="do_name">Classifier:</label>
                    <select class="margined"  id="do_name">
                    </select></p>
                <p><label></label>
                <input  class="margined" type="submit" value="Classify" />
                </p>
            </form>
        </div>
        <!--<div class="padded ui-corner-all ui-widget ui-widget-content" id="force_update">Force update
        </div>-->
    </div>
    <div id="center">
        <div id="data_list" class="margined ui-widget-content suggestion-container"></div>
    </div>
</div>
