<%inherit file="base.html" />
<%block name="head">
    <script type="text/javascript">
       update_interval=5000
       delay_interval=500
        last_update = 0
        function timed_update() {
            now = Date.now();
            if(now-last_update>update_interval)
                update();
            setTimeout(timed_update,update_interval);
        }

        datasetname = 'NULL';

        function update() {
            last_update = Date.now();
            $.ajax({
                type:'POST',
                url:'${dataset_path}/get_classification_jobs',
                data: { name : datasetname },
                dataType: 'json'})
            .done(function(msg) {
                    if(msg.length==0) {
                        $('#classification').html('<div class="padded ui-widget-header ui-corner-all">No classification available for dataset \''+datasetname+'\'</div>');
                    }
                    else {
                        if($('#gotclassification').length==0)
                            $('#classification').html('<div id="gotclassification" class="padded ui-widget-header ui-corner-all">Classifications for dataset \''+datasetname+'\':</div>\
                            <div id="job" class="table margined ui-widget-content ui-corner-all"><div><div>id</div><div>classifiers</div><div>created</div><div>completed</div><div>status</div><div>actions</div></div></div>');
                        var curr_list = {};
                        $('#job').children().each(function (index, value) {if(value.id.startsWith('job_')) { curr_list[value.id]=true;}});
                        for(var i = 0;i<msg.length;++i) {
                            item = jQuery('<div id=\'job_'+msg[i].id+'\'>\
                            <div class="id">'+msg[i].id+'</div>\
                            <div>'+msg[i].classifiers+'</div>\
                            <div>'+msg[i].creation+'</div>\
                            <div>'+msg[i].completion+'</div>\
                            <div>'+msg[i].status+'</div>\
                            <div><div id="download_'+msg[i].id+'">Download</div>\
                            <div id="delete_'+msg[i].id+'">Delete</div></div>\
                            </div>');
                            if ($('#job\\_'+msg[i].id).length!=0) {
                                $('#job\\_'+msg[i].id).replaceWith(item);
                                delete curr_list['job_'+msg[i].id];
                            }
                            else
                                $('#job').append(item);
                            $('#delete\\_'+msg[i].id).button({ icons: {primary:'ui-icon-trash'} });
                            $('#delete\\_'+msg[i].id).click(delete_classification);
                            $('#download\\_'+msg[i].id).button({ icons: {primary:'ui-icon-arrowthickstop-1-s'} });
                            $('#download\\_'+msg[i].id).click(download_classification);
                        }
                        for (var key in curr_list) {
                            $('#'+key).remove();
                        }
                    }
            });

            $.ajax({
                type:'POST',
                url:'${classifier_path}/',
                dataType: 'json'})
            .done(function(msg) {
                    $('#classifiers\\_list div .classifier\\_name').each(function(i,item) {
                        var found = false;
                        for(var i = 0;i<msg.length;++i) {
                            if($(item).text()==msg[i].name) {
                                found = true;
                                break;
                            }
                        }
                        if(!found) {
                            $('#suggestions\\_'+$(item).text()).remove();
                            $(item).parent().remove();
                        }
                    });
                    if(msg.length==0) {
                        $('#classifiers\\_list').html('<div class="padded ui-widget-header ui-corner-all">No classifiers available</div>');
                    }
                    else {
                        if($('#gotclassifiers').length==0)
                            $('#classifiers\\_list').html('<div id="gotclassifiers" class="padded ui-widget-header ui-corner-all">Select classifiers:</div>');
                        for(var i = 0;i<msg.length;++i) {
                            if($('#classifier\\_'+msg[i].name).length==0) {
                                $('#classifiers\\_list').append('<div class=\'padded margined ui-widget-content hideoverflow\' id=\'classifier_'+msg[i].name+'\'><div id=\'classifier_name_'+msg[i].name+'\' class=\'inline padded ui-corner-all classifier_name\'>'+msg[i].name+'</div><div class=\'use_button_'+msg[i].name+' right\'>Use</div></div>');
                                $('.use\\_button\\_'+msg[i].name).button({ icons: {primary:'ui-icon-star'} });
                                $('.use\\_button\\_'+msg[i].name).click(
                                    (function() {
                                        var classifier_name = msg[i].name;
                                        return function() {
                                            var item = $(this).siblings('.classifier\\_name');
                                            item.toggleClass('ui-state-highlight');
                                        }
                                })());
                            }
                        }
                        if($('#classify\\_button').length==0) {
                            $('#classifiers\\_list').append('<div id="classify_button">Classify the dataset</div>');
                            $('#classify\\_button').button({ icons: {primary:'ui-icon-tag'} });
                            $('#classify\\_button').click(classify);
                        }
                    }
            });
        }

        function delete_classification() {
            if(!confirm('Please confirm the DELETE request, proceed?'))
                return;
            var classification_id = $(this).parent().siblings('.id').text();
            $('#job\\_'+classification_id).hide();
            $.ajax({
                type:'POST',
                url:'${dataset_path}/delete_classification',
                data: { id : classification_id }})
            .done(update)
            .fail(function () {
                    $('#job\\_'+classification_id).show();
            });
        };

        function download_classification() {
            var classification_id = $(this).parent().siblings('.id').text();
            var form = $('<form></form>').attr('action', '${dataset_path}/download_classification/'+classification_id).attr('method', 'post');
            form.appendTo('body').submit().remove();
        };

        function classify() {
            classifiers = []
            $('.ui-state-highlight').each(function(i,item) {
                classifiers.push($(item).text());
            })
            $.ajax({
                type:'POST',
                url:'${dataset_path}/classify',
                data: { name : datasetname, classifiers : classifiers }})
            .done(update)
            .fail(function (msg) { custom_alert(msg.responseText);  });
        }


        $( document ).ready(function() {
            var pathname = window.location.pathname;
            datasetname = pathname.substring(pathname.lastIndexOf('/')+1)
            $('#datasetname').text(datasetname);

            $( "input[type=submit]" ).button();

            //$('#force\\_update').button().click(update);

            timed_update();
        });
    </script>
</%block>

<div id="main" class="padded ui-widget ui-widget-content">
    <div id="sidebar">
        <div class="margined ui-corner-all ui-widget ui-widget-content" id="classifiers_list">
        </div>
        <!--<div class="padded ui-corner-all ui-widget ui-widget-content" id="force_update">Force update
        </div>-->
    </div>
    <div id="center">
        <div id="classification" class="margined ui-widget-content suggestion-container"></div>
    </div>
</div>
