<%inherit file="basewithmenu.html" />
<%block name="head">
${parent.head()}
<script type="text/javascript">
        update_interval=5000
        last_update = 0
        page = 1;
        page_size = 20;

        pagination_div = jQuery('<div id="pagination" class="right plain">\
                         page<input id="page" style="width:3em;" type="number" min="1" value="1"/>\
                         /<span id="pagecount">X</span>\
                         count<select id="pagesize"><option value="10">10</option>\
                         <option value="20" selected>20</option><option value="50" >50</option>\
                         <option value="100">100</option><option value="200">200</option></select></div></div>');

        function timed_update() {
            now = Date.now();
            if(now-last_update>update_interval)
                update();
            setTimeout(timed_update,update_interval);
        }

        function update() {
            last_update = Date.now();
            var count = parseInt($(pagination_div.children()[2]).val())
            $.ajax({
                type:'POST',
                url:'${classifier_path}/count',
                dataType: 'json'})
            .done(function(msg) {
                count = parseInt(msg);
                var maxpage = Math.ceil(count/parseInt($(pagination_div.children()[2]).val()))
                $(pagination_div.children()[0]).attr({
                       "max" : maxpage
                    });
                $(pagination_div.children()[1]).text(maxpage)
            });
            $.ajax({
                type:'POST',
                url:'${classifier_path}/info',
//                data: { page : parseInt($(pagination_div.children()[0]).val())-1, page_size :$(pagination_div.children()[2]).val()},
                dataType: 'json'})
            .done( function(msg) {
                if(msg.length==0) {
                    $('#data\\_list').html('<div id="nodata" class="padded ui-widget-header ui-corner-all">No classifier available</div>');
                    $('#page').val(1);
                }
                else {
                    if($('#gotdata').length==0) {
                        $('#data\\_list').html('<div id="gotdata" class="padded ui-widget-header ui-corner-all">Classifiers:</div>\
                        <div id="data" class="table margined ui-widget-content ui-corner-all">\
                        <div><div>Name</div>\
                        <div>Labels</div>\
                        <div>Description</div>\
                        <div>Type</div>\
                        <div>Size</div>\
                        <div>Created</div>\
                        <div>Updated</div>\
                        <div>Actions</div>\
                        </div></div>');
                        $('#gotdata').prepend(pagination_div);
                    }
                    var page = parseInt($(pagination_div.children()[0]).val())-1;
                    var page_size = parseInt($(pagination_div.children()[2]).val());
                    var start = Math.min((page)*page_size,msg.length);
                    var end = Math.min((page+1)*page_size,msg.length);
                    $('#data\\_list div .classifier\\_name').each(function(i,item) {
                        var found = false;
                        for(var i = start;i<end;++i) {
                            if($(item).text()==page_msg[i].name) {
                                found = true;
                                break;
                            }
                        }
                        if(!found) {
                            $(item).parent().remove();
                        }
                    });
                    var curr_list = {};
                    $('#data').children().each(function (index, value) {if(value.id.startsWith('entry_')) { curr_list[value.id]=true;}})
                    var updated_list = {};
                    var added = false;
                    for(var i = 0;i<msg.length;++i) {
                        var name_string = msg[i].name
                        updated_list[name_string] = true;
                        var sort_string = msg[i].name.replace(/\W/g,'X')
                        if($('#dup\\_opt\\_'+name_string).length==0) {
                            added = true;
                            $('#dup\\_from').append($('<option title="'+msg[i].description+'" id="dup_opt_'+name_string+'"/>').val(name_string).text(name_string));
                            $('#comb\\_from').append($('<option title="'+msg[i].description+'" id="comb_opt_'+name_string+'"/>').val(name_string).text(name_string));
                        }
                        if (i >=start && i<end) {
                            item = jQuery('<div id=\'entry_'+sort_string+'\'>\
                            <div class="id">'+msg[i].name+'</div>\
                            <div>'+String(msg[i].labels).replace(/,/g,', ')+'</div>\
                            <div class="small" id="classifier_description_'+msg[i].name+'">'+msg[i].description+'</div>\
                            <div class="small">'+msg[i].type+'</div>\
                            <div class="small">'+msg[i].size+'</div>\
                            <div class="small">'+msg[i].created.slice(0,-13)+'</div>\
                            <div class="small">'+msg[i].updated.slice(0,-13)+'</div>\
                            <div><ul id="actions_'+name_string+'"><li>Actions<ul>\
                                <li><div id="rename_button_'+name_string+'">Rename</div></li>\
                                <li><div id="rename_label_button_'+name_string+'">Rename label</div></li>\
                                <li><div id="description_button_'+name_string+'">Change description</div></li>\
                                <li><div id="extract_button_'+name_string+'">Extract labels as classifiers</div></li>\
                                <li><div id="view_button_'+name_string+'">View training data</div></li>\
                                <li><div id="download_button_'+name_string+'">Download training data</div></li>\
                                <li><div id="download_model_button_'+name_string+'">Download classification model</div></li>\
                                <li><div id="del_button_'+name_string+'">Delete</div></li>\
                            </ul></li></ul></div>\
                            </div>');
                            if ($('#entry\\_'+sort_string).length!=0) {
                                $('#entry\\_'+sort_string).replaceWith(item)
                                delete curr_list['entry_'+sort_string];
                            }
                            else {
                                $('#data').append(item);
                            }
                            $('#actions\\_'+name_string).menu();
                            //$('#view\\_button\\_'+name_string).button({ icons: {primary:'ui-icon-search'} });
                            $('#view\\_button\\_'+name_string).click(view_training_data.bind(null,name_string));
                            //$('#download\\_button\\_'+name_string).button({ icons: {primary:'ui-icon-arrowthickstop-1-s'} });
                            $('#download\\_button\\_'+name_string).click(download_training_data.bind(null,name_string));
                            //$('#download\\_model\\_button\\_'+name_string).button({ icons: {primary:'ui-icon-arrowthickstop-1-s'} });
                            $('#download\\_model\\_button\\_'+name_string).click(download_model.bind(null,name_string));
                            //$('#select\\_button\\_'+name_string).click(select_classifier.bind(null,name_string));
                            //$('#extract\\_button\\_'+name_string).button({ icons: {primary:'ui-icon-extlink'} });
                            $('#extract\\_button\\_'+name_string).click(extract_classifier.bind(null,name_string));
                            //$('#rename\\_button\\_'+name_string).button({ icons: {primary:'ui-icon-tag'} });
                            $('#rename\\_button\\_'+name_string).click(rename_classifier.bind(null,name_string));
                            //$('#description\\_button\\_'+name_string).button({ icons: {primary:'ui-icon-tag'} });
                            $('#description\\_button\\_'+name_string).click(classifier_description.bind(null,name_string));
                            //$('#rename\\_label\\_button\\_'+name_string).button({ icons: {primary:'ui-icon-tag'} });
                            $('#rename\\_label\\_button\\_'+name_string).click(rename_classifier_label.bind(null,name_string));
                            //$('#del\\_button\\_'+name_string).button({ icons: {primary:'ui-icon-trash'} });
                            $('#del\\_button\\_'+name_string).click(delete_classifier.bind(null,name_string));
                        }
                    }
                    for (var key in curr_list) {
                        $('#'+key).remove();
                    }
                    $('#dup\\_from').children().each(function (index, value) {if(!updated_list[value.id.slice(8)]) {$('#'+value.id).remove();}});
                    $('#comb\\_from').children().each(function (index, value) {if(!updated_list[value.id.slice(9)]) {$('#'+value.id).remove();}});
                    $('#data').append($('#data > div').get().sort(function (a, b) {
                        return $(a)[0].id.localeCompare($(b)[0].id);
                    }));
                    if(added) {
                        $('#dup\\_from').append($('#dup\\_from > option').get().sort(function (a, b) {
                            return $(a)[0].id.localeCompare($(b)[0].id);
                        }));
                        $('#comb\\_from').append($('#comb\\_from > option').get().sort(function (a, b) {
                            return $(a)[0].id.localeCompare($(b)[0].id);
                        }));
                    }
                    $('#comb\\_from').attr('size',Math.min(10,Object.keys(updated_list).length));
                    $('#comb\\_from').select2({
                        placeholder: 'Select the classifiers to combine',
                        width: 'element'
                    });
                    $('#dup\\_from').select2({
                        placeholder: 'Select the source classifier',
                        width: '100%'
                    });
                }
                $('#uploadingdiv').remove();
                $("#upload\\_button").button( "option", "disabled", false );
                $('#modeluploadingdiv').remove();
                $("#model\\_upload\\_button").button( "option", "disabled", false );
                $('#page').unbind('keyup mouseup');
                $('#pagesize').unbind('keyup mouseup');
                $('#page').bind('keyup mouseup',update);
                $('#pagesize').bind('keyup mouseup',update);
            });
        }

        function create_classifier() {
            name = $("#create\\_name").val();
            if(!name.match(/^[a-zA-Z0-9_]+$/)) {
                custom_alert("The name of the classifier can only contain letters, numbers and the underscore character '_'");
                return false;
            }
            labelsString = $("#labels").val();
            if(!labelsString.match(/^[a-zA-Z0-9_,]+$/)) {
                custom_alert("The names of labels can only contain letters, numbers and the underscore character '_'");
                return false;
            }
            labels = labelsString.split(',');
            type = $("#type").val();
            var data = {name: name, labels: labels, type: type} ;
            $.ajax({
                type: "POST",
                url: "${classifier_path}/create",
                data: data})
            .done(update)
            .fail(function(errMsg) {
                custom_alert(errMsg.responseText);
            });
            return false;
        };

        function upload_examples() {
            if($('#dataFile')[0].files.length!=1) {
                custom_alert("Must select a file.");
                return false;
            }
            var data = new FormData()
            data.append("file", $('#dataFile')[0].files[0]);
            $.ajax({
                type: "POST",
                url: "${classifier_path}/upload_training_data",
                data: data,
                enctype: 'multipart/form-data',
                processData: false,
                contentType: false})
            .done(function() {
                $( "#upload\\_button" ).button( "option", "disabled", true );
                if($('#gotclassifiers').length==0) {
                    $('#data\\_list').html('<div id="gotclassifiers" class="padded ui-widget-header ui-corner-all">Avalilable classifiers:</div>');
                }
                var uploadingdiv = jQuery('<div class=\'padded margined ui-widget-content hideoverflow\' id=\'uploadingdiv\'>\
                <div class=\'inline padded ui-corner-all classifier_name\'>Uploading data...</div>\
                </div>');
                if($('#uploadingdiv').length==0) {
                    $('#data\\_list').append(uploadingdiv)
                }
            })
            .fail(function(errMsg) {
                custom_alert(errMsg.responseText);
            });
            return false ;
        };

        function upload_model() {
            name = $("#model\\_name").val();
            if(!name.match(/^[a-zA-Z0-9_]+$/)) {
                custom_alert("The name of the classifier can only contain letters, numbers and the underscore character '_'");
            delay(function() {$( "#model\\_upload\\_button" ).button( "option", "disabled", false );},2000);
                return false;
            }
            if($('#modelFile')[0].files.length!=1) {
                custom_alert("Must select a file.");
                return false;
            }
            var data = new FormData()
            data.append("file", $('#modelFile')[0].files[0]);
            data.append("name", name);
            $.ajax({
                type: "POST",
                url: "${classifier_path}/upload_model",
                data: data,
                enctype: 'multipart/form-data',
                processData: false,
                contentType: false})
            .done(function() {
                $( "#model\\_upload\\_button" ).button( "option", "disabled", true );
                if($('#gotclassifiers').length==0) {
                    $('#data\\_list').html('<div id="gotclassifiers" class="padded ui-widget-header ui-corner-all">Avalilable classifiers:</div>');
                }
                var modeluploadingdiv = jQuery('<div class=\'padded margined ui-widget-content hideoverflow\' id=\'modeluploadingdiv\'>\
                <div class=\'inline padded ui-corner-all classifier_name\'>Uploading model...</div>\
                </div>');
                if($('#modeluploadingdiv').length==0) {
                    $('#data\\_list').append(modeluploadingdiv)
                }
            })
            .fail(function(errMsg) {
                custom_alert(errMsg.responseText);
            });
            return false ;
        };

        function delete_classifier(classifier_name) {
            if(!confirm('Please confirm the DELETE request, proceed?'))
                return;
            $.ajax({
                type:'POST',
                url:'${classifier_path}/delete/'+classifier_name })
            .done(update)
            .fail(function () {
                $('#classifier\\_'+classifier_name).show();
            });
        };

        function extract_classifier(classifier_name) {
            var labels = []
            $.ajax({
                url:'${classifier_path}/label_info/'+classifier_name})
                .done(function(msg) {
                    var extract_dialog =  jQuery('<div class=\'padded margined ui-widget-content hideoverflow\' id=\'extract_classifier_'+classifier_name+'\'></div>');
                    labels = msg;
                    for(var i = 0;i<labels.length;++i) {
                        var labeldiv = jQuery('<div id="extract_'+labels[i]+'">'+labels[i]+'</div>');
                        labeldiv.button({ icons: {primary:'ui-icon-plus'} });
                        labeldiv.click(function(){
                            var label = $(this).text();
                            if($(this).hasClass('ui-state-focus')) {
                                $(this).removeClass('ui-state-focus');
                                $(this).button({icons: {primary :'ui-icon-plus'}});
                            }
                            else {
                                $(this).addClass('ui-state-focus');
                                $(this).button({icons: {primary :'ui-icon-check'}});
                            }
                        });
                        extract_dialog.append(labeldiv);
                    }
                    extract_dialog.dialog({modal:true,
                        title:'Extract binary classifiers from "'+classifier_name+'"',
                        width: $(window).width()*0.5,
                        buttons: {
                            'Extract': function() {
                                var selected = []
                                $('div[id^="extract\\_"].ui-state-focus').each(function () {
                                    selected.push($($(this)[0]).text());
                                });
                                var data = {name: classifier_name, labels: selected};
                                $.ajax({
                                    type: "POST",
                                    url: "${classifier_path}/extract",
                                    data: data})
                                .done(update)
                                .fail(function(errMsg) {
                                    custom_alert(errMsg.responseText);
                                });
                                $(this).dialog('destroy').remove();
                            },
                            'Cancel': function() {
                                $(this).dialog('destroy').remove();
                            }
                        }
                    });
                });
        };

         function rename_classifier_label(classifier_name) {
            var labels = []
            $.ajax({
                url:'${classifier_path}/label_info/'+classifier_name})
                .done(function(msg) {
                    var rename_label_dialog =  jQuery('<div class=\'padded margined ui-widget-content hideoverflow\' id=\'rename_classifier_label_'+classifier_name+'\'><div><label for="rename_label_new_name_'+classifier_name+'">New name:</label><input id="rename_label_new_name_'+classifier_name+'" type="text"></div></div>');
                    labels = msg;
                    for(var i = 0;i<labels.length;++i) {
                        var labeldiv = jQuery('<div id="rename_label_'+labels[i]+'">'+labels[i]+'</div>');
                        labeldiv.button({ icons: {primary:'ui-icon-radio-off'} });
                        labeldiv.click(function(){
                             $('div[id^="rename\\_label\\_"].ui-state-focus').each(function () {
                                $(this).removeClass('ui-state-focus');
                                $(this).button({icons: {primary :'ui-icon-radio-off'}});
                             });
                            $(this).addClass('ui-state-focus');
                            $(this).button({icons: {primary :'ui-icon-check'}});
                        });
                        rename_label_dialog.append(labeldiv);
                    }
                    rename_label_dialog.dialog({modal:true,
                                            title:'Rename a label of "'+classifier_name+'"',
                                            width: $(window).width()*0.5,
                                            buttons: {
                                                'Rename': function() {
                                                    var new_name = $('#rename\\_label\\_new\\_name\\_'+classifier_name).val()
                                                    if(!new_name.match(/^[a-zA-Z0-9_]+$/)) {
                                                        custom_alert("The name of the label can only contain letters, numbers and the underscore character '_'");
                                                        return false;
                                                    }
                                                    var selected_label =  $($('div[id^="rename\\_label\\_"].ui-state-focus')[0]).text().trim();
                                                    $.ajax({
                                                        type: "POST",
                                                        url: "${classifier_path}/label_rename/"+classifier_name+"/"+selected_label+"/"+new_name
                                                        })
                                                    .done(update)
                                                    .fail(function(errMsg) {
                                                        custom_alert(errMsg.responseText);
                                                    });
                                                    $(this).dialog('destroy').remove();
                                                },
                                                'Cancel': function() {
                                                    $(this).dialog('destroy').remove();
                                                }
                                            },
                                          });
                });
        };

        function rename_classifier(classifier_name) {
            var rename_dialog =  jQuery('<div class=\'padded margined ui-widget-content hideoverflow\' id=\'rename_classifier_'+classifier_name+'\'><div><label for="rename_new_name_'+classifier_name+'">New name:</label><input id="rename_new_name_'+classifier_name+'" type="text" value="'+classifier_name+'"></div></div>');
            rename_dialog.dialog({modal:true,
                                    title:'Rename classifier',
                                    width: $(window).width()*0.5,
                                    buttons: {
                                        'Rename': function() {
                                            var new_name = $('#rename\\_new\\_name\\_'+classifier_name).val()
                                            if(!new_name.match(/^[a-zA-Z0-9_]+$/)) {
                                                custom_alert("The name of the classifier can only contain letters, numbers and the underscore character '_'");
                                                return false;
                                            }
                                            $.ajax({
                                                type: "POST",
                                                url: "${classifier_path}/rename/"+classifier_name+"/"+new_name})
                                            .done(update)
                                            .fail(function(errMsg) {
                                                custom_alert(errMsg.responseText);
                                            });
                                            $(this).dialog('destroy').remove();
                                        },
                                        'Cancel': function() {
                                            $(this).dialog('destroy').remove();
                                        }
                                    },
                                  });
        };

        function classifier_description(classifier_name) {
            var classifier_description = $("#classifier\\_description\\_"+classifier_name).text()
            var description_dialog =  jQuery('<div class=\'padded margined ui-widget-content hideoverflow\' id=\'classifier_description_'+classifier_name+'\'><div><label for="classifier_new_description_'+classifier_name+'">New description:</label><input id="classifier_new_description_'+classifier_name+'" type="text" value="'+classifier_description+'"></div></div>');
            description_dialog.dialog({modal:true,
                                    title:'Classifier description',
                                    width: $(window).width()*0.5,
                                    buttons: {
                                        'Change description': function() {
                                            var description = $('#classifier\\_new\\_description\\_'+classifier_name).val()
                                            $.ajax({
                                                type: "POST",
                                                url: "${classifier_path}/set_description/"+classifier_name+"/"+description})
                                            .done(update)
                                            .fail(function(errMsg) {
                                                custom_alert(errMsg.responseText);
                                            });
                                            $(this).dialog('destroy').remove();
                                        },
                                        'Cancel': function() {
                                            $(this).dialog('destroy').remove();
                                        }
                                    },
                                  });
        };


        function duplicate_classifier() {
            name = $("#dup\\_name").val();
            if(!name.match(/^[a-zA-Z0-9_]+$/)) {
                custom_alert("The name of the classifier can only contain letters, numbers and the underscore character '_'");
                return false;
            }
            dup_from = $("#dup\\_from").val();
            var duplicatetype = $("#dup\\_type").val();
            var data = {name: dup_from, new_name: name, type: duplicatetype};
            $.ajax({
                type: "POST",
                url: "${classifier_path}/duplicate",
                data: data})
            .done(update)
            .fail(function(errMsg) {
                custom_alert(errMsg.responseText);
            });
            return false ;
        };

        function combine_classifiers() {
            name = $("#combine\\_name").val();
            if(!name.match(/^[a-zA-Z0-9_]+$/)) {
                custom_alert("The name of the classifier can only contain letters, numbers and the underscore character '_'");
                return false;
            }
            sources = $("#comb\\_from").val()
            combinetype = $("#combinetype").val();
            var data = {name: name, sources: sources, type:combinetype};
            $.ajax({
                type: "POST",
                url: "${classifier_path}/combine",
                data: data})
            .done(update)
            .fail(function(errMsg) {
                custom_alert(errMsg.responseText);
            });
            return false;
        };

        function view_training_data(classifier_name) {
            window.location = '${mount_dir}/training_data_view/'+classifier_name;
        };

        function download_training_data(classifier_name) {
            var form = $('<form></form>').attr('action', '${classifier_path}/download_training_data').attr('method', 'post');
            form.append($("<input></input>").attr('type', 'hidden').attr('name', 'name').attr('value', classifier_name));
            form.appendTo('body').submit().remove();
        };

        function download_model(classifier_name) {
            var form = $('<form></form>').attr('action', '${classifier_path}/download_model').attr('method', 'post');
            form.append($("<input></input>").attr('type', 'hidden').attr('name', 'name').attr('value', classifier_name));
            form.appendTo('body').submit().remove();
        };

        $( document ).ready(function() {

            $('#upload\\_form').submit(upload_examples);
            $('#model\\_upload\\_form').submit(upload_model);
            $('#combine\\_form').submit(combine_classifiers);
            $('#create\\_classifier').submit(create_classifier);
            $('#duplicate\\_classifier').submit(duplicate_classifier);

            //$('#force\\_update').button().click(update);

            $( "input[type=submit]" ).button();
            $( "input[type=file]" ).button();

            timed_update();
        });

</script>
</%block>

<div id="main" class="padded ui-widget ui-widget-content">
    <div id="sidebar">
        <!--<div class="padded ui-corner-all ui-widget ui-widget-content" id="force_update">Force update
        </div>-->
        <div class="margined  ui-corner-all ui-widget ui-widget-content" id="classifier_create">
            <div class="padded ui-widget-header ui-corner-all">Create a classifier from scratch:</div>
            <form id="create_classifier" class="margined" action="#" method="post">
                <p>
                    <label class="margined"  for="create_name">Name:</label>
                    <input class="margined"  type="text" id="create_name"/></p>
                <p>
                    <label class="margined"  for="labels">Labels (comma separated):</label>
                    <input class="margined"  type="text" id="labels"/></p>
                 <p>
                    <label class="margined"  for="type">Type:</label>
                    <select class="margined"  id="type">
<%! from db import sqlalchemydb %>
% for classifier_type in sqlalchemydb.CLASSIFIER_TYPES:
                        <option value="${classifier_type}">${classifier_type}</option>
% endfor
                    </select></p>
                <p><label></label>
                    <input class="margined"  type="submit" value="Create"/>
                </p>
            </form>
        </div>
        <div class="margined  ui-corner-all ui-widget ui-widget-content" id="classifier_duplicate">
            <div class="padded ui-widget-header ui-corner-all">Create a classifier from another one:</div>
            <form id="duplicate_classifier" class="margined" action="#" method="post">
                <p>
                <label class="margined"  for="dup_name">Name:</label>
                <input class="margined"  type="text" id="dup_name" /> </p>
                 <p>
                    <label class="margined"  for="dup_from">From:</label>
                    <select class="margined"  id="dup_from">
                    </select></p>
                 <p>
                    <label class="margined"  for="dup_type">Type:</label>
                    <select class="margined"  id="dup_type">
<%! from db import sqlalchemydb %>
% for classifier_type in sqlalchemydb.CLASSIFIER_TYPES:
                        <option value="${classifier_type}">${classifier_type}</option>
% endfor
                    </select></p>
                <p><label></label>
                <input class="margined"  type="submit" value="Create" />
                </p>
            </form>
        </div>
        <div class="margined  ui-corner-all ui-widget ui-widget-content" id="classifier_combine">
            <div class="padded ui-widget-header ui-corner-all">Combine classifiers:</div>
            <form id="combine_form" class="margined" action="#" method="post">
                <p>
                    <label class="margined"  for="combine_name">Name:</label>
                    <input class="margined"  type="text" id="combine_name"/></p>
                 <p>
                    <label class="margined"  for="comb_from">From:</label>
                    <select class="margined"  multiple id="comb_from" style="resize: vertical;width: 100%;">
                    </select></p>
                 <p>
                    <label for="combinetype">Type:</label>
                    <select id="combinetype">
<%! from db import sqlalchemydb %>
% for classifier_type in sqlalchemydb.CLASSIFIER_TYPES:
                        <option value="${classifier_type}">${classifier_type}</option>
% endfor
                    </select></p>
                <p><label></label>
                    <input class="margined"  id="combine_button" type="submit" value="Combine"/>
                </p>
            </form>
        </div>
        <div class="margined  ui-corner-all ui-widget ui-widget-content" id="classifier_upload">
            <div class="padded ui-widget-header ui-corner-all">Upload labeled documents to classifiers (create if
                missing):
            </div>
            <form enctype="multipart/form-data" id="upload_form" class="margined" action="#" method="post">
                <p><label class="margined" >Data file:</label>
                    <input class="margined"  type="file" id="dataFile"/></p>
                <p><label></label>
                    <input class="margined"  id="upload_button" type="submit" value="Upload"/></p>
            </form>
        </div>
        <div class="margined  ui-corner-all ui-widget ui-widget-content" id="model_upload">
            <div class="padded ui-widget-header ui-corner-all">Upload a model to define a new classifier:</div>
            <form enctype="multipart/form-data" id="model_upload_form" class="margined" action="#" method="post">
                <p><label class="margined"  for="model_name">Name:</label>
                    <input class="margined"  type="text" id="model_name"/></p>
                <p><label class="margined" >Model file:</label>
                    <input class="margined"  type="file" id="modelFile"/></p>

                <p><label></label>
                    <input class="margined"  id="model_upload_button" type="submit" value="Upload"/></p>
            </form>
        </div>
    </div>
    <div id="center">
        <div class="margined ui-corner-all ui-widget ui-widget-content" id="data_list">
        </div>
    </div>
</div>
