<%inherit file="base.html" />
<%block name="head">
    <script type="text/javascript">
        update_interval=5000
        last_update = 0
        function timed_update() {
            now = Date.now();
            if(now-last_update>update_interval)
                update();
            setTimeout(timed_update,update_interval);
        }

        selected_classifiers = {};

        function update() {
            last_update = Date.now();
            $.ajax({
                type:'POST',
                url:'/service/classifiers/',
                dataType: 'json'})
            .done( function(msg) {
                $('#classifiers\\_list div .classifier\\_name').each(function(i,item) {
                    var found = false;
                    for(var i = 0;i<msg.length;++i) {
                        if($(item).text()==msg[i].name) {
                            found = true;
                            break;
                        }
                    }
                    if(!found) {
                        $(item).parent().remove();
                    }
                });
                if(msg.length==0) {
                    $('#classifiers\\_list').html('<div class="padded ui-widget-header ui-corner-all">No classifier available</div>');
                }
                else {
                    if($('#_gotclassifiers').length==0) {
                        $('#classifiers\\_list').html('<div id="_gotclassifiers" class="padded ui-widget-header ui-corner-all">Avalilable classifiers:</div>');
                    }
                    for(var i = 0;i<msg.length;++i) {
                        var classifierdiv = jQuery('<div class=\'padded margined ui-widget-content hideoverflow\' id=\'classifier_'+msg[i].name+'\'>\
                        <div id=\'classifier_name_'+msg[i].name+'\' class=\'inline padded ui-corner-all classifier_name\'>'+msg[i].name+'</div>\
                        <div id=\'del_button_'+msg[i].name+'\' class=\'right\'>Delete</div>\
                        <div id=\'extract_button_'+msg[i].name+'\' class=\'right\'>Extract</div>\
                        <div id=\'select_button_'+msg[i].name+'\' class=\'right\'>Select</div>\
                        <div id=\'duplicate_button_'+msg[i].name+'\' class=\'right\'>Duplicate</div>\
                        <div id=\'download_button_'+msg[i].name+'\' class=\'right\'>Download training set</div>\
                        <div class="small margined">Labels: '+msg[i].labels+'</div><div class="small margined">Size: '+msg[i].size+'</div>\
                        <div class="small margined">Created: '+msg[i].created+'</div><div class="small margined">Updated: '+msg[i].updated+'</div>\
                        </div>');
                        if($('#classifier\\_'+msg[i].name).length==0) {
                            $('#classifiers\\_list').append(classifierdiv)
                        }
                        else {
                            $('#classifier\\_'+msg[i].name).replaceWith(classifierdiv)
                        }
                        $('#download\\_button\\_'+msg[i].name).button({ icons: {primary:'ui-icon-arrowthickstop-1-s'} });
                        $('#download\\_button\\_'+msg[i].name).click(download_classifier);
                        if(selected_classifiers[msg[i].name]) {
                            $('#select\\_button\\_'+msg[i].name).addClass('ui-state-focus');
                            $('#select\\_button\\_'+msg[i].name).button({ icons: {primary:'ui-icon-check'} });
                        }
                        else {
                            $('#select\\_button\\_'+msg[i].name).button({ icons: {primary:'ui-icon-plus'} });
                        }
                        $('#select\\_button\\_'+msg[i].name).click(select_classifier);
                        $('#extract\\_button\\_'+msg[i].name).button({ icons: {primary:'ui-icon-extlink'} });
                        $('#extract\\_button\\_'+msg[i].name).click(extract_classifier);
                        $('#duplicate\\_button\\_'+msg[i].name).button({ icons: {primary:'ui-icon-copy'} });
                        $('#duplicate\\_button\\_'+msg[i].name).click(duplicate_classifier);
                        $('#del\\_button\\_'+msg[i].name).button({ icons: {primary:'ui-icon-trash'} });
                        $('#del\\_button\\_'+msg[i].name).click(delete_classifier);
                    }
                    $('#classifiers\\_list').append($('#classifiers\\_list > div').get().sort(function (a, b) {
                        return $(a)[0].id > $(b)[0].id;
                    }));
                }
                $('#uploadingdiv').remove();
                $( "#upload\\_button" ).button( "option", "disabled", false );
            });
        }

        function create_classifier() {
            name = $("#create\\_name").val();
            if(!name.match(/^[a-zA-Z0-9_]+$/)) {
                custom_alert("The name of the classifier can only contain letters, numbers and the underscore character '_'");
                return false;
            }
            labelsString = $("#labels").val();
            if(!labelsString.match(/^[a-zA-Z0-9_,]+$/)) {
                custom_alert("The names of labels can only contain letters, numbers and the underscore character '_'");
                return false;
            }
            labels = labelsString.split(',');
            var data = {name: name, labels: labels} ;
            $.ajax({
                type: "POST",
                url: "/service/classifiers/create",
                data: data})
            .done(update)
            .fail(function(errMsg) {
                custom_alert(errMsg.responseText);
            });
            return false;
        };

        function combine_classifiers() {
            name = $("#combine\\_name").val();
            if(!name.match(/^[a-zA-Z0-9_]+$/)) {
                custom_alert("The name of the classifier can only contain letters, numbers and the underscore character '_'");
                return false;
            }
            sources = Object.keys(selected_classifiers);
            var data = {name: name, sources: sources};
            $.ajax({
                type: "POST",
                url: "/service/classifiers/combine",
                data: data})
            .done(update)
            .fail(function(errMsg) {
                custom_alert(errMsg.responseText);
            });
            return false;
        };

        function upload_examples() {
            if($('#dataFile')[0].files.length!=1) {
                custom_alert("Must select a file.");
                return false;
            }
            var data = new FormData()
            data.append("file", $('#dataFile')[0].files[0]);
            $.ajax({
                type: "POST",
                url: "/service/classifiers/upload",
                data: data,
                enctype: 'multipart/form-data',
                processData: false,
                contentType: false})
            .done(function() {
                $( "#upload\\_button" ).button( "option", "disabled", true );
                if($('#gotclassifiers').length==0) {
                    $('#classifiers\\_list').html('<div id="gotclassifiers" class="padded ui-widget-header ui-corner-all">Avalilable classifiers:</div>');
                }
                var uploadingdiv = jQuery('<div class=\'padded margined ui-widget-content hideoverflow\' id=\'uploadingdiv\'>\
                <div class=\'inline padded ui-corner-all classifier_name\'>Uploading data...</div>\
                </div>');
                if($('#uploadingdiv').length==0) {
                    $('#classifiers\\_list').append(uploadingdiv)
                }
            })
            .fail(function(errMsg) {
                custom_alert(errMsg.responseText);
            });
            return false ;
        };

        function delete_classifier() {
            if(!confirm('Please confirm the DELETE request, proceed?'))
                return;
            var classifier_name = $(this).siblings('.classifier\\_name').text();
            $('#classifier\\_'+classifier_name).hide();
            if(selected_classifiers[classifier_name]) {
                var item = $('#select\\_button\\_'+classifier_name);
                item.removeClass('ui-state-focus');
                item.button({icons: {primary :'ui-icon-plus'}});
                delete selected_classifiers[classifier_name];
                if(Object.keys(selected_classifiers).length<2) {
                    $('#combine\\_button').button('disable');
                }
            }
            $.ajax({
                type:'POST',
                url:'/service/classifiers/delete/'+classifier_name })
            .done(update)
            .fail(function () {
                $('#classifier\\_'+classifier_name).show();
            });
        };

        function extract_classifier() {
            var classifier_name = $(this).siblings('.classifier\\_name').text();

        };

        function select_classifier() {
            var classifier_name = $(this).siblings('.classifier\\_name').text();
            var item = $('#select\\_button\\_'+classifier_name);
            if(item.hasClass('ui-state-focus')) {
                item.removeClass('ui-state-focus');
                item.button({icons: {primary :'ui-icon-plus'}});
                delete selected_classifiers[classifier_name];
                if(Object.keys(selected_classifiers).length<2) {
                    $('#combine\\_button').button('disable');
                }
            }
            else {
                item.addClass('ui-state-focus');
                item.button({icons: {primary :'ui-icon-check'}});
                selected_classifiers[classifier_name] = true;
                if(Object.keys(selected_classifiers).length>=2) {
                    $('#combine\\_button').button('enable');
                }
            }
        };

        function duplicate_classifier() {
            var classifier_name = $(this).siblings('.classifier\\_name').text();
            var new_name = prompt("Please enter the new name for the classifier", "Copy_of_"+classifier_name);
            if(!new_name.match(/^[a-zA-Z0-9_]+$/)) {
                custom_alert("The name of the classifier can only contain letters, numbers and the underscore character '_'");
                return false;
            }
            if (new_name != null) {
                $.ajax({
                    type:'POST',
                    url:'/service/classifiers/duplicate/'+classifier_name+'/'+new_name})
                .done(update)
                .fail(function (errMsg) {
                    custom_alert(errMsg.responseText);
                });
            }
        };

        function download_classifier() {
            var classifier_name = $(this).siblings('.classifier\\_name').text();
            var form = $('<form></form>').attr('action', '/service/classifiers/download').attr('method', 'post');
            form.append($("<input></input>").attr('type', 'hidden').attr('name', 'name').attr('value', classifier_name));
            form.appendTo('body').submit().remove();
        };

        $( document ).ready(function() {

            $('#upload\\_form').submit(upload_examples);
            $('#combine\\_form').submit(combine_classifiers);
            $('#create\\_classifier').submit(create_classifier);

            //$('#force\\_update').button().click(update);

            $( "input[type=submit]" ).button();
            $( "input[type=file]" ).button();

            $('#combine\\_button').button('disable');

            timed_update();
        });
</script>
</%block>

<div id="main" class="padded ui-widget ui-widget-content">
    <div id="sidebar">
        <!--<div class="padded ui-corner-all ui-widget ui-widget-content" id="force_update">Force update
        </div>-->
        <div class="margined  ui-corner-all ui-widget ui-widget-content" id="classifier_create">
            <div class="padded ui-widget-header ui-corner-all">Create a classifier:</div>
            <form id="create_classifier" class="margined" action="#" method="post">
                <p>
                <label for="create_name">Name:</label>
                <input type="text" id="create_name" /> </p>
                <p>
                <label for="labels">Labels (comma separated):</label>
                <input type="text" id="labels" /> </p>
                <p><label></label>
                <input type="submit" value="Create" />
                </p>
            </form>
        </div>
        <div class="margined  ui-corner-all ui-widget ui-widget-content" id="classifier_combine">
            <div class="padded ui-widget-header ui-corner-all">Combine selected classifiers:</div>
            <form id="combine_form" class="margined" action="#" method="post">
                <p>
                <label for="combine_name">Name:</label>
                <input type="text" id="combine_name" /> </p>
                <p><label></label>
                <input id="combine_button" type="submit" value="Combine" />
                </p>
            </form>
            <!--<div class="margined" id="combine_button">Combine selected classifiers</div>-->
        </div>
        <div class="margined  ui-corner-all ui-widget ui-widget-content" id="classifier_upload">
            <div class="padded ui-widget-header ui-corner-all">Upload labeled documents to classifiers (create if missing):</div>
            <form enctype="multipart/form-data" id="upload_form" class="margined" action="#" method="post">
                <p><label>Data file:</label><input type="file" id="dataFile"/></p>

                <p><label></label><input id="upload_button" type="submit" value="Upload"/></p>
            </form>
        </div>
    </div>
    <div id="center">
        <div class="margined ui-corner-all ui-widget ui-widget-content" id="classifiers_list">
        </div>
    </div>
</div>
