<%inherit file="basewithmenu.html" />
<%block name="head">
${parent.head()}
<script type="text/javascript">
        update_interval=5000
        last_update = 0
        page = 1;
        page_size = 10;

        pagination_div = jQuery('<div id="pagination" class="right plain">\
                         page<input id="page" style="width:3em;" type="number" min="1" value="1"/>\
                         /<span id="pagecount">X</span>\
                         count<select id="pagesize"><option value="10" selected>10</option>\
                         <option value="20">20</option><option value="50" >50</option>\
                         <option value="100">100</option><option value="200">200</option></select></div></div>');

        function timed_update() {
            now = Date.now();
            if(now-last_update>update_interval)
                update();
            setTimeout(timed_update,update_interval);
        }

        selected_classifiers = {};

        function update() {
            last_update = Date.now();
            var count = parseInt($(pagination_div.children()[2]).val())
            $.ajax({
                type:'POST',
                url:'${classifier_path}/count',
                dataType: 'json'})
            .done(function(msg) {
                count = parseInt(msg);
                var maxpage = Math.ceil(count/parseInt($(pagination_div.children()[2]).val()))
                $(pagination_div.children()[0]).attr({
                       "max" : maxpage
                    });
                $(pagination_div.children()[1]).text(maxpage)
            });
            $.ajax({
                type:'POST',
                url:'${classifier_path}/info',
                data: { page : parseInt($(pagination_div.children()[0]).val())-1, page_size :$(pagination_div.children()[2]).val()},
                dataType: 'json'})
            .done( function(msg) {
                $('#classifiers\\_list div .classifier\\_name').each(function(i,item) {
                    var found = false;
                    for(var i = 0;i<msg.length;++i) {
                        if($(item).text()==msg[i].name) {
                            found = true;
                            break;
                        }
                    }
                    if(!found) {
                        $(item).parent().remove();
                    }
                });
                if(msg.length==0) {
                    $('#classifiers\\_list').html('<div id="nodata" class="padded ui-widget-header ui-corner-all">No classifier available</div>');
                    $('#nodata').prepend(pagination_div);
                    $('#page').val(1);
                }
                else {
                    if($('#gotdata').length==0) {
                        $('#classifiers\\_list').html('<div id="gotdata" class="padded ui-widget-header ui-corner-all">Classifiers:</div>\
                        <div id="data" class="table margined ui-widget-content ui-corner-all">\
                        <div><div>name</div>\
                        <div>labels</div>\
                        <div>description</div>\
                        <div>type</div>\
                        <div>size</div>\
                        <div>created</div>\
                        <div>updated</div>\
                        <div>actions</div>\
                        </div></div>');
                        $('#gotdata').prepend(pagination_div);
                    }
                    var curr_list = {};
                    $('#data').children().each(function (index, value) {if(value.id.startsWith('entry_')) { curr_list[value.id]=true;}})
                    for(var i = 0;i<msg.length;++i) {
                        var name_string = msg[i].name
                        var sort_string = msg[i].name.replace(/\W/g,'X')
                        item = jQuery('<div id=\'entry_'+sort_string+'\'>\
                        <div class="id">'+msg[i].name+'</div>\
                        <div>'+String(msg[i].labels).replace(/,/g,', ')+'</div>\
                        <div class="small" id="classifier_description_'+msg[i].name+'">'+msg[i].description+'</div>\
                        <div class="small">'+msg[i].type+'</div>\
                        <div class="small">'+msg[i].size+'</div>\
                        <div class="small">'+msg[i].created+'</div>\
                        <div class="small">'+msg[i].updated+'</div>\
                        <div>\
                            <div id="rename_button_'+name_string+'">Rename</div>\
                            <div id="rename_label_button_'+name_string+'">Rename label</div>\
                            <div id="description_button_'+name_string+'">Description</div>\
                            <div id="extract_button_'+name_string+'">Extract</div>\
                            <div id="select_button_'+name_string+'">Select</div>\
                            <div id="duplicate_button_'+name_string+'">Duplicate</div>\
                            <div id="download_button_'+name_string+'">Download training data</div>\
                            <div id="download_model_button_'+name_string+'">Download classification model</div>\
                            <div id="del_button_'+name_string+'">Delete</div>\
                        </div>\
                        </div>');
                        if ($('#entry\\_'+sort_string).length!=0) {
                            $('#entry\\_'+sort_string).replaceWith(item)
                            delete curr_list['entry_'+sort_string];
                        }
                        else
                            $('#data').append(item);
                        $('#download\\_button\\_'+name_string).button({ icons: {primary:'ui-icon-arrowthickstop-1-s'} });
                        $('#download\\_button\\_'+name_string).click(download_training_data);
                        $('#download\\_model\\_button\\_'+name_string).button({ icons: {primary:'ui-icon-arrowthickstop-1-s'} });
                        $('#download\\_model\\_button\\_'+name_string).click(download_model);
                        if(selected_classifiers[msg[i].name]) {
                            $('#select\\_button\\_'+name_string).addClass('ui-state-focus');
                            $('#select\\_button\\_'+name_string).button({ icons: {primary:'ui-icon-check'} });
                        }
                        else {
                            $('#select\\_button\\_'+name_string).button({ icons: {primary:'ui-icon-plus'} });
                        }
                        $('#select\\_button\\_'+name_string).click(select_classifier);
                        $('#extract\\_button\\_'+name_string).button({ icons: {primary:'ui-icon-extlink'} });
                        $('#extract\\_button\\_'+name_string).click(extract_classifier);
                        $('#rename\\_button\\_'+name_string).button({ icons: {primary:'ui-icon-tag'} });
                        $('#rename\\_button\\_'+name_string).click(rename_classifier);
                        $('#description\\_button\\_'+name_string).button({ icons: {primary:'ui-icon-tag'} });
                        $('#description\\_button\\_'+name_string).click(classifier_description);
                        $('#rename\\_label\\_button\\_'+name_string).button({ icons: {primary:'ui-icon-tag'} });
                        $('#rename\\_label\\_button\\_'+name_string).click(rename_classifier_label);
                        $('#duplicate\\_button\\_'+name_string).button({ icons: {primary:'ui-icon-copy'} });
                        $('#duplicate\\_button\\_'+name_string).click(duplicate_classifier);
                        $('#del\\_button\\_'+name_string).button({ icons: {primary:'ui-icon-trash'} });
                        $('#del\\_button\\_'+name_string).click(delete_classifier);
                    }
                    for (var key in curr_list) {
                        $('#'+key).remove();
                    }
                    $('#data').append($('#data > div').get().sort(function (a, b) {
                        return $(a)[0].id.localeCompare($(b)[0].id);
                    }));
                }
                $('#uploadingdiv').remove();
                $("#upload\\_button").button( "option", "disabled", false );
                $('#modeluploadingdiv').remove();
                $("#model\\_upload\\_button").button( "option", "disabled", false );
                $('#page').unbind('keyup mouseup');
                $('#pagesize').unbind('keyup mouseup');
                $('#page').bind('keyup mouseup',update);
                $('#pagesize').bind('keyup mouseup',update);
            });
        }

        function create_classifier() {
            name = $("#create\\_name").val();
            if(!name.match(/^[a-zA-Z0-9_]+$/)) {
                custom_alert("The name of the classifier can only contain letters, numbers and the underscore character '_'");
                return false;
            }
            labelsString = $("#labels").val();
            if(!labelsString.match(/^[a-zA-Z0-9_,]+$/)) {
                custom_alert("The names of labels can only contain letters, numbers and the underscore character '_'");
                return false;
            }
            labels = labelsString.split(',');
            type = $("#type").val();
            var data = {name: name, labels: labels, type: type} ;
            $.ajax({
                type: "POST",
                url: "${classifier_path}/create",
                data: data})
            .done(update)
            .fail(function(errMsg) {
                custom_alert(errMsg.responseText);
            });
            return false;
        };

        function combine_classifiers() {
            name = $("#combine\\_name").val();
            if(!name.match(/^[a-zA-Z0-9_]+$/)) {
                custom_alert("The name of the classifier can only contain letters, numbers and the underscore character '_'");
                return false;
            }
            sources = Object.keys(selected_classifiers);
            combinetype = $("#combinetype").val();
            var data = {name: name, sources: sources, type:combinetype};
            $.ajax({
                type: "POST",
                url: "${classifier_path}/combine",
                data: data})
            .done(update)
            .fail(function(errMsg) {
                custom_alert(errMsg.responseText);
            });
            return false;
        };

        function upload_examples() {
            if($('#dataFile')[0].files.length!=1) {
                custom_alert("Must select a file.");
                return false;
            }
            uploadtype = $("#uploadtype").val();
            var data = new FormData()
            data.append("type", uploadtype);
            data.append("file", $('#dataFile')[0].files[0]);
            $.ajax({
                type: "POST",
                url: "${classifier_path}/upload_training_data",
                data: data,
                enctype: 'multipart/form-data',
                processData: false,
                contentType: false})
            .done(function() {
                $( "#upload\\_button" ).button( "option", "disabled", true );
                if($('#gotclassifiers').length==0) {
                    $('#classifiers\\_list').html('<div id="gotclassifiers" class="padded ui-widget-header ui-corner-all">Avalilable classifiers:</div>');
                }
                var uploadingdiv = jQuery('<div class=\'padded margined ui-widget-content hideoverflow\' id=\'uploadingdiv\'>\
                <div class=\'inline padded ui-corner-all classifier_name\'>Uploading data...</div>\
                </div>');
                if($('#uploadingdiv').length==0) {
                    $('#classifiers\\_list').append(uploadingdiv)
                }
            })
            .fail(function(errMsg) {
                custom_alert(errMsg.responseText);
            });
            return false ;
        };

        function upload_model() {
            name = $("#model\\_name").val();
            if(!name.match(/^[a-zA-Z0-9_]+$/)) {
                custom_alert("The name of the classifier can only contain letters, numbers and the underscore character '_'");
            delay(function() {$( "#model\\_upload\\_button" ).button( "option", "disabled", false );},2000);
                return false;
            }
            if($('#modelFile')[0].files.length!=1) {
                custom_alert("Must select a file.");
                return false;
            }
            var data = new FormData()
            data.append("file", $('#modelFile')[0].files[0]);
            data.append("name", name);
            $.ajax({
                type: "POST",
                url: "${classifier_path}/upload_model",
                data: data,
                enctype: 'multipart/form-data',
                processData: false,
                contentType: false})
            .done(function() {
                $( "#model\\_upload\\_button" ).button( "option", "disabled", true );
                if($('#gotclassifiers').length==0) {
                    $('#classifiers\\_list').html('<div id="gotclassifiers" class="padded ui-widget-header ui-corner-all">Avalilable classifiers:</div>');
                }
                var modeluploadingdiv = jQuery('<div class=\'padded margined ui-widget-content hideoverflow\' id=\'modeluploadingdiv\'>\
                <div class=\'inline padded ui-corner-all classifier_name\'>Uploading model...</div>\
                </div>');
                if($('#modeluploadingdiv').length==0) {
                    $('#classifiers\\_list').append(modeluploadingdiv)
                }
            })
            .fail(function(errMsg) {
                custom_alert(errMsg.responseText);
            });
            return false ;
        };

        function delete_classifier() {
            if(!confirm('Please confirm the DELETE request, proceed?'))
                return;
            var classifier_name = $(this).parent().siblings('.id').text();
            $('#classifier\\_'+classifier_name).hide();
            if(selected_classifiers[classifier_name]) {
                var item = $('#select\\_button\\_'+classifier_name);
                item.removeClass('ui-state-focus');
                item.button({icons: {primary :'ui-icon-plus'}});
                delete selected_classifiers[classifier_name];
                if(Object.keys(selected_classifiers).length<2) {
                    $('#combine\\_button').button('disable');
                }
            }
            $.ajax({
                type:'POST',
                url:'${classifier_path}/delete/'+classifier_name })
            .done(update)
            .fail(function () {
                $('#classifier\\_'+classifier_name).show();
            });
        };

        function extract_classifier() {
            var classifier_name = $(this).parent().siblings('.id').text();
            var labels = []
            $.ajax({
                url:'${classifier_path}/label_info/'+classifier_name})
                .done(function(msg) {
                    var extract_dialog =  jQuery('<div class=\'padded margined ui-widget-content hideoverflow\' id=\'extract_classifier_'+classifier_name+'\'></div>');
                    labels = msg;
                    for(var i = 0;i<labels.length;++i) {
                        var labeldiv = jQuery('<div id="extract_'+labels[i]+'">'+labels[i]+'</div>');
                        labeldiv.button({ icons: {primary:'ui-icon-plus'} });
                        labeldiv.click(function(){
                            var label = $(this).text();
                            if($(this).hasClass('ui-state-focus')) {
                                $(this).removeClass('ui-state-focus');
                                $(this).button({icons: {primary :'ui-icon-plus'}});
                            }
                            else {
                                $(this).addClass('ui-state-focus');
                                $(this).button({icons: {primary :'ui-icon-check'}});
                            }
                        });
                        extract_dialog.append(labeldiv);
                    }
                    var typediv = jQuery('<div><p>\
                                        <select id="extracttype">\
                    <option value="Not specified">Not specified</option>\<%! from db import sqlalchemydb %>
% for classifier_type in sqlalchemydb._CLASSIFIER_TYPES[:-1]:
                    <option value="${classifier_type}">${classifier_type}</option>\
% endfor
                </select></p></div>');
                    extract_dialog.append(typediv);
                    extract_dialog.dialog({modal:true,
                                            title:'Extract binary classifiers from "'+classifier_name+'"',
                                            width: $(window).width()*0.5,
                                            buttons: {
                                                'Extract': function() {
                                                    var selected = []
                                                    $('div[id^="extract\\_"].ui-state-focus').each(function () {
                                                        selected.push($($(this)[0]).text());
                                                    });
                                                    extracttype = $("#extracttype").val();
                                                    var data = {name: classifier_name, labels: selected, type: extracttype};
                                                    $.ajax({
                                                        type: "POST",
                                                        url: "${classifier_path}/extract",
                                                        data: data})
                                                    .done(update)
                                                    .fail(function(errMsg) {
                                                        custom_alert(errMsg.responseText);
                                                    });
                                                    $(this).dialog('destroy').remove();
                                                },
                                                'Cancel': function() {
                                                    $(this).dialog('destroy').remove();
                                                }
                                            },
                                          });
                });
        };

         function rename_classifier_label() {
            var classifier_name = $(this).parent().siblings('.id').text();
            var labels = []
            $.ajax({
                url:'${classifier_path}/label_info/'+classifier_name})
                .done(function(msg) {
                    var rename_label_dialog =  jQuery('<div class=\'padded margined ui-widget-content hideoverflow\' id=\'rename_classifier_label_'+classifier_name+'\'><div><label for="rename_label_new_name_'+classifier_name+'">New name:</label><input id="rename_label_new_name_'+classifier_name+'" type="text"></div></div>');
                    labels = msg;
                    for(var i = 0;i<labels.length;++i) {
                        var labeldiv = jQuery('<div id="rename_label_'+labels[i]+'">'+labels[i]+'</div>');
                        labeldiv.button({ icons: {primary:'ui-icon-radio-off'} });
                        labeldiv.click(function(){
                             $('div[id^="rename\\_label\\_"].ui-state-focus').each(function () {
                                $(this).removeClass('ui-state-focus');
                                $(this).button({icons: {primary :'ui-icon-radio-off'}});
                             });
                            $(this).addClass('ui-state-focus');
                            $(this).button({icons: {primary :'ui-icon-check'}});
                        });
                        rename_label_dialog.append(labeldiv);
                    }
                    rename_label_dialog.dialog({modal:true,
                                            title:'Rename a label of "'+classifier_name+'"',
                                            width: $(window).width()*0.5,
                                            buttons: {
                                                'Rename': function() {
                                                    var new_name = $('#rename\\_label\\_new\\_name\\_'+classifier_name).val()
                                                    if(!new_name.match(/^[a-zA-Z0-9_]+$/)) {
                                                        custom_alert("The name of the label can only contain letters, numbers and the underscore character '_'");
                                                        return false;
                                                    }
                                                    var selected_label =  $($('div[id^="rename\\_label\\_"].ui-state-focus')[0]).text().trim();
                                                    $.ajax({
                                                        type: "POST",
                                                        url: "${classifier_path}/label_rename/"+classifier_name+"/"+selected_label+"/"+new_name
                                                        })
                                                    .done(update)
                                                    .fail(function(errMsg) {
                                                        custom_alert(errMsg.responseText);
                                                    });
                                                    $(this).dialog('destroy').remove();
                                                },
                                                'Cancel': function() {
                                                    $(this).dialog('destroy').remove();
                                                }
                                            },
                                          });
                });
        };

        function rename_classifier() {
            var classifier_name = $(this).parent().siblings('.id').text();
            var rename_dialog =  jQuery('<div class=\'padded margined ui-widget-content hideoverflow\' id=\'rename_classifier_'+classifier_name+'\'><div><label for="rename_new_name_'+classifier_name+'">New name:</label><input id="rename_new_name_'+classifier_name+'" type="text"></div></div>');
            rename_dialog.dialog({modal:true,
                                    title:'Rename classifier',
                                    width: $(window).width()*0.5,
                                    buttons: {
                                        'Rename': function() {
                                            var new_name = $('#rename\\_new\\_name\\_'+classifier_name).val()
                                            if(!new_name.match(/^[a-zA-Z0-9_]+$/)) {
                                                custom_alert("The name of the classifier can only contain letters, numbers and the underscore character '_'");
                                                return false;
                                            }
                                            $.ajax({
                                                type: "POST",
                                                url: "${classifier_path}/rename/"+classifier_name+"/"+new_name})
                                            .done(update)
                                            .fail(function(errMsg) {
                                                custom_alert(errMsg.responseText);
                                            });
                                            $(this).dialog('destroy').remove();
                                        },
                                        'Cancel': function() {
                                            $(this).dialog('destroy').remove();
                                        }
                                    },
                                  });
        };

        function classifier_description() {
            var classifier_name = $(this).parent().siblings('.id').text();
            var classifier_description = $("#classifier\\_description\\_"+classifier_name).text()
            var description_dialog =  jQuery('<div class=\'padded margined ui-widget-content hideoverflow\' id=\'classifier_description_'+classifier_name+'\'><div><label for="classifier_new_description_'+classifier_name+'">New description:</label><input id="classifier_new_description_'+classifier_name+'" type="text" value="'+classifier_description+'"></div></div>');
            description_dialog.dialog({modal:true,
                                    title:'Classifier description',
                                    width: $(window).width()*0.5,
                                    buttons: {
                                        'Change description': function() {
                                            var description = $('#classifier\\_new\\_description\\_'+classifier_name).val()
                                            $.ajax({
                                                type: "POST",
                                                url: "${classifier_path}/set_description/"+classifier_name+"/"+description})
                                            .done(update)
                                            .fail(function(errMsg) {
                                                custom_alert(errMsg.responseText);
                                            });
                                            $(this).dialog('destroy').remove();
                                        },
                                        'Cancel': function() {
                                            $(this).dialog('destroy').remove();
                                        }
                                    },
                                  });
        };

        function select_classifier() {
            var classifier_name = $(this).parent().siblings('.id').text();
            var item = $('#select\\_button\\_'+classifier_name);
            if(item.hasClass('ui-state-focus')) {
                item.removeClass('ui-state-focus');
                item.button({icons: {primary :'ui-icon-plus'}});
                delete selected_classifiers[classifier_name];
                if(Object.keys(selected_classifiers).length<2) {
                    $('#combine\\_button').button('disable');
                }
            }
            else {
                item.addClass('ui-state-focus');
                item.button({icons: {primary :'ui-icon-check'}});
                selected_classifiers[classifier_name] = true;
                if(Object.keys(selected_classifiers).length>=2) {
                    $('#combine\\_button').button('enable');
                }
            }
        };

        function duplicate_classifier() {
            var classifier_name = $(this).parent().siblings('.id').text();
			var duplicate_dialog =  jQuery('<div class=\'padded margined ui-widget-content hideoverflow\' 	id=\'duplicate_classifier_'+classifier_name+'\'></div>');
			var typediv = jQuery('<div><p><label for="new_name">Name:</label><input type="text" id="new_name"/></p>\
                 <p><label for="duplicatetype">Type:</label>\
				<select id="duplicatetype">\
                    <option value="Not specified">Not specified</option>\<%! from db import sqlalchemydb %>
% for classifier_type in sqlalchemydb._CLASSIFIER_TYPES[:-1]:
                    <option value="${classifier_type}">${classifier_type}</option>\
% endfor
                </select></p></div>');
			duplicate_dialog.append(typediv);
			duplicate_dialog.dialog({modal:true,
                                            title:'Duplicate classifiers from "'+classifier_name+'"',
                                            width: $(window).width()*0.5,
                                            buttons: {
                                                'Duplicate': function() {
													var new_name = $("#new_name").val();
                                                    if(!new_name.match(/^[a-zA-Z0-9_]+$/)) {
                                                        custom_alert("The name of the classifier can only contain letters, numbers and the underscore character '_'");
                                                        $(this).dialog('destroy').remove();
                                                        return false;
                                                     }
                                                    var duplicatetype = $("#duplicatetype").val();
                                                    var data = {name: classifier_name, new_name: new_name, type: duplicatetype};
                                                    $.ajax({
                                                        type: "POST",
                                                        url: "${classifier_path}/duplicate",
                                                        data: data})
                                                    .done(update)
                                                    .fail(function(errMsg) {
                                                        custom_alert(errMsg.responseText);
                                                    });
                                                    $(this).dialog('destroy').remove();
                                                },
                                                'Cancel': function() {
                                                    $(this).dialog('destroy').remove();
                                                }
                                            },
                                          });
        };

        function download_training_data() {
            var classifier_name = $(this).parent().siblings('.id').text();
            var form = $('<form></form>').attr('action', '${classifier_path}/download_training_data').attr('method', 'post');
            form.append($("<input></input>").attr('type', 'hidden').attr('name', 'name').attr('value', classifier_name));
            form.appendTo('body').submit().remove();
        };

        function download_model() {
            var classifier_name = $(this).parent().siblings('.id').text();
            var form = $('<form></form>').attr('action', '${classifier_path}/download_model').attr('method', 'post');
            form.append($("<input></input>").attr('type', 'hidden').attr('name', 'name').attr('value', classifier_name));
            form.appendTo('body').submit().remove();
        };

        $( document ).ready(function() {

            $('#upload\\_form').submit(upload_examples);
            $('#model\\_upload\\_form').submit(upload_model);
            $('#combine\\_form').submit(combine_classifiers);
            $('#create\\_classifier').submit(create_classifier);

            //$('#force\\_update').button().click(update);

            $( "input[type=submit]" ).button();
            $( "input[type=file]" ).button();

            $('#combine\\_button').button('disable');

            timed_update();
        });

</script>
</%block>

<div id="main" class="padded ui-widget ui-widget-content">
    <div id="sidebar">
        <!--<div class="padded ui-corner-all ui-widget ui-widget-content" id="force_update">Force update
        </div>-->
        <div class="margined  ui-corner-all ui-widget ui-widget-content" id="classifier_create">
            <div class="padded ui-widget-header ui-corner-all">Create a classifier:</div>
            <form id="create_classifier" class="margined" action="#" method="post">
                <p>
                    <label for="create_name">Name:</label>
                    <input type="text" id="create_name"/></p>
                <p>
                    <label for="labels">Labels (comma separated):</label>
                    <input type="text" id="labels"/></p>
                 <p>
                    <label for="type">Type:</label>
                    <select id="type">
<%! from db import sqlalchemydb %>
% for classifier_type in sqlalchemydb._CLASSIFIER_TYPES[:-1]:
                        <option value="${classifier_type}">${classifier_type}</option>
% endfor
                    </select></p>
                <p><label></label>
                    <input type="submit" value="Create"/>
                </p>
            </form>
        </div>
        <div class="margined  ui-corner-all ui-widget ui-widget-content" id="classifier_combine">
            <div class="padded ui-widget-header ui-corner-all">Combine selected classifiers:</div>
            <form id="combine_form" class="margined" action="#" method="post">
                <p>
                    <label for="combine_name">Name:</label>
                    <input type="text" id="combine_name"/></p>
                 <p>
                    <label for="combinetype">Type:</label>
                    <select id="combinetype">
<%! from db import sqlalchemydb %>
% for classifier_type in sqlalchemydb._CLASSIFIER_TYPES[:-1]:
                        <option value="${classifier_type}">${classifier_type}</option>
% endfor
                    </select></p>
                <p><label></label>
                    <input id="combine_button" type="submit" value="Combine"/>
                </p>
            </form>
            <!--<div class="margined" id="combine_button">Combine selected classifiers</div>-->
        </div>
        <div class="margined  ui-corner-all ui-widget ui-widget-content" id="classifier_upload">
            <div class="padded ui-widget-header ui-corner-all">Upload labeled documents to classifiers (create if
                missing):
            </div>
            <form enctype="multipart/form-data" id="upload_form" class="margined" action="#" method="post">
                <p><label>Data file:</label><input type="file" id="dataFile"/></p>
                 <p>
                    <label for="uploadtype">Type:</label>
                    <select id="uploadtype">
<%! from db import sqlalchemydb %>
% for classifier_type in sqlalchemydb._CLASSIFIER_TYPES[:-1]:
                        <option value="${classifier_type}">${classifier_type}</option>
% endfor
                    </select></p>
                <p><label></label><input id="upload_button" type="submit" value="Upload"/></p>
            </form>
        </div>
        <div class="margined  ui-corner-all ui-widget ui-widget-content" id="model_upload">
            <div class="padded ui-widget-header ui-corner-all">Upload a model to define a new classifier:</div>
            <form enctype="multipart/form-data" id="model_upload_form" class="margined" action="#" method="post">
                <p><label for="model_name">Name:</label>
                    <input type="text" id="model_name"/></p>
                <p><label>Model file:</label><input type="file" id="modelFile"/></p>

                <p><label></label><input id="model_upload_button" type="submit" value="Upload"/></p>
            </form>
        </div>
    </div>
    <div id="center">
        <div class="margined ui-corner-all ui-widget ui-widget-content" id="classifiers_list">
        </div>
    </div>
</div>
