<%inherit file="demo_basewithmenu.html" />
<%block name="head">
 ${parent.head()}
   <script type="text/javascript">
       update_interval=5000
       delay_interval=500
        last_update = 0
        function timed_update() {
            now = Date.now();
            if(now-last_update>update_interval)
                update();
            setTimeout(timed_update,update_interval);
        }

        selected_classifiers = {};

        function update() {
            last_update = Date.now();
            $.ajax({
                type:'POST',
                url:'${ip_auth_path}/info'})
            .done(function(msg) {
                if(msg.length>0) {
                    $('#ip\\_request\\_count').text(msg[0]['current_request_counter']);
                    $('#ip\\_hourly\\_limit').text(msg[0]['hourly_limit']);
                    $('#ip\\_total').text(msg[0]['total_request_counter']);
                    $('#ip\\_total\\_limit').text(msg[0]['request_limit']);
                }
                else {
                    $('#ip\\_request\\_count').text('0');
                    $('#ip\\_hourly\\_limit').text('n/a');
                    $('#ip\\_total').text('0');
                    $('#ip\\_total\\_limit').text('n/a');
                }
            });
            var authkey = $('#authkey').val();
            if(authkey.length>0) {
                $.ajax({
                    type:'POST',
                    url:'${key_auth_path}/info',
                    data: {authkey:authkey}})
                .done(function(msg) {
                    if(msg.length>0) {
                        $('#key\\_request\\_count').text(msg[0]['current_request_counter']);
                        $('#key\\_hourly\\_limit').text(msg[0]['hourly_limit']);
                        $('#key\\_total').text(msg[0]['total_request_counter']);
                        $('#key\\_total\\_limit').text(msg[0]['request_limit']);
                    }
                    else {
                        $('#key\\_request\\_count').text('0');
                        $('#key\\_hourly\\_limit').text('n/a');
                        $('#key\\_total').text('0');
                        $('#key\\_total\\_limit').text('n/a');
                    }
                })
                .fail(function(msg){
                        $('#key\\_request\\_count').text('0');
                        $('#key\\_hourly\\_limit').text('n/a');
                        $('#key\\_total').text('0');
                        $('#key\\_total\\_limit').text('n/a');
                });
            }
            else {
                $('#key\\_request\\_count').text('0');
                $('#key\\_hourly\\_limit').text('n/a');
                $('#key\\_total').text('0');
                $('#key\\_total\\_limit').text('n/a');
            }
            $.ajax({
                type:'POST',
                url:'${classifier_path}/info',
                dataType: 'json'})
            .done(function(msg) {
                var valid_classifiers = {}
                for(var i = 0;i<msg.length;++i) {
                    valid_classifiers[msg[i].name] = true;
                    if($('#use\\_opt\\_'+msg[i].name).length==0) {
                        $('#use').append($('<option title="'+msg[i].description+'" id="use_opt_'+msg[i].name+'"/>').val(msg[i].name).text(msg[i].name));
                        $('#dup\\_from').append($('<option title="'+msg[i].description+'" id="dup_opt_'+msg[i].name+'"/>').val(msg[i].name).text(msg[i].name));
                        var suggestion_div = jQuery('<div id=\'suggestions_'+msg[i].name+'\' class=\'margined ui-widget-content ui-corner-all suggestion\'><div class="ui-widget-header padded ui-corner-all"><span class="name">'+msg[i].name+'</span></div><div id="assignments_'+msg[i].name+'"></div></div>');
                        suggestion_div.appendTo('#pool');
                        for(var j = 0;j<msg[i].labels.length;++j) {
                            var scoreline = jQuery('<div id="suggestion_'+msg[i].name+'_'+msg[i].labels[j]+'" class="scoreline not_relevant ui-corner-all margined morepadded">'+msg[i].labels[j]+'</div>');
                            $('#assignments\\_'+msg[i].name).append(scoreline);
                        }
                    }
                }
                $('#use').children().each(function (index, value) {if(!valid_classifiers[value.id.slice(8)]) {$('#'+value.id).remove();}});
                $('#use').append($('#use > option').get().sort(function (a, b) {
                    return $(a)[0].id.localeCompare($(b)[0].id);
                }));
                var updated_list = {};
                $('#use').attr('size',Math.min(10,Object.keys(valid_classifiers).length));
                $("select[multiple] option").off('mousedown').on('mousedown',function(){
                    var option = $(this);
                    option.parent().focus();
                    if (option.prop("selected")) {
                        option.prop("selected", false);
                        $('#suggestions\\_'+option.val()).detach().appendTo('#pool');
                    }
                    else {
                        option.prop("selected", true);
                        $('#suggestions\\_'+option.val()).detach().appendTo('#suggestions');
                        classify([option.text()]);
                    }
                    return false;
                });
                if($('#classify\\_button').length==0) {
                    classify_button = jQuery('<div id="classify_button" class="right">Classify</div>');
                    //classify_button.button({ icons: {primary:'ui-icon-tag'} });
                    classify_button.button();
                    classify_button.click(function() {
                        classify();
                    });
                    $('#suggestions').append(classify_button);
                }
            });
        }

        last_text = ""
        function classify(selection) {
            var text = $("#textbox").val();
            var force = text!=last_text;
            if(force) {
                reset_labels();
            }
            last_text = text;
            $('#suggestions div[id^=suggestions] .ui-widget-header').each(function(i,item) {
                var classifier_name = $(item).children('.name').text();
                if(typeof selection == 'undefined' || selection.indexOf(classifier_name)>=0) {
                    var assigned = $('#assignments\\_'+classifier_name).children('.scoreline.assigned').length>0;
                    if(!assigned||force) {
                        $.ajax({
                            type:'POST',
                            url:'${classifier_path}/classify',
                            data: { name: classifier_name, X: [text] },
                            dataType: 'json'})
                        .done(function(msg) {
                            var suggested = msg[0];
                            assigned = $('#assignments\\_'+classifier_name).children('.scoreline.assigned').length>0;
                            if(!assigned || force) {
                                $('#assignments\\_'+classifier_name).children('.scoreline').removeClass('assigned');
                                $('#assignments\\_'+classifier_name).children('.scoreline').removeClass('suggested');
                                $('#assignments\\_'+classifier_name).children('.scoreline').addClass('not_relevant');
                                $('#suggestion\\_'+classifier_name+'\\_'+suggested).removeClass('not_relevant');
                                $('#suggestion\\_'+classifier_name+'\\_'+suggested).addClass('suggested');
                            }
                        });
                    }
                }
            });
        }

        function reset_labels() {
            $('#suggestions div[id^=suggestions] .ui-widget-header').each(function(i,item) {
                var classifier_name = $(item).children('.name').text();
                $('#assignments\\_'+classifier_name).children('.scoreline').removeClass('assigned');
                $('#assignments\\_'+classifier_name).children('.scoreline').removeClass('suggested');
                $('#assignments\\_'+classifier_name).children('.scoreline').addClass('not_relevant');
            });
            $('#pool div[id^=suggestions] .ui-widget-header').each(function(i,item) {
                var classifier_name = $(item).children('.name').text();
                $('#assignments\\_'+classifier_name).children('.scoreline').removeClass('assigned');
                $('#assignments\\_'+classifier_name).children('.scoreline').removeClass('suggested');
                $('#assignments\\_'+classifier_name).children('.scoreline').addClass('not_relevant');
            });
        }

        $( document ).ready(function() {
            $("#textbox").on("input",function() {
                reset_labels();
            });

            //$('#force\\_update').button().click(update);
            $( "input[type=submit]" ).button();
            timed_update();
        });
    </script>
</%block>

<div id="main" class="padded ui-widget ui-widget-content">
    <div id="sidebar">
        <div class="margined ui-corner-all ui-widget ui-widget-content" id="classifiers_list">
            <div class="padded ui-widget-header ui-corner-all">Select classifiers:</div>
            <select class="margined"  multiple id="use" style="resize: vertical;width: 95%;">
            </select>
        </div>
        <div class="margined ui-corner-all ui-widget ui-widget-content" id="info">
            <div class="padded ui-widget-header ui-corner-all ">Service info:</div>
            <div class="margined padded ui-widget-content ui-corner-all "><span class="tip" title="${ip}">IP</span> requests this hour: <span id="ip_request_count">0</span> - <span style=' text-decoration: underline; text-decoration-style: dotted' title="a value of -1 means no limit">limit</span>: <span id="ip_hourly_limit">0</span></div>
            <div class="margined padded ui-widget-content ui-corner-all ">Total IP requests: <span id="ip_total">0</span> - <span style=' text-decoration: underline; text-decoration-style: dotted' title="a value of -1 means no limit">limit</span>: <span id="ip_total_limit">0</span></div>
            <div class="margined padded ui-widget-content ui-corner-all "><label for="authkey">Authorization key (<span class="tip" title="An empty or wrong key will back up to ip access.">optional</span>)</label><input type="password" id="authkey" ></input></div>
            <div class="margined padded ui-widget-content ui-corner-all ">Key requests this hour: <span id="key_request_count">0</span> - <span class="tip" title="a value of -1 means no limit">limit</span>:  <span id="key_hourly_limit">0</span></div>
            <div class="margined padded ui-widget-content ui-corner-all ">Total key requests: <span id="key_total">0</span> - <span class="tip" title="a value of -1 means no limit">limit</span>: <span id="key_total_limit">0</span></div>
        </div>
        <!--<div class="padded ui-corner-all ui-widget ui-widget-content" id="force_update">Force update
        </div>-->
    </div>
    <div id="center">
        <div class="margined ui-corner-all ui-widget ui-widget-content">
            <div class="padded ui-widget-header ui-corner-all">Classify text:</div>
            <div class="padded"><textarea id="textbox" class="textbox padded" placeholder="INSTRUCTIONS:

1) Type/copy your text here.
2) Select a relevant classifier from the list on the right.
3) Hit the 'Classify' button below to see the labels assigned by the automatic classifiers.

Editing the text resets the label assignment. Hit 'Classify' again when needed."></textarea></div>
            <div id="suggestions" class="margined padded ui-widget-content suggestion-container"></div>
                <div id="pool" style="display:none;"></div>
        </div>
    </div>
</div>
