<%inherit file="demo_basewithmenu.html" />
<%block name="head">
 ${parent.head()}
   <script type="text/javascript">
       update_interval=5000
       delay_interval=500
        last_update = 0
        function timed_update() {
            now = Date.now();
            if(now-last_update>update_interval)
                update();
            setTimeout(timed_update,update_interval);
        }

        selected_classifiers = {};

        function update() {
            last_update = Date.now();
            $.ajax({
                type:'POST',
                url:'${ip_auth_path}/info'})
            .done(function(msg) {
                if(msg.length>0) {
                    $('#ip\\_request\\_count').text(msg[0]['current_request_counter']);
                    $('#ip\\_hourly\\_limit').text(msg[0]['hourly_limit']);
                    $('#ip\\_total').text(msg[0]['total_request_counter']);
                    $('#ip\\_total\\_limit').text(msg[0]['request_limit']);
                }
                else {
                    $('#ip\\_request\\_count').text('0');
                    $('#ip\\_hourly\\_limit').text('n/a');
                    $('#ip\\_total').text('0');
                    $('#ip\\_total\\_limit').text('n/a');
                }
            });
            var authkey = $('#authkey').val();
            if(authkey.length>0) {
                $.ajax({
                    type:'POST',
                    url:'${key_auth_path}/info',
                    data: {authkey:authkey}})
                .done(function(msg) {
                    if(msg.length>0) {
                        $('#key\\_request\\_count').text(msg[0]['current_request_counter']);
                        $('#key\\_hourly\\_limit').text(msg[0]['hourly_limit']);
                        $('#key\\_total').text(msg[0]['total_request_counter']);
                        $('#key\\_total\\_limit').text(msg[0]['request_limit']);
                    }
                    else {
                        $('#key\\_request\\_count').text('0');
                        $('#key\\_hourly\\_limit').text('n/a');
                        $('#key\\_total').text('0');
                        $('#key\\_total\\_limit').text('n/a');
                    }
                })
                .fail(function(msg){
                        $('#key\\_request\\_count').text('0');
                        $('#key\\_hourly\\_limit').text('n/a');
                        $('#key\\_total').text('0');
                        $('#key\\_total\\_limit').text('n/a');
                });
            }
            else {
                $('#key\\_request\\_count').text('0');
                $('#key\\_hourly\\_limit').text('n/a');
                $('#key\\_total').text('0');
                $('#key\\_total\\_limit').text('n/a');
            }
            $.ajax({
                type:'POST',
                url:'${classifier_path}/info',
                dataType: 'json'})
            .done(function(msg) {
                    $('#classifiers\\_list div .classifier\\_name').each(function(i,item) {
                        var found = false;
                        for(var i = 0;i<msg.length;++i) {
                            if($(item).text()==msg[i].name) {
                                found = true;
                                break;
                            }
                        }
                        if(!found) {
                            $('#suggestions\\_'+$(item).text()).remove();
                            $(item).parent().remove();
                        }
                    });
                    if(msg.length==0) {
                        $('#classifiers\\_list').html('<div class="padded ui-widget-header ui-corner-all">No classifiers available</div>');
                    }
                    else {
                        if($('#\\_gotclassifiers').length==0)
                            $('#classifiers\\_list').html('<div id="_gotclassifiers" class="padded ui-widget-header ui-corner-all">Select classifiers:</div>');
                        for(var i = 0;i<msg.length;++i) {
                            if($('#classifier\\_'+msg[i].name).length==0) {
                                $('#classifiers\\_list').append('<div class=\'padded margined ui-widget-content hideoverflow\' id=\'classifier_'+msg[i].name+'\' title="'+msg[i].description+'">\
                                <div id=\'classifier_name_'+msg[i].name+'\' class=\'inline padded ui-corner-all left classifier_name\'>'+msg[i].name+'</div>\
                                <div id=\'use_button_'+msg[i].name+'\' class=\'right\'>Use</div></div>');
                                if(selected_classifiers[msg[i].name]) {
                                    $('#use\\_button\\_'+msg[i].name).addClass('ui-state-focus');
                                    $('#use\\_button\\_'+msg[i].name).button({ icons: {primary:'ui-icon-check'} });
                                }
                                else {
                                    $('#use\\_button\\_'+msg[i].name).button({ icons: {primary:'ui-icon-plus'} });
                                }
                                $('#use\\_button\\_'+msg[i].name).click(use);
                                var suggestion_div = jQuery('<div id=\'suggestions_'+msg[i].name+'\' class=\'margined ui-widget-content ui-corner-all suggestion\'><div class="ui-widget-header padded ui-corner-all">'+msg[i].name+'</div><div id="assignments_'+msg[i].name+'"></div></div>');
                                suggestion_div.appendTo('#pool');
                                for(var j = 0;j<msg[i].labels.length;++j) {
                                    var scoreline = jQuery('<div id="suggestion_'+msg[i].name+'_'+msg[i].labels[j]+'" class="scoreline not_relevant ui-corner-all margined morepadded">'+msg[i].labels[j]+'</div>');
                                    (function() {
                                        var label = ''+msg[i].labels[j];
                                        var classifier_name = ''+msg[i].name;
                                    }());
                                    $('#assignments\\_'+msg[i].name).append(scoreline);
                                }
                            }
                        }
                        $('#classifiers\\_list').append($('#classifiers\\_list > div').get().sort(function (a, b) {
                            return $(a)[0].id.localeCompare($(b)[0].id);
                        }));
                        if($('#classify\\_button').length==0) {
                            classify_button = jQuery('<div id="classify_button" class="right">Classify</div>');
                            classify_button.button({ icons: {primary:'ui-icon-tag'} });
                            classify_button.click(function() {
                                classify(true);
                            });
                            $('#suggestions').append(classify_button);
                        }
                    }
            });
        }

        function use() {
            var classifier_item = $(this).siblings('.classifier\\_name');
            var classifier_name = classifier_item.text();
            var item = $('#use\\_button\\_'+classifier_name);
            if(item.hasClass('ui-state-focus')) {
                classifier_item.removeClass('ui-state-highlight');
                item.removeClass('ui-state-focus');
                item.button({icons: {primary :'ui-icon-plus'}});
                delete selected_classifiers[classifier_name];
                $('#suggestions\\_'+classifier_name).detach().appendTo('#pool');
            }
            else {
                classifier_item.addClass('ui-state-highlight');
                item.addClass('ui-state-focus');
                item.button({icons: {primary :'ui-icon-check'}});
                selected_classifiers[classifier_name] = true;
                $('#suggestions\\_'+classifier_name).detach().appendTo('#suggestions');
                $('#assignments\\_'+classifier_name).children('.scoreline').removeClass('suggested');
                $('#assignments\\_'+classifier_name).children('.scoreline').removeClass('not_relevant');
                $('#assignments\\_'+classifier_name).children('.scoreline').addClass('pending');
                text = $("#textbox").val();
                if (text.length>0) {
                    var authkey = $('#authkey').val();
                    $.ajax({
                        type:'POST',
                        url:'${classifier_path}/classify',
                        data: { name: classifier_name, X: text, authkey: authkey},
                        dataType: 'json'})
                    .done(function(msg) {
                        var assigned = msg[0];
                        $('#assignments\\_'+classifier_name).children('.scoreline').removeClass('pending');
                        $('#assignments\\_'+classifier_name).children('.scoreline').removeClass('suggested');
                        $('#assignments\\_'+classifier_name).children('.scoreline').addClass('not_relevant');
                        $('#suggestion\\_'+classifier_name+'\\_'+assigned).removeClass('not_relevant');
                        $('#suggestion\\_'+classifier_name+'\\_'+assigned).addClass('suggested');
                    }).fail(function(msg) {
                        custom_alert(msg.responseText);
                    });
                }
            }
        }

        last_text = ""
        function classify(force) {
            text = $("#textbox").val();
            if(text!=last_text || force) {
                last_text = text;
                $('#suggestions div[id^=suggestions] .ui-widget-header').each(function(i,item) {
                    var classifier_name = $(item).text();
                    var authkey = $('#authkey').val();
                    $.ajax({
                        type:'POST',
                        url:'${classifier_path}/classify',
                        data: { name: classifier_name, X: text, authkey: authkey},
                        dataType: 'json'})
                    .done(function(msg) {
                        var assigned = msg[0];
                        $('#assignments\\_'+classifier_name).children('.scoreline').removeClass('suggested');
                        $('#assignments\\_'+classifier_name).children('.scoreline').removeClass('pending');
                        $('#assignments\\_'+classifier_name).children('.scoreline').addClass('not_relevant');
                        $('#suggestion\\_'+classifier_name+'\\_'+assigned).removeClass('not_relevant');
                        $('#suggestion\\_'+classifier_name+'\\_'+assigned).addClass('suggested');
                    }).fail(function(msg) {
                        custom_alert(msg.responseText);
                    });
                });
            }
        }
        $( document ).ready(function() {
            $("#textbox").on("input",function() {
                $('#suggestions div[id^=suggestions] .ui-widget-header').each(function(i,item) {
                    var classifier_name = $(item).text();
                    $('#assignments\\_'+classifier_name).children('.scoreline').removeClass('suggested');
                    $('#assignments\\_'+classifier_name).children('.scoreline').removeClass('not_relevant');
                    $('#assignments\\_'+classifier_name).children('.scoreline').addClass('pending');
                });
            });

            //$('#force\\_update').button().click(update);
            $( "input[type=submit]" ).button();
            timed_update();
        });
    </script>
</%block>

<div id="main" class="padded ui-widget ui-widget-content">
    <div id="sidebar">
        <div class="margined ui-corner-all ui-widget ui-widget-content" id="info">
            <div class="padded ui-widget-header ui-corner-all ">Service info:</div>
            <div class="margined padded ui-widget-content ui-corner-all "><span class="tip" title="${ip}">IP</span> requests this hour: <span id="ip_request_count">0</span> - <span style=' text-decoration: underline; text-decoration-style: dotted' title="a value of -1 means no limit">limit</span>: <span id="ip_hourly_limit">0</span></div>
            <div class="margined padded ui-widget-content ui-corner-all ">Total IP requests: <span id="ip_total">0</span> - <span style=' text-decoration: underline; text-decoration-style: dotted' title="a value of -1 means no limit">limit</span>: <span id="ip_total_limit">0</span></div>
            <div class="margined padded ui-widget-content ui-corner-all "><label for="authkey">Authorization key (<span class="tip" title="An empty or wrong key will back up to ip access.">optional</span>)</label><input type="password" id="authkey" ></input></div>
            <div class="margined padded ui-widget-content ui-corner-all ">Key requests this hour: <span id="key_request_count">0</span> - <span class="tip" title="a value of -1 means no limit">limit</span>:  <span id="key_hourly_limit">0</span></div>
            <div class="margined padded ui-widget-content ui-corner-all ">Total key requests: <span id="key_total">0</span> - <span class="tip" title="a value of -1 means no limit">limit</span>: <span id="key_total_limit">0</span></div>
        </div>
        <div class="margined ui-corner-all ui-widget ui-widget-content" id="classifiers_list">
        </div>
        <!--<div class="padded ui-corner-all ui-widget ui-widget-content" id="force_update">Force update
        </div>-->
    </div>
    <div id="center">
        <div class="margined ui-corner-all ui-widget ui-widget-content">
            <div class="padded ui-widget-header ui-corner-all">Classify text:</div>
            <div class="padded"><textarea id="textbox" class="textbox padded" placeholder="Text to code"></textarea></div>
            <div id="suggestions" class="margined padded ui-widget-content suggestion-container"></div>
                <div id="pool" style="display:none;"></div>
        </div>
    </div>
</div>
