<%inherit file="demo_basewithmenu.html"/>
<div id="main" class="padded ui-widget ui-widget-content">
    <div id="center" class="margined padded">
        <h1>API</h1>

        <p>The demo interface of the classification service publishes two methods, <a href="#info"><code>info</code></a> and <a href="#classify"><code>classify</code></a>.</p>

        <h2><a name="info">${classifier_path}/info</a></h2>

        The <code>info</code> method returns a list of the available classifiers, each represented by a dictionary with the following keys:
        <ul>
            <li><code>name</code> - name of the classifier</li>
            <li><code>type</code> - type of the classifier, i.e., a name that indicates the type of machine learning algorithm on which the classifier is based. Current classifier types are
<%! from db import sqlalchemydb %>
% for classifier_type in sqlalchemydb._CLASSIFIER_TYPES:
                "<code>${classifier_type}</code>"
% endfor
            .</li>
            <li><code>labels</code> - a list of the labels from which the classifier picks the one to assign to a piece of text.</li>
            <li><code>created</code> - the time of creation of the classifier</li>
            <li><code>updated</code> - the time of last update of the classifier</li>
            <li><code>size</code> - an estimate of the training set size for the classifier (could be even zero if a classifier is loaded pretrained)</li>
        </ul>

        <p>Example of query and output:</p>
        <pre>
            Query:
                ${classifier_path}/info

            Response:
                [{
                    "name": "demo",
                    "type": "Statistical",
                    "labels": ["yes", "no"],
                    "created": "2018-04-06 11:18:38.096562+02:00",
                    "updated": "2018-04-06 11:18:45.118769+02:00",
                    "size": 10
                },
                {"name": "demo2",
                    "type": "Statistical",
                    "labels": ["car", "bike", "bus", "walk"],
                    "created": "2018-04-06 11:18:38.096562+02:00",
                    "updated": "2018-04-06 11:18:45.118769+02:00",
                    "size": 100
                }]
        </pre>

        <a href="${classifier_path}/info" class="ui-button ui-corner-all ui-widget">test info query</a>

        <h2><a name="classify">${classifier_path}/classify</a></h2>

        The <code>classify</code> method take input the <code>name</code> of a classifier and one or more strings of text <code>X</code> and returns a list of the labels assigned by the classifier to each string of text.
        The order of the labels follows the order of the strings in the query.
        If a classifier named <code>name</code> does not exist, a error 500 will be returned.

        <p>Example of query and output:</p>
        <pre>
            Query:
                ${classifier_path}/classify?name=demo&X='this is a test'
            Output:
                ["yes"]

            Query:
                ${classifier_path}/classify?name=demo&X='this is not a test'
            Output:
                ["no"]

            Query:
                ${classifier_path}/classify?name=demo&X='this is a test'&X='this is not a test'
            Output:
                ["yes", "no"]

            Note that this last query counts as two classification requests.
        </pre>

        <div><form action="${classifier_path}/classify">
            <p><label for="name">Name of the classifier:</label><input id="name" name="name" type="text"/></p>
            <p><label for="X">Text to classify:</label><input id="X" name="X" type="text"/></p>
            <p><input type="submit" class="ui-button ui-corner-all ui-widget" value="test classify query"></p>
        </form></div>

    </div>
</div>