<%inherit file="base.html" />
<%block name="head">
    <script type="text/javascript">
            $( document ).ready(function() {
                $( "#nav #menu" ).menu();
        });
    </script>
</%block>
<%block name="menu">
                <div id="nav">
                    <ul id="menu">
                        <li><a href="${mount_dir}/">Home</a></li>
                        <li><a href="${mount_dir}/api">API</a></li>
                        <li><a href="${mount_dir}/about">About</a></li>
                    </ul>
                </div>
</%block>