<%inherit file="admin_basewithmenu.html" />
<%block name="head">
${parent.head()}
    <script type="text/javascript">
       update_interval=2000
       delay_interval=500
        last_update = 0
        page = 1;
        page_size = 10;

        pagination_div = jQuery('<div id="pagination" class="right plain">\
                         page<input id="page" style="width:3em;" type="number" min="1" value="1"/>\
                         /<span id="pagecount">X</span>\
                         count<select id="pagesize"><option value="10" selected>10</option>\
                         <option value="20">20</option><option value="50" >50</option>\
                         <option value="100">100</option><option value="200">200</option></select></div></div>');

        function timed_update() {
            now = Date.now();
            if(now-last_update>update_interval)
                update();
            setTimeout(timed_update,update_interval);
        }

        function update() {
            last_update = Date.now();
            var count = parseInt($(pagination_div.children()[2]).val())
            $.ajax({
                type:'POST',
                url:'${jobs_path}/locks_count',
                dataType: 'json'})
            .done(function(msg) {
                count = parseInt(msg);
                var maxpage = Math.ceil(count/parseInt($(pagination_div.children()[2]).val()))
                $(pagination_div.children()[0]).attr({
                       "max" : maxpage
                    });
                $(pagination_div.children()[1]).text(maxpage)
            });
            $.ajax({
                type:'POST',
                url:'${jobs_path}/locks',
                data: { page : parseInt($(pagination_div.children()[0]).val())-1, page_size :$(pagination_div.children()[2]).val()},
                dataType: 'json'})
            .done(function(msg) {
                if(msg.length==0) {
                    $('#lock\\_list').html('<div id="nodata" class="padded ui-widget-header ui-corner-all">No locks</div>');
                    $('#nodata').prepend(pagination_div);
                    $('#page').val(1);
                }
                else {
                    if($('#gotlock').length==0) {
                        $('#lock\\_list').html('<div id="gotlock" class="padded ui-widget-header ui-corner-all">Locks:</div>\
                        <div id="lock" class="table margined ui-widget-content ui-corner-all">\
                        <div><div>name</div>\
                        <div>locker</div>\
                        <div class="small">created</div>\
                        <div>actions</div>\
                        </div></div>');
                        $('#gotlock').prepend(pagination_div);
                    }
                    var curr_list = {};
                    $('#lock').children().each(function (index, value) {if(value.id.startsWith('lock_')) { curr_list[value.id]=true;}})
                    for(var i = 0;i<msg.length;++i) {
                        item = jQuery('<div id=\'lock_'+msg[i].name.replace(/(\W)/gi,'_')+'\'>\
                        <div class="name">'+msg[i].name+'</div>\
                        <div>'+msg[i].locker+'</div>\
                        <div>'+msg[i].creation+'</div>\
                        <div><div id="delete_'+msg[i].name.replace(/(\W)/gi,'_')+'">Delete</div></div>\
                        </div>');
                        if ($('#lock\\_'+msg[i].name.replace(/(\W)/gi,'_')).length!=0) {
                            $('#lock\\_'+msg[i].name.replace(/(\W)/gi,'_')).replaceWith(item)
                            delete curr_list['lock_'+msg[i].name.replace(/(\W)/gi,'_')];
                        }
                        else
                            $('#lock').append(item);
                        $('#delete\\_'+msg[i].name.replace(/(\W)/gi,'_')).button({ icons: {primary:'ui-icon-trash'} });
                        $('#delete\\_'+msg[i].name.replace(/(\W)/gi,'_')).click(delete_lock);
                    }
                    for (var key in curr_list) {
                        $('#'+key).remove();
                    }
                }
                $('#page').unbind('keyup mouseup');
                $('#pagesize').unbind('keyup mouseup');
                $('#page').bind('keyup mouseup',update);
                $('#pagesize').bind('keyup mouseup',update);
            });
        }

        function delete_lock() {
            if(!confirm('Please confirm the DELETE request, proceed?'))
                return;
            var lock_id = $(this).parent().siblings('.name').text();
            $('#lock\\_'+lock_id.replace(/(\W)/gi,'_')).hide();
            $.ajax({
                type:'POST',
                url:'${jobs_path}/delete_lock/'+lock_id})
            .done(update())
            .fail(function () {
                    $('#lock\\_'+lock_id.replace(/(\W)/gi,'_')).show();
            });
        };


        $( document ).ready(function() {
            //$('#force\\_update').button().click(update);
            timed_update();
        });
    </script>
</%block>
<div id="main" class="padded ui-widget ui-widget-content">
    <div id="sidebar">
        <div class="margined  ui-corner-all ui-widget ui-widget-content" id="actions">
        </div>
        <!--<div class="padded ui-corner-all ui-widget ui-widget-content" id="force_update">Force update
        </div>-->
    </div>
    <div id="center">
        <div id="lock_list" class="margined ui-widget-content suggestion-container"></div>
    </div>
</div>