<%inherit file="base.html" />
<%block name="head">
    <script type="text/javascript">

        function login() {
            username = $("#username").val();
            password = $("#password").val();
            var data = {username: username, password: password} ;
            $.ajax({
                type: "POST",
                url: "${auth_path}/login",
                data: data})
            .done(function(){window.location.href = '/';})
            .fail(function(errMsg) {
                $('#msg').text(errMsg.responseText);
            });
            return false;
        };

        $( document ).ready(function() {
            $('#login').submit(login);
        });
</script>
</%block>
<p>&nbsp;</p>
<div class="margined  ui-corner-all ui-widget ui-widget-content" style="display: inline-block;margin-left:40%;" id="login">
<div class="padded ui-widget-header ui-corner-all" style="margin: 0 auto;">Please login</div>
<form method="post" action="#" autocomplete="on">
    <p>    <label for="username">Username:</label> <input id="username" type="text" name="username" value="${username}"/></p>
   <p>  <label for="password">Password:</label> <input id="password" type="password" name="password"/></p>
   <label></label> <input type="submit" value="Log in"/>
</form>
</div>
<p id="msg">${msg}</p>
<p>&nbsp;</p>
