<%inherit file="basewithmenu.html" />
<%block name="head">
${parent.head()}
<script type="text/javascript">
        update_interval=8000
        delay_interval=500
        last_update = 0
        function timed_update() {
            now = Date.now();
            if(now-last_update>update_interval)
                update();
            setTimeout(timed_update,update_interval);
        }

        selected_classifiers = {};

        function update() {
            last_update = Date.now();
            $.ajax({
                type:'POST',
                url:'${classifier_path}/info',
                dataType: 'json'})
            .done(function(msg) {
                var valid_classifiers = {}
                var added = false;
                for(var i = 0;i<msg.length;++i) {
                    valid_classifiers[msg[i].name] = true;
                    if($('#use\\_opt\\_'+msg[i].name).length==0) {
                        var single_label = msg[i].type=="Single-label";
                        var labeltype='<span id="'+msg[i].name+'_single" class="labeltype">S</span>';
                        if(!single_label) {
                            labeltype='<span id="'+msg[i].name+'_multi" class="labeltype">M</span>'
                        }
                        added = true;
                        if(single_label) {
                            $('#use').append($('<option title="'+msg[i].description+'" id="use_opt_'+msg[i].name+'"/>').val(msg[i].name).text(msg[i].name+' (S)'));
                        }
                        else {
                            $('#use').append($('<option title="'+msg[i].description+'" id="use_opt_'+msg[i].name+'"/>').val(msg[i].name).text(msg[i].name+' (M)'));
                        }
                        $('#dup\\_from').append($('<option title="'+msg[i].description+'" id="dup_opt_'+msg[i].name+'"/>').val(msg[i].name).text(msg[i].name));
                        var suggestion_div = jQuery('<div id=\'suggestions_'+msg[i].name+'\' class=\'margined ui-widget-content ui-corner-all suggestion\'><div class="ui-widget-header padded ui-corner-all"><span class="name">'+msg[i].name+'</span>'+labeltype+'</div><div id="assignments_'+msg[i].name+'"></div></div>');
                        suggestion_div.appendTo('#pool');
                        for(var j = 0;j<msg[i].labels.length;++j) {
                            if(single_label) {
                                var scoreline = jQuery('<div id="suggestion_'+msg[i].name+'_'+msg[i].labels[j]+'" class="pointer scoreline not_relevant ui-corner-all margined morepadded">'+msg[i].labels[j]+'</div>');
                                scoreline.click((function(single_label, classifier_name, label){
                                    if(!$('#suggestion\\_'+classifier_name+'\\_'+label).hasClass('assigned')) {
                                        if($('#suggestion\\_'+classifier_name+'\\_'+label).hasClass('suggested')) {
                                            $('#history').prepend('<span class="agreement yes" style="color:lightgreen;">✓</span>');
                                        }
                                        else {
                                            $('#history').prepend('<span class="agreement no" style="color:red;">✗</span>');
                                        }
                                        var histsize = parseInt($("#histsize").val());
                                        $('#history').children().slice(histsize).remove();
                                        var total = $('#history').children().length;
                                        var positive = $('#history').children('.yes').length;
                                        $('#accuracy').text((positive/total).toFixed(2));

                                        $('#assignments\\_'+classifier_name).children('.scoreline').removeClass('suggested');
                                        $('#assignments\\_'+classifier_name).children('.scoreline').removeClass('assigned');
                                        $('#assignments\\_'+classifier_name).children('.scoreline').addClass('not_relevant');
                                        $('#suggestion\\_'+classifier_name+'\\_'+label).removeClass('not_relevant')
                                        $('#suggestion\\_'+classifier_name+'\\_'+label).addClass('assigned')
                                        $.ajax({
                                            type:'POST',
                                            url:'${classifier_path}/update',
                                            data: { name: classifier_name, X: [last_text], y: [label]}})
                                        .fail(function(msg) {
                                            custom_alert(msg);
                                        });
                                    }
                                }).bind(null, single_label, msg[i].name, msg[i].labels[j]));
                            }
                            else {
                                var scoreline_yes = jQuery('<div id="suggestion_'+msg[i].name+'_'+msg[i].labels[j]+'_yes" class="pointer scoreline not_relevant ui-corner-all margined morepadded multiyes">'+msg[i].labels[j]+'</div>');
                                var scoreline_no = jQuery('<div id="suggestion_'+msg[i].name+'_'+msg[i].labels[j]+'_no" class="pointer scoreline not_relevant ui-corner-all margined morepadded multino">✗</div>');
                                scoreline_yes.click((function(single_label, classifier_name, label){
                                    if(!$('#suggestion\\_'+classifier_name+'\\_'+label+'\\_yes').hasClass('assigned')) {
                                        if($('#suggestion\\_'+classifier_name+'\\_'+label+'\\_yes').hasClass('suggested')) {
                                            $('#history').prepend('<span class="agreement yes" style="color:lightgreen;">✓</span>');
                                        }
                                        else {
                                            $('#history').prepend('<span class="agreement no" style="color:red;">✗</span>');
                                        }
                                        var histsize = parseInt($("#histsize").val());
                                        $('#history').children().slice(histsize).remove();
                                        var total = $('#history').children().length;
                                        var positive = $('#history').children('.yes').length;
                                        $('#accuracy').text((positive/total).toFixed(2));

                                        $('#suggestion\\_'+classifier_name+'\\_'+label+'\\_yes').removeClass('not_relevant')
                                        $('#suggestion\\_'+classifier_name+'\\_'+label+'\\_yes').removeClass('suggested')
                                        $('#suggestion\\_'+classifier_name+'\\_'+label+'\\_yes').addClass('assigned')
                                        $('#suggestion\\_'+classifier_name+'\\_'+label+'\\_no').removeClass('assigned')
                                        $('#suggestion\\_'+classifier_name+'\\_'+label+'\\_no').removeClass('suggested')
                                        $('#suggestion\\_'+classifier_name+'\\_'+label+'\\_no').addClass('not_relevant')

                                        $.ajax({
                                            type:'POST',
                                            url:'${classifier_path}/update',
                                            data: { name: classifier_name, X: [last_text], y: [label+':yes']}})
                                        .fail(function(msg) {
                                            custom_alert(msg);
                                        });
                                    }
                                }).bind(null, single_label, msg[i].name, msg[i].labels[j]));
                                scoreline_no.click((function(single_label, classifier_name, label){
                                    if(!$('#suggestion\\_'+classifier_name+'\\_'+label+'\\_no').hasClass('assigned')) {
                                        if($('#suggestion\\_'+classifier_name+'\\_'+label+'\\_no').hasClass('suggested')) {
                                            $('#history').prepend('<span class="agreement yes" style="color:lightgreen;">✓</span>');
                                        }
                                        else {
                                            $('#history').prepend('<span class="agreement no" style="color:red;">✗</span>');
                                        }
                                        var histsize = parseInt($("#histsize").val());
                                        $('#history').children().slice(histsize).remove();
                                        var total = $('#history').children().length;
                                        var positive = $('#history').children('.yes').length;
                                        $('#accuracy').text((positive/total).toFixed(2));

                                        $('#suggestion\\_'+classifier_name+'\\_'+label+'\\_no').removeClass('not_relevant')
                                        $('#suggestion\\_'+classifier_name+'\\_'+label+'\\_no').removeClass('suggested')
                                        $('#suggestion\\_'+classifier_name+'\\_'+label+'\\_no').addClass('assigned')
                                        $('#suggestion\\_'+classifier_name+'\\_'+label+'\\_yes').removeClass('assigned')
                                        $('#suggestion\\_'+classifier_name+'\\_'+label+'\\_yes').removeClass('suggested')
                                        $('#suggestion\\_'+classifier_name+'\\_'+label+'\\_yes').addClass('not_relevant')

                                        $.ajax({
                                            type:'POST',
                                            url:'${classifier_path}/update',
                                            data: { name: classifier_name, X: [last_text], y: [label+':no']}})
                                        .fail(function(msg) {
                                            custom_alert(msg);
                                        });
                                    }
                                }).bind(null, single_label, msg[i].name, msg[i].labels[j]));
                                var scoreline = jQuery('<div  class="margined"></div>');
                                scoreline.append(scoreline_yes);
                                scoreline.append(scoreline_no);
                            }
                            $('#assignments\\_'+msg[i].name).append(scoreline);
                        }
                    }
                }
                if($('#all\\_correct').length==0) {
                    var all_correct = jQuery('<div id="all_correct" class="right"><span class="suggested">Suggestions</span> are correct</div>');
                    all_correct.button({ icons: {primary:'ui-icon-check'} });
                    all_correct.click(function() {
                        $('#suggestions div div .suggested').each(function(i,item) {
                            item.click();
                        });
                    });
                    $('#suggestions').append(all_correct);
                }
                $('#use').children().each(function (index, value) {
                    if(!valid_classifiers[value.id.slice(8)]) {
                        $('#'+value.id).remove();
                        $('#suggestions\\_'+value.id.slice(8)).remove();
                    }
                });
                $('#dup\\_from').children().each(function (index, value) {if(!valid_classifiers[value.id.slice(8)]) {$('#'+value.id).remove();}});
                if(added) {
                    $('#use').append($('#use > option').get().sort(function (a, b) {
                        return $(a)[0].id.localeCompare($(b)[0].id);
                    }));
                    $('#dup\\_from').append($('#dup\\_from > option').get().sort(function (a, b) {
                        return $(a)[0].id.localeCompare($(b)[0].id);
                    }));
                }
                var updated_list = {};
                $('#use').attr('size',Math.min(10,Object.keys(valid_classifiers).length));
                $('#use').select2({
                    placeholder: 'Select the classifiers to use',
                    width: 'element'
                    });
                $('#dup\\_from').select2({
                    placeholder: 'Select the source classifier',
                    width: '100%'
                    });
                $("select[multiple]").off('select2:select').on('select2:select',function(msg){
                    var name = msg.params.data.id;
                    $('#suggestions\\_'+name).detach().appendTo('#suggestions');
                    classify([name]);
                    return false;
                });
                $("select[multiple]").off('select2:unselect').on('select2:unselect',function(msg){
                    var name = msg.params.data.id;
                    $('#suggestions\\_'+name).detach().appendTo('#pool');
                    return false;
                });
            });
        }

        function create_classifier() {
            name = $("#name").val();
            if(!name.match(/^[a-zA-Z0-9_]+$/)) {
                custom_alert("The name of the classifier can only contain letters, numbers and the underscore character '_'");
                return false;
            }
            labelsString = $("#labels").val();
            if(!labelsString.match(/^[a-zA-Z0-9_,]+$/)) {
                custom_alert("The names of labels can only contain letters, numbers and the underscore character '_'");
                return false;
            }
            labels = labelsString.split(',');
            type = $("#type").val();
            var data = {name: name, labels: labels, type: type} ;
            $.ajax({
                type: "POST",
                url: "${classifier_path}/create",
                data: data})
            .done(update)
            .fail(function(errMsg) {
                custom_alert(errMsg.responseText);
            });
            return false ;
        };

        function duplicate_classifier() {
            name = $("#dup\\_name").val();
            if(!name.match(/^[a-zA-Z0-9_]+$/)) {
                custom_alert("The name of the classifier can only contain letters, numbers and the underscore character '_'");
                return false;
            }
            dup_from = $("#dup\\_from").val();
            var duplicatetype = $("#dup\\_type").val();
            var data = {name: dup_from, new_name: name, type: duplicatetype};
            $.ajax({
                type: "POST",
                url: "${classifier_path}/duplicate",
                data: data})
            .done(update)
            .fail(function(errMsg) {
                custom_alert(errMsg.responseText);
            });
            return false ;
        };

        last_text = ""
        function classify(selection) {
            var text = $("#textbox").val();
            var force = text!=last_text;
            if(force) {
                reset_labels();
            }
            last_text = text;
            $('#suggestions div[id^=suggestions] .ui-widget-header').each(function(i,item) {
                var classifier_name = $(item).children('.name').text();
                var single_label = $('#'+classifier_name+'\\_single').length>0;
                if(typeof selection == 'undefined' || selection.indexOf(classifier_name)>=0) {
                    if(single_label) {
                        var assigned = $('#assignments\\_'+classifier_name).children('.scoreline.assigned').length>0;
                        if(!assigned||force) {
                            $.ajax({
                                type:'POST',
                                url:'${classifier_path}/classify',
                                data: { name: classifier_name, X: [text]}})
                            .done(function(msg) {
                                var suggested = msg[0];
                                assigned = $('#assignments\\_'+classifier_name).children('.scoreline.assigned').length>0;
                                if(!assigned || force) {
                                    $('#assignments\\_'+classifier_name).children('.scoreline').removeClass('assigned');
                                    $('#assignments\\_'+classifier_name).children('.scoreline').removeClass('suggested');
                                    $('#assignments\\_'+classifier_name).children('.scoreline').addClass('not_relevant');
                                    if(suggested.startsWith('✍')) {
                                        var name = suggested.substring(1);
                                        $('#suggestion\\_'+classifier_name+'\\_'+name).removeClass('not_relevant');
                                        $('#suggestion\\_'+classifier_name+'\\_'+name).addClass('assigned');
                                    }
                                    else {
                                        $('#suggestion\\_'+classifier_name+'\\_'+suggested).removeClass('not_relevant');
                                        $('#suggestion\\_'+classifier_name+'\\_'+suggested).addClass('suggested');
                                    }
                                }
                            });
                        }
                    }
                    else {
                       $.ajax({
                            type:'POST',
                            url:'${classifier_path}/classify',
                            data: { name: classifier_name, X: [text]}})
                        .done(function(msg) {
                            var suggested = msg[0];
                            suggested.forEach(function(label_value) {
                                var split = label_value.split(':');
                                var label = split[0];
                                var value = split[1];
                                var human = false;
                                if(label.startsWith('✍')) {
                                    label = label.substring(1);
                                    human = true;
                                }
                                var not_value = (value=='yes')?'no':'yes';
                                assigned = $('#suggestion\\_'+classifier_name+'\\_'+label+'\\_'+value).hasClass('assigned')||$('#suggestion\\_'+classifier_name+'\\_'+label+'\\_'+not_value).hasClass('assigned');
                                if(!assigned || force) {
                                    $('#suggestion\\_'+classifier_name+'\\_'+label+'\\_'+value).removeClass('not_relevant');
                                    if(human) {
                                        $('#suggestion\\_'+classifier_name+'\\_'+label+'\\_'+value).addClass('assigned');
                                        $('#suggestion\\_'+classifier_name+'\\_'+label+'\\_'+value).removeClass('suggested');
                                    }
                                    else {
                                        $('#suggestion\\_'+classifier_name+'\\_'+label+'\\_'+value).addClass('suggested');
                                        $('#suggestion\\_'+classifier_name+'\\_'+label+'\\_'+value).removeClass('assigned');
                                    }
                                    $('#suggestion\\_'+classifier_name+'\\_'+label+'\\_'+not_value).removeClass('assigned');
                                    $('#suggestion\\_'+classifier_name+'\\_'+label+'\\_'+not_value).removeClass('suggested');
                                    $('#suggestion\\_'+classifier_name+'\\_'+label+'\\_'+not_value).addClass('not_relevant');
                                }
                            });
                        });
                    }
                }
            });
        }

        function reset_labels() {
            $('#suggestions div[id^=suggestions] .ui-widget-header').each(function(i,item) {
                var classifier_name = $(item).children('.name').text();
                $('#assignments\\_'+classifier_name).find('.scoreline').removeClass('assigned');
                $('#assignments\\_'+classifier_name).find('.scoreline').removeClass('suggested');
                $('#assignments\\_'+classifier_name).find('.scoreline').addClass('not_relevant');
            });
            $('#pool div[id^=suggestions] .ui-widget-header').each(function(i,item) {
                var classifier_name = $(item).children('.name').text();
                $('#assignments\\_'+classifier_name).find('.scoreline').removeClass('assigned');
                $('#assignments\\_'+classifier_name).find('.scoreline').removeClass('suggested');
                $('#assignments\\_'+classifier_name).find('.scoreline').addClass('not_relevant');
            });
        }

        $( document ).ready(function() {
            $("#textbox").on("input",function() {
                delay(function() {
                reset_labels();
                classify();
            },delay_interval);});

            $("#create\\_classifier").submit(create_classifier);
            $("#duplicate\\_classifier").submit(duplicate_classifier);

            //$('#force\\_update').button().click(update);
            $( "input[type=submit]" ).button();
            timed_update();
        });
    </script>
</%block>

<div id="main" class="padded ui-widget ui-widget-content">
    <div id="sidebar">
        <div class="margined ui-corner-all ui-widget ui-widget-content" id="classifiers_list">
            <div class="padded ui-widget-header ui-corner-all">Select classifiers:</div>
            <select class="margined"  multiple id="use" style="resize: vertical;width: 95%;">
            </select>
        </div>
        <!--<div class="padded ui-corner-all ui-widget ui-widget-content" id="force_update">Force update
        </div>-->
        <div class="margined  ui-corner-all ui-widget ui-widget-content" id="classifier_create">
            <div class="padded ui-widget-header ui-corner-all">Create a classifier from scratch:</div>
            <form id="create_classifier" class="margined" action="#" method="post">
                <p>
                <label class="margined" for="name">Name:</label>
                <input class="margined" type="text" id="name" /> </p>
                <p>
                <label class="margined" for="labels">Labels (comma separated):</label>
                <input class="margined" type="text" id="labels" /> </p>
                 <p>
                    <label class="margined" for="type">Type:</label>
                    <select class="margined" id="type">
<%! from db import sqlalchemydb %>
% for classifier_type in sqlalchemydb.CLASSIFIER_TYPES:
                        <option value="${classifier_type}">${classifier_type}</option>
% endfor
                    </select></p>
                <p><label></label>
                <input class="margined" type="submit" value="Create" />
                </p>
            </form>
        </div>
        <div class="margined  ui-corner-all ui-widget ui-widget-content" id="classifier_duplicate">
            <div class="padded ui-widget-header ui-corner-all">Create a classifier from another one:</div>
            <form id="duplicate_classifier" class="margined" action="#" method="post">
                <p>
                <label class="margined" for="dup_name">Name:</label>
                <input class="margined" type="text" id="dup_name" /> </p>
                 <p>
                    <label class="margined" for="dup_from">From:</label>
                    <select class="margined" id="dup_from">
                    </select></p>
                 <p>
                    <label class="margined" for="dup_type">Type:</label>
                    <select class="margined" id="dup_type">
<%! from db import sqlalchemydb %>
% for classifier_type in sqlalchemydb.CLASSIFIER_TYPES:
                        <option value="${classifier_type}">${classifier_type}</option>
% endfor
                    </select></p>
                <p><label></label>
                <input class="margined" type="submit" value="Create" />
                </p>
            </form>
        </div>
    </div>
    <div id="center">
        <div class="margined ui-corner-all ui-widget ui-widget-content">
            <div class="padded ui-widget-header ui-corner-all">Classify text:</div>
            <div class="padded"><textarea id="textbox" class="textbox padded" placeholder="Text to code"></textarea></div>
        <div id="suggestions" class="margined padded ui-widget-content suggestion-container"></div>
        <div id="pool" style="display:none;"></div>
        </div>
    </div>
</div>
