<%inherit file="basewithmenu.html" />
<%block name="head">
${parent.head()}
<script type="text/javascript">
        update_interval=8000
        delay_interval=500
        last_update = 0
        function timed_update() {
            now = Date.now();
            if(now-last_update>update_interval)
                update();
            setTimeout(timed_update,update_interval);
        }

        function update() {
            last_update = Date.now();
            $.ajax({
                type:'POST',
                url:'${classifier_path}/info',
                dataType: 'json'})
            .done(function(msg) {
                var valid_classifiers = {}
                var added = false;
                for(var i = 0;i<msg.length;++i) {
                    valid_classifiers[msg[i].name] = true;
                    if($('#use\\_opt\\_'+msg[i].name).length==0) {
                        var single_label = msg[i].type=="Single-label";
                        var labeltype='<span id="'+msg[i].name+'_single" class="w3-small w3-margin-left w3-right">S</span>';
                        if(!single_label) {
                            labeltype='<span id="'+msg[i].name+'_multi" class="w3-small w3-margin-left w3-right">M</span>'
                        }
                        added = true;
                        $('#use').append($('<option title="'+msg[i].description+'" id="use_opt_'+msg[i].name+'"/>').val(msg[i].name).text(msg[i].name));
                        $('#dup\\_from').append($('<option title="'+msg[i].description+'" id="dup_opt_'+msg[i].name+'"/>').val(msg[i].name).text(msg[i].name));
                        var suggestion_div = jQuery('<div id=\'suggestions_'+msg[i].name+'\' class=\'w3-col w3-card w3-margin-top w3-margin-right\' style=\'width:auto\'>\
                        <div class="name w3-display-container w3-container w3-padding w3-theme">'+msg[i].name+labeltype+'</div>\
                        <div id="assignments_'+msg[i].name+'"></div></div>');
                        suggestion_div.appendTo('#pool');
                        for(var j = 0;j<msg[i].labels.length;++j) {
                            if(single_label) {
                                var scoreline = jQuery('<div id="suggestion_'+msg[i].name+'_L_'+msg[i].labels[j]+'" class="w3-left w3-hover-theme with w3-hover-opacity pointer scoreline not_relevant">'+msg[i].labels[j]+'</div>');
                                scoreline.click((function(single_label, classifier_name, label){
                                    if(!$('#suggestion\\_'+classifier_name+'\\_L\\_'+label).hasClass('assigned')) {
                                        if($('#suggestion\\_'+classifier_name+'\\_L\\_'+label).hasClass('suggested')) {
                                            $('#history').prepend('<span class="agreement yes w3-text-light-green">✓</span>');
                                        }
                                        else {
                                            $('#history').prepend('<span class="agreement no w3-text-red">✗</span>');
                                        }
                                        var histsize = parseInt($("#histsize").val());
                                        $('#history').children().slice(histsize).remove();
                                        var total = $('#history').children().length;
                                        var positive = $('#history').children('.yes').length;
                                        $('#accuracy').text((positive/total*100).toFixed(0)+"%");

                                        $('#assignments\\_'+classifier_name).children('.scoreline').removeClass('suggested');
                                        $('#assignments\\_'+classifier_name).children('.scoreline').removeClass('assigned');
                                        $('#assignments\\_'+classifier_name).children('.scoreline').addClass('not_relevant');
                                        $('#suggestion\\_'+classifier_name+'\\_L\\_'+label).removeClass('not_relevant')
                                        $('#suggestion\\_'+classifier_name+'\\_L\\_'+label).addClass('assigned')
                                        $.ajax({
                                            type:'POST',
                                            url:'${classifier_path}/update',
                                            data: { name: classifier_name, X: [last_text], y: [label]}})
                                        .fail(function(msg) {
                                            custom_alert(msg);
                                        });
                                    }
                                }).bind(null, single_label, msg[i].name, msg[i].labels[j]));
                            }
                            else {
                                var scoreline_yes = jQuery('<div id="suggestion_'+msg[i].name+'_L_'+msg[i].labels[j]+'_yes" class="w3-col w3-hover-theme with w3-hover-opacity pointer scoreline not_relevant multiyes" style="width:auto;">'+msg[i].labels[j]+'</div>');
                                var scoreline_no = jQuery('<div id="suggestion_'+msg[i].name+'_L_'+msg[i].labels[j]+'_no" class="w3-rest w3-hover-theme with w3-hover-opacity w3-right-align pointer scoreline not_relevant multino"">✗</div>');
                                scoreline_yes.click((function(single_label, classifier_name, label){
                                    if(!$('#suggestion\\_'+classifier_name+'\\_L\\_'+label+'\\_yes').hasClass('assigned')) {
                                        if($('#suggestion\\_'+classifier_name+'\\_L\\_'+label+'\\_yes').hasClass('suggested')) {
                                            $('#history').prepend('<span class="agreement yes w3-text-light-green">✓</span>');
                                        }
                                        else {
                                            $('#history').prepend('<span class="agreement no w3-text-red">✗</span>');
                                        }
                                        var histsize = parseInt($("#histsize").val());
                                        $('#history').children().slice(histsize).remove();
                                        var total = $('#history').children().length;
                                        var positive = $('#history').children('.yes').length;
                                        $('#accuracy').text((positive/total*100).toFixed(0)+"%");

                                        $('#suggestion\\_'+classifier_name+'\\_L\\_'+label+'\\_yes').removeClass('not_relevant')
                                        $('#suggestion\\_'+classifier_name+'\\_L\\_'+label+'\\_yes').removeClass('suggested')
                                        $('#suggestion\\_'+classifier_name+'\\_L\\_'+label+'\\_yes').addClass('assigned')
                                        $('#suggestion\\_'+classifier_name+'\\_L\\_'+label+'\\_no').removeClass('assigned')
                                        $('#suggestion\\_'+classifier_name+'\\_L\\_'+label+'\\_no').removeClass('suggested')
                                        $('#suggestion\\_'+classifier_name+'\\_L\\_'+label+'\\_no').addClass('not_relevant')

                                        $.ajax({
                                            type:'POST',
                                            url:'${classifier_path}/update',
                                            data: { name: classifier_name, X: [last_text], y: [label+':yes']}})
                                        .fail(function(msg) {
                                            custom_alert(msg);
                                        });
                                    }
                                }).bind(null, single_label, msg[i].name, msg[i].labels[j]));
                                scoreline_no.click((function(single_label, classifier_name, label){
                                    if(!$('#suggestion\\_'+classifier_name+'\\_L\\_'+label+'\\_no').hasClass('assigned')) {
                                        if($('#suggestion\\_'+classifier_name+'\\_L\\_'+label+'\\_no').hasClass('suggested')) {
                                            $('#history').prepend('<span class="agreement yes w3-text-light-green">✓</span>');
                                        }
                                        else {
                                            $('#history').prepend('<span class="agreement no w3-text-red">✗</span>');
                                        }
                                        var histsize = parseInt($("#histsize").val());
                                        $('#history').children().slice(histsize).remove();
                                        var total = $('#history').children().length;
                                        var positive = $('#history').children('.yes').length;
                                        $('#accuracy').text((positive/total*100).toFixed(0)+"%");

                                        $('#suggestion\\_'+classifier_name+'\\_L\\_'+label+'\\_no').removeClass('not_relevant')
                                        $('#suggestion\\_'+classifier_name+'\\_L\\_'+label+'\\_no').removeClass('suggested')
                                        $('#suggestion\\_'+classifier_name+'\\_L\\_'+label+'\\_no').addClass('assigned')
                                        $('#suggestion\\_'+classifier_name+'\\_L\\_'+label+'\\_yes').removeClass('assigned')
                                        $('#suggestion\\_'+classifier_name+'\\_L\\_'+label+'\\_yes').removeClass('suggested')
                                        $('#suggestion\\_'+classifier_name+'\\_L\\_'+label+'\\_yes').addClass('not_relevant')

                                        $.ajax({
                                            type:'POST',
                                            url:'${classifier_path}/update',
                                            data: { name: classifier_name, X: [last_text], y: [label+':no']}})
                                        .fail(function(msg) {
                                            custom_alert(msg);
                                        });
                                    }
                                }).bind(null, single_label, msg[i].name, msg[i].labels[j]));
                                var scoreline = jQuery('<div class="w3-left w3-row multiscoreline"></div>');
                                scoreline.append(scoreline_yes);
                                scoreline.append(scoreline_no);
                            }
                            $('#assignments\\_'+msg[i].name).append(scoreline);
                        }
                    }
                }
                if($('#all\\_correct').length==0) {
                    var all_correct = jQuery('<div id="all_correct" class="w3-right w3-button w3-theme w3-round">All <span class="suggested w3-text-theme">suggestions</span> are correct</div>');
                    all_correct.click(function() {
                        $('#suggestions div div .suggested').each(function(i,item) {
                            item.click();
                        });
                    });
                    $('#buttons').append(all_correct);
                }
                $('#use').children().each(function (index, value) {
                    if(!valid_classifiers[value.id.slice(8)]) {
                        $('#'+value.id).remove();
                        $('#suggestions\\_'+value.id.slice(8)).remove();
                    }
                });
                $('#dup\\_from').children().each(function (index, value) {if(!valid_classifiers[value.id.slice(8)]) {$('#'+value.id).remove();}});
                if(added) {
                    $('#use').append($('#use > option').get().sort(function (a, b) {
                        return $(a)[0].id.localeCompare($(b)[0].id);
                    }));
                    $('#dup\\_from').append($('#dup\\_from > option').get().sort(function (a, b) {
                        return $(a)[0].id.localeCompare($(b)[0].id);
                    }));
                    $('#use').attr('size',Math.min(10,Object.keys(valid_classifiers).length));
                    $('#use').select2({
                        placeholder: 'Select the classifiers to use',
                        width: '100%'
                    });
                    $('#dup\\_from').select2({
                        placeholder: 'Select the source classifier',
                        width: '100%'
                    });
                    $("select[multiple]").off('select2:select').on('select2:select',function(msg){
                        var name = msg.params.data.id;
                        $('#suggestions\\_'+name).detach().appendTo('#suggestions');
                        classify([name]);
                        return false;
                    });
                    $("select[multiple]").off('select2:unselect').on('select2:unselect',function(msg){
                        var name = msg.params.data.id;
                        $('#suggestions\\_'+name).detach().appendTo('#pool');
                        return false;
                    });
                }
            });
        }

        last_text = ""
        function classify(selection) {
            var text = $("#textbox").val();
            var force = text!=last_text;
            if(force) {
                reset_labels();
            }
            last_text = text;
            $('#suggestions > div').each(function(i,item) {
                var classifier_name = $(item).children('.name').text();
                classifier_name = classifier_name.substr(0,classifier_name.length - 1)
                var single_label = $('#'+classifier_name+'\\_single').length>0;
                if(typeof selection == 'undefined' || selection.indexOf(classifier_name)>=0) {
                    if(single_label) {
                        var assigned = $('#assignments\\_'+classifier_name).children('.scoreline.assigned').length>0;
                        if(!assigned||force) {
                            $.ajax({
                                type:'POST',
                                url:'${classifier_path}/classify',
                                data: { name: classifier_name, X: [text]}})
                            .done(function(msg) {
                                var suggested = msg[0];
                                assigned = $('#assignments\\_'+classifier_name).children('.scoreline.assigned').length>0;
                                if(!assigned || force) {
                                    $('#assignments\\_'+classifier_name).children('.scoreline').removeClass('assigned');
                                    $('#assignments\\_'+classifier_name).children('.scoreline').removeClass('suggested');
                                    $('#assignments\\_'+classifier_name).children('.scoreline').addClass('not_relevant');
                                    if(suggested.startsWith('✍')) {
                                        var name = suggested.substring(1);
                                        $('#suggestion\\_'+classifier_name+'\\_L\\_'+name).removeClass('not_relevant');
                                        $('#suggestion\\_'+classifier_name+'\\_L\\_'+name).addClass('assigned');
                                    }
                                    else {
                                        $('#suggestion\\_'+classifier_name+'\\_L\\_'+suggested).removeClass('not_relevant');
                                        $('#suggestion\\_'+classifier_name+'\\_L\\_'+suggested).addClass('suggested');
                                    }
                                }
                            });
                        }
                    }
                    else {
                       $.ajax({
                            type:'POST',
                            url:'${classifier_path}/classify',
                            data: { name: classifier_name, X: [text]}})
                        .done(function(msg) {
                            var suggested = msg[0];
                            suggested.forEach(function(label_value) {
                                var split = label_value.split(':');
                                var label = split[0];
                                var value = split[1];
                                var human = false;
                                if(label.startsWith('✍')) {
                                    label = label.substring(1);
                                    human = true;
                                }
                                var not_value = (value=='yes')?'no':'yes';
                                assigned = $('#suggestion\\_'+classifier_name+'\\_L\\_'+label+'\\_'+value).hasClass('assigned')||$('#suggestion\\_'+classifier_name+'\\_L\\_'+label+'\\_'+not_value).hasClass('assigned');
                                if(!assigned || force) {
                                    $('#suggestion\\_'+classifier_name+'\\_L\\_'+label+'\\_'+value).removeClass('not_relevant');
                                    if(human) {
                                        $('#suggestion\\_'+classifier_name+'\\_L\\_'+label+'\\_'+value).addClass('assigned');
                                        $('#suggestion\\_'+classifier_name+'\\_L\\_'+label+'\\_'+value).removeClass('suggested');
                                    }
                                    else {
                                        $('#suggestion\\_'+classifier_name+'\\_L\\_'+label+'\\_'+value).addClass('suggested');
                                        $('#suggestion\\_'+classifier_name+'\\_L\\_'+label+'\\_'+value).removeClass('assigned');
                                    }
                                    $('#suggestion\\_'+classifier_name+'\\_L\\_'+label+'\\_'+not_value).removeClass('assigned');
                                    $('#suggestion\\_'+classifier_name+'\\_L\\_'+label+'\\_'+not_value).removeClass('suggested');
                                    $('#suggestion\\_'+classifier_name+'\\_L\\_'+label+'\\_'+not_value).addClass('not_relevant');
                                }
                            });
                        });
                    }
                }
            });
        }

        function reset_labels() {
            $('#suggestions > div > .name').each(function(i,item) {
                var classifier_name = $(item).text();
                classifier_name = classifier_name.substr(0,classifier_name.length - 1);
                $('#assignments\\_'+classifier_name).find('.scoreline').removeClass('assigned');
                $('#assignments\\_'+classifier_name).find('.scoreline').removeClass('suggested');
                $('#assignments\\_'+classifier_name).find('.scoreline').addClass('not_relevant');
            });
            $('#pool > div > .name').each(function(i,item) {
                var classifier_name = $(item).text();
                classifier_name = classifier_name.substr(0,classifier_name.length - 1);
                $('#assignments\\_'+classifier_name).find('.scoreline').removeClass('assigned');
                $('#assignments\\_'+classifier_name).find('.scoreline').removeClass('suggested');
                $('#assignments\\_'+classifier_name).find('.scoreline').addClass('not_relevant');
            });
        }

        function create_classifier() {
            name = $("#create\\_name").val();
            if(!name.match(/^[a-zA-Z0-9_]+$/)) {
                custom_error("The name of the classifier can only contain letters, numbers and the underscore character '_'");
                return false;
            }
            labelsString = $("#labels").val();
            if(!labelsString.match(/^[a-zA-Z0-9_,]+$/)) {
                custom_alert("The names of labels can only contain letters, numbers and the underscore character '_'");
                return false;
            }
            document.getElementById('create_classifier_button').style.display='none';
            document.getElementById('create_classifier_button_wait').style.display='block';
            labels = labelsString.split(',');
            type = $("#type").val();
            var data = {name: name, labels: labels, type: type} ;
            $.ajax({
                type: "POST",
                url: "${classifier_path}/create",
                data: data})
            .done(function() {
                document.getElementById('dia_create_classifier').style.display='none';
                document.getElementById('create_classifier_button').style.display='block';
                document.getElementById('create_classifier_button_wait').style.display='none';
                update();
            })
            .fail(function(errMsg) {
                document.getElementById('create_classifier_button').style.display='block';
                document.getElementById('create_classifier_button_wait').style.display='none';
                custom_error(errMsg.responseText);
            });
            return false;
        };


        function duplicate_classifier() {
            name = $("#dup\\_name").val();
            if(!name.match(/^[a-zA-Z0-9_]+$/)) {
                custom_error("The name of the classifier can only contain letters, numbers and the underscore character '_'");
                return false;
            }
            document.getElementById('duplicate_classifier_button').style.display='none';
            document.getElementById('duplicate_classifier_button_wait').style.display='block';
            dup_from = $("#dup\\_from").val();
            var duplicatetype = $("#dup\\_type").val();
            var data = {name: dup_from, new_name: name, type: duplicatetype};
            $.ajax({
                type: "POST",
                url: "${classifier_path}/duplicate",
                data: data})
            .done(function() {
                document.getElementById('dia_duplicate_classifier').style.display='none';
                document.getElementById('duplicate_classifier_button').style.display='block';
                document.getElementById('duplicate_classifier_button_wait').style.display='none';
                update();
            })
            .fail(function(errMsg) {
                document.getElementById('duplicate_classifier_button').style.display='block';
                document.getElementById('duplicate_classifier_button_wait').style.display='none';
                custom_error(errMsg.responseText);
            });
            return false ;
        };

        $( document ).ready(function() {
            $("#textbox").on("input",function() {
                delay(function() {
                reset_labels();
                classify();
            },delay_interval);});

            $('#create\\_classifier').submit(create_classifier);
            $('#duplicate\\_classifier').submit(duplicate_classifier);

            $('#use').select2({
                placeholder: 'Select the classifiers to use',
                allowClear: true,
                width: '100%'
            });

            timed_update();
        });
    </script>
</%block>

<%block name="menu2">
<section class="w3-navbar w3-theme-d4 ">
    <div id="but_create_classifier" class="w3-bar-item w3-button"
         onclick="document.getElementById('dia_create_classifier').style.display='block'">Create
        new classifier
    </div>
    <div id="but_duplicate_classifier" class="w3-bar-item w3-button"
         onclick="document.getElementById('dia_duplicate_classifier').style.display='block'">
        Copy a classifier
    </div>
</section>
</%block>

<section>
    <div class="w3-panel w3-padding">
        <div class="w3-card">
            <header class="w3-container w3-theme">
                <h4>Type & code:</h4>
            </header>
            <form id="select_form" class="w3-container" action="#" method="post">
                    <p><label for="use">Classifiers to use:</label>
                    <select class="w3-select" multiple id="use" style="width:230px;">
                    </select></p>
            </form>
            <div class="w3-container">
                <span>Text to code:</span>
                <textarea id="textbox" class="w3-block" placeholder="Text to code" style="height:33%;"></textarea>
                <div id="buttons" class="w3-container w3-panel"></div>
                <div id="suggestions" class="w3-container w3-margin-bottom"></div>
                <div id="pool" style="display:none;"></div>
                <div id="historybox">
                    <div class="w3-margin-bottom">Agreement on last <input id="histsize" type="number" min="10" max="500" value="50"> assigned labels: <span id="accuracy">n/a</span></div>
                    <div class="w3-margin-bottom">Agreement history: <div id="history"></div></div>
                </div>
            </div>
        </div>
    </div>
    <div id="dia_create_classifier" class="w3-modal">
        <div class="w3-modal-content w3-card-4">
            <header class="w3-container w3-theme">
                <span
                        onclick="document.getElementById('dia_create_classifier').style.display='none'"
                        class="w3-button w3-display-topright">&times;</span>
                <h3 class="w3-theme">Create classifier</h3>
            </header>
            <form id="create_classifier" class="w3-container" action="#" method="post">
                <p>
                    <label for="create_name">Name:</label>
                    <input class="w3-input" type="text" id="create_name"/></p>
                <p>
                    <label for="labels">Labels (comma separated):</label>
                    <input class="w3-input" type="text" id="labels"/></p>
                <p>
                    <label for="type">Type:</label>
                    <select class="w3-select" id="type">
                        <%! from db import sqlalchemydb %>
                        % for classifier_type in sqlalchemydb.CLASSIFIER_TYPES:
                        <option value="${classifier_type}">${classifier_type}</option>
                        % endfor
                    </select></p>
                <p>
                    <input class="w3-input" id="create_classifier_button" type="submit" value="Create"/>
                    <span class="w3-center" id="create_classifier_button_wait" style="display:none">Processing</span>
                </p>
            </form>
        </div>
    </div>
    <div id="dia_duplicate_classifier" class="w3-modal">
        <div class="w3-modal-content w3-card-4">
            <header class="w3-container w3-theme">
                <span
                        onclick="document.getElementById('dia_duplicate_classifier').style.display='none'"
                        class="w3-button w3-display-topright">&times;</span>
                <h3 class="w3-theme">Copy a classifier</h3>
            </header>
            <form id="duplicate_classifier" class="w3-container" action="#" method="post">
                <p>
                    <label for="dup_name">Name:</label>
                    <input class="w3-input" type="text" id="dup_name"/></p>
                <p>
                    <label for="dup_from">From:</label>
                    <select class="w3-select" id="dup_from">
                    </select></p>
                <p>
                    <label for="dup_type">Type:</label>
                    <select class="w3-select" id="dup_type">
                        <%! from db import sqlalchemydb %>
                        % for classifier_type in sqlalchemydb.CLASSIFIER_TYPES:
                        <option value="${classifier_type}">${classifier_type}</option>
                        % endfor
                    </select></p>
                <p>
                    <input class="w3-input" id="duplicate_classifier_button" type="submit" value="Create"/>
                    <span class="w3-center" id="duplicate_classifier_button_wait" style="display:none">Processing</span>
                </p>
            </form>
        </div>
    </div>
</section>
