<%inherit file="base.html" />
<%block name="head">
    <script type="text/javascript">
       update_interval=5000
       delay_interval=500
        last_update = 0
        function timed_update() {
            now = Date.now();
            if(now-last_update>update_interval)
                update();
            setTimeout(timed_update,update_interval);
        }

        selected_classifiers = {};

        function update() {
            last_update = Date.now();
            $.ajax({
                type:'POST',
                url:'/service/classifiers/',
                dataType: 'json'})
            .done(function(msg) {
                    $('#classifiers\\_list div .classifier\\_name').each(function(i,item) {
                        var found = false;
                        for(var i = 0;i<msg.length;++i) {
                            if($(item).text()==msg[i].name) {
                                found = true;
                                break;
                            }
                        }
                        if(!found) {
                            $('#suggestions\\_'+$(item).text()).remove();
                            $(item).parent().remove();
                        }
                    });
                    if(msg.length==0) {
                        $('#classifiers\\_list').html('<div class="padded ui-widget-header ui-corner-all">No classifiers available</div>');
                    }
                    else {
                        if($('#gotclassifiers').length==0)
                            $('#classifiers\\_list').html('<div id="gotclassifiers" class="padded ui-widget-header ui-corner-all">Select classifiers:</div>');
                        for(var i = 0;i<msg.length;++i) {
                            if($('#classifier\\_'+msg[i].name).length==0) {
                                $('#classifiers\\_list').append('<div class=\'padded margined ui-widget-content hideoverflow\' id=\'classifier_'+msg[i].name+'\'>\
                                <div id=\'classifier_name_'+msg[i].name+'\' class=\'inline padded ui-corner-all classifier_name\'>'+msg[i].name+'</div>\
                                <div id=\'use_button_'+msg[i].name+'\' class=\'right\'>Use</div></div>');
                                if(selected_classifiers[msg[i].name]) {
                                    $('#use\\_button\\_'+msg[i].name).addClass('ui-state-focus');
                                    $('#use\\_button\\_'+msg[i].name).button({ icons: {primary:'ui-icon-check'} });
                                }
                                else {
                                    $('#use\\_button\\_'+msg[i].name).button({ icons: {primary:'ui-icon-plus'} });
                                }
                                $('#use\\_button\\_'+msg[i].name).click(use);
                                var suggestion_div = jQuery('<div id=\'suggestions_'+msg[i].name+'\' class=\'margined ui-widget-content ui-corner-all suggestion\'><div class="ui-widget-header padded ui-corner-all">'+msg[i].name+'</div><div id="assignments_'+msg[i].name+'"></div></div>');
                                suggestion_div.appendTo('#pool');
                                for(var j = 0;j<msg[i].classes.length;++j) {
                                    var scoreline = jQuery('<div id="suggestion_'+msg[i].name+'_'+msg[i].classes[j]+'" class="scoreline not_relevant ui-corner-all margined morepadded">'+msg[i].classes[j]+'</div>');
                                    (function() {
                                        var class_name = ''+msg[i].classes[j];
                                        var classifier_name = ''+msg[i].name;
                                        scoreline.click(function(){
                                            $('#suggestions\\_'+classifier_name).hide();
                                            $.ajax({
                                                type:'POST',
                                                url:'/service/classifiers/update',
                                                data: { name: classifier_name, X: [last_text], y: [class_name] }})
                                            .done(function() {
                                                    $('#suggestions\\_'+classifier_name).detach().appendTo('#pool').show();
                                                })
                                            .fail(function(msg) {
                                                    custom_alert(msg);
                                                    $('#suggestions\\_'+classifier_name).show();
                                            });
                                        });
                                    }());
                                    $('#assignments\\_'+msg[i].name).append(scoreline);
                                }
                                var skipline = jQuery('<div class="skip ui-corner-all margined morepadded">skip</div>');
                                skipline.click((function () {
                                    var classifier_name = msg[i].name;
                                    return function() {
                                        $('#suggestions\\_'+classifier_name).detach().appendTo('#pool');
                                    };
                                })());
                                $('#assignments\\_'+msg[i].name).append(skipline);
                            }
                        }
                        if($('#skip\\_all').length==0) {
                            skip_all = jQuery('<div id="skip_all" class="right">Skip all</div>');
                            skip_all.button({ icons: {primary:'ui-icon-minus'} });
                            skip_all.click(function() {
                                $('#suggestions div div .skip').each(function(i,item) {
                                    item.click();
                                });
                            });
                            $('#suggestions').append(skip_all);
                        }
                        if($('#all\\_correct').length==0) {
                            all_correct = jQuery('<div id="all_correct" class="right">All correct</div>');
                            all_correct.button({ icons: {primary:'ui-icon-check'} });
                            all_correct.click(function() {
                                $('#suggestions div div .assigned').each(function(i,item) {
                                    item.click();
                                });
                            });
                            $('#suggestions').append(all_correct);
                        }
                    }
            });
        }

        function use() {
            var classifier_name = $(this).siblings('.classifier\\_name').text();
            var item = $('#use\\_button\\_'+classifier_name);
            if(item.hasClass('ui-state-focus')) {
                item.removeClass('ui-state-focus');
                item.button({icons: {primary :'ui-icon-plus'}});
                delete selected_classifiers[classifier_name];
                $('#suggestions\\_'+classifier_name).detach().appendTo('#pool');
            }
            else {
                item.addClass('ui-state-focus');
                item.button({icons: {primary :'ui-icon-check'}});
                selected_classifiers[classifier_name] = true;
                $('#suggestions\\_'+classifier_name).detach().appendTo('#suggestions');
                classify(true);
            }
        }

        function create_classifier() {
            name = $("#name").val();
            if(!name.match(/^[a-zA-Z0-9_]+$/)) {
                custom_alert("The name of the classifier can only contain letters, numbers and the underscore character '_'");
                return false;
            }
            classesString = $("#classes").val();
            if(!classesString.match(/^[a-zA-Z0-9_,]+$/)) {
                custom_alert("The names of classes can only contain letters, numbers and the underscore character '_'");
                return false;
            }
            classes = classesString.split(',');
            var data = {name: name, classes: classes} ;
            $.ajax({
                type: "POST",
                url: "/service/classifiers/create",
                data: data})
            .done(update)
            .fail(function(errMsg) {
                custom_alert(errMsg.responseText);
            });
            return false ;
        };

        last_text = ""
        function classify(force) {
            text = $("#textbox").val();
            if(text!=last_text || force) {
                last_text = text;
                $('#suggestions div[id^=suggestions] .ui-widget-header').each(function(i,item) {
                    var classifier_name = $(item).text();
                    $.ajax({
                        type:'POST',
                        url:'/service/classifiers/classify',
                        data: { name: classifier_name, X: [text] },
                        dataType: 'json'})
                    .done(function(msg) {
                        var assigned = msg[0];
                        $('#assignments\\_'+classifier_name).children('.scoreline').removeClass('assigned')
                        $('#assignments_'+classifier_name).children('.scoreline').addClass('not_relevant')
                        $('#suggestion\\_'+classifier_name+'\\_'+assigned).removeClass('not_relevant')
                        $('#suggestion\\_'+classifier_name+'\\_'+assigned).addClass('assigned')
                    });
                });
            }
        }
        $( document ).ready(function() {
            $("#textbox").on("input",function() {
            delay(function() {
                $('#classifiers\\_list div div.ui-state-highlight').each(function(){$('#suggestions\\_'+$(this).text()).detach().appendTo('#suggestions').show();});
                classify(false);
            },delay_interval);});

            $("#create\\_classifier").submit(create_classifier);

            //$('#force\\_update').button().click(update);
            $( "input[type=submit]" ).button();
            timed_update();
        });
    </script>
</%block>

<div id="main" class="padded ui-widget ui-widget-content">
    <div id="sidebar">
        <div class="margined ui-corner-all ui-widget ui-widget-content" id="classifiers_list">
        </div>
        <!--<div class="padded ui-corner-all ui-widget ui-widget-content" id="force_update">Force update
        </div>-->
        <div class="margined  ui-corner-all ui-widget ui-widget-content" id="classifier_create">
            <div class="padded ui-widget-header ui-corner-all">Create a classifier:</div>
            <form id="create_classifier" class="margined" action="#" method="post">
                <p>
                <label for="name">Name:</label>
                <input type="text" id="name" /> </p>
                <p>
                <label for="classes">Classes (comma separated):</label>
                <input type="text" id="classes" /> </p>
                <p><label></label>
                <input type="submit" value="Create" />
                </p>
            </form>
        </div>
    </div>
    <div id="center">
        <div class="padded ui-widget-header ui-corner-all">Classify text:</div>
            <textarea id="textbox" class="textbox margined" placeholder="Text to code"></textarea>
        <div id="suggestions" class="margined padded ui-widget-content suggestion-container"></div>
            <div id="pool" style="display:none;"></div>
        </div>
    </div>
</div>
