<%inherit file="basewithmenu.html" />
<%block name="head">
${parent.head()}
    <script type="text/javascript">
        update_interval=5000
        last_update = 0
        function timed_update() {
            now = Date.now();
            if(now-last_update>update_interval)
                update();
            setTimeout(timed_update,update_interval);
        }

        function update() {
            last_update = Date.now();
            $.ajax({
                type:'POST',
                url:'${user_auth_path}/info',
                dataType: 'json'})
            .done( function(msg) {
                $('#users\\_list div .user\\_name').each(function(i,item) {
                    var found = false;
                    for(var i = 0;i<msg.length;++i) {
                        if($(item).text()==msg[i].name) {
                            found = true;
                            break;
                        }
                    }
                    if(!found) {
                        $(item).parent().remove();
                    }
                });
                if(msg.length==0) {
                    $('#users\\_list').html('<div class="padded ui-widget-header ui-corner-all">No user defined</div>');
                }
                else {
                    if($('#_gotusers').length==0) {
                        $('#users\\_list').html('<div id="_gotusers" class="padded ui-widget-header ui-corner-all">Users:</div>');
                    }
                    for(var i = 0;i<msg.length;++i) {
                        var userdiv = jQuery('<div class=\'padded margined ui-widget-content hideoverflow\' id=\'user_'+msg[i].name+'\'>\
                        <div id=\'user_name_'+msg[i].name+'\' class=\'inline padded ui-corner-all user_name\'>'+msg[i].name+'</div>\
                        <div id=\'del_button_'+msg[i].name+'\' class=\'right\'>Delete</div>\
                        <div id=\'change_password_button_'+msg[i].name+'\' class=\'right\'>Change password</div>\
                        <div class="small margined">Created: '+msg[i].created+'</div>\
                        </div>');
                        if($('#user\\_'+msg[i].name).length==0) {
                            $('#users\\_list').append(userdiv)
                        }
                        else {
                            $('#user\\_'+msg[i].name).replaceWith(userdiv)
                        }
                        $('#change\\_password\\_button\\_'+msg[i].name).button({ icons: {primary:'ui-icon-tag'} });
                        $('#change\\_password\\_button\\_'+msg[i].name).click(change_password);
                        $('#del\\_button\\_'+msg[i].name).button({ icons: {primary:'ui-icon-trash'} });
                        $('#del\\_button\\_'+msg[i].name).click(delete_user);
                    }
                    $('#users\\_list').append($('#users\\_list > div').get().sort(function (a, b) {
                        return $(a)[0].id.localeCompare($(b)[0].id);
                    }));
                }
            });
        }

        function create_user() {
            name = $("#create\\_name").val();
            if(!name.match(/^[a-zA-Z0-9_]+$/)) {
                custom_alert("The name of the user can only contain letters, numbers and the underscore character '_'");
                return false;
            }
            password = $("#create\\_password").val();
            var data = {username: name, password: password} ;
            $.ajax({
                type: "POST",
                url: "${user_auth_path}/create_user",
                data: data})
            .done(update)
            .fail(function(errMsg) {
                custom_alert(errMsg.responseText);
            });
            return false;
        };

        function delete_user() {
            if(!confirm('Please confirm the DELETE request, proceed?'))
                return;
            var user_name = $(this).siblings('.user\\_name').text();
            $('#user\\_'+user_name).hide();
            $.ajax({
                type:'POST',
                url:'${user_auth_path}/delete_user/'+user_name })
            .done(update)
            .fail(function () {
                $('#user\\_'+user_name).show();
            });
        };

        function change_password() {
            var user_name = $(this).siblings('.user\\_name').text();
            var change_password_dialog =  jQuery('<div class=\'padded margined ui-widget-content hideoverflow\' id=\'change_password_'+user_name+'\'><div><label for="change_password_new_password_'+user_name+'">New password:</label><input id="change_password_new_password_'+user_name+'" type="password"><label for="change_password_confirm_password_'+user_name+'">Confirm new password:</label><input id="change_password_confirm_password_'+user_name+'" type="password"></div></div>');
            change_password_dialog.dialog({modal:true,
                                    title:'Change password',
                                    width: $(window).width()*0.5,
                                    buttons: {
                                        'Change': function() {
                                            var new_password = $('#change\\_password\\_new\\_password\\_'+user_name).val()
                                            var confirm_password = $('#change\\_password\\_confirm\\_password\\_'+user_name).val()
                                            if(new_password!=confirm_password) {
                                                custom_alert("The passwords typed in the two fields are different.");
                                                return false;
                                            }
                                            var data = {username: user_name, password: new_password} ;
                                            $.ajax({
                                                type: "POST",
                                                url: "${user_auth_path}/change_password",
                                                data: data})
                                            .done(function() {
                                                change_password_dialog.dialog('destroy').remove();
                                                update();})
                                            .fail(function(errMsg) {
                                                custom_alert(errMsg.responseText);
                                            });
                                        },
                                        'Cancel': function() {
                                            $(this).dialog('destroy').remove();
                                        }
                                    },
                                  });
        };

        $( document ).ready(function() {

            $('#create\\_user').submit(create_user);

            //$('#force\\_update').button().click(update);

            $( "input[type=submit]" ).button();
            $( "input[type=file]" ).button();

            timed_update();
        });
</script>
</%block>

<div id="main" class="padded ui-widget ui-widget-content">
    <div id="sidebar">
        <!--<div class="padded ui-corner-all ui-widget ui-widget-content" id="force_update">Force update
        </div>-->
        <div class="margined  ui-corner-all ui-widget ui-widget-content" id="user_create">
            <div class="padded ui-widget-header ui-corner-all">Create a user:</div>
            <form id="create_user" class="margined" action="#" method="post">
                <p>
                <label for="create_name">Name:</label>
                <input type="text" id="create_name" /> </p>
                <p>
                <p>
                <label for="create_password">Password:</label>
                <input type="password" id="create_password" /> </p>
                <p><label></label>
                <input type="submit" value="Create" />
                </p>
            </form>
        </div>
    </div>
    <div id="center">
        <div class="margined ui-corner-all ui-widget ui-widget-content" id="users_list">
        </div>
    </div>
</div>
