<%!
   def inherit( context ):
       return context.get('base_template','basewithmenu.html')
%>
<%inherit file="${inherit(context)}"/>
<%block name="head">
${parent.head()}
    <script type="text/javascript">
        update_interval=5000
        last_update = 0
        page = 1;
        page_size = 10;

        pagination_div = jQuery('<div id="pagination" class="right plain">\
                         page<input id="page" style="width:3em;" type="number" min="1" value="1"/>\
                         /<span id="pagecount">X</span>\
                         count<select id="pagesize"><option value="10" selected>10</option>\
                         <option value="20">20</option><option value="50" >50</option>\
                         <option value="100">100</option><option value="200">200</option></select></div></div>');
        function timed_update() {
            now = Date.now();
            if(now-last_update>update_interval)
                update();
            setTimeout(timed_update,update_interval);
        }

        function update() {
            last_update = Date.now();
            var count = parseInt($(pagination_div.children()[2]).val())
            $.ajax({
                type:'POST',
                url:'${user_auth_path}/count',
                dataType: 'json'})
            .done(function(msg) {
                count = parseInt(msg);
                var maxpage = Math.ceil(count/parseInt($(pagination_div.children()[2]).val()))
                $(pagination_div.children()[0]).attr({
                       "max" : maxpage
                    });
                $(pagination_div.children()[1]).text(maxpage)
            });
            $.ajax({
                type:'POST',
                url:'${user_auth_path}/info',
                data: { page : parseInt($(pagination_div.children()[0]).val())-1, page_size :$(pagination_div.children()[2]).val()},
                dataType: 'json'})
            .done( function(msg) {
                $('#users\\_list div .user\\_name').each(function(i,item) {
                    var found = false;
                    for(var i = 0;i<msg.length;++i) {
                        if($(item).text()==msg[i].name) {
                            found = true;
                            break;
                        }
                    }
                    if(!found) {
                        $(item).parent().remove();
                    }
                });
                if(msg.length==0) {
                    $('#users\\_list').html('<div id="nodata" class="padded ui-widget-header ui-corner-all">No users</div>');
                    $('#nodata').prepend(pagination_div);
                    $('#page').val(1);
                }
                else {
                    if($('#gotusers').length==0) {
                        $('#users\\_list').html('<div id="gotusers" class="padded ui-widget-header ui-corner-all">Users:</div>\
                        <div id="data" class="table margined ui-widget-content ui-corner-all">\
                        <div><div>name</div>\
                        <div>created</div>\
                        <div>last updated</div>\
                        <div>total requests</div>\
                        <div>request limit</div>\
                        <div>hourly limit</div>\
                        <div>requests this hour</div>\
                        <div>actions</div>\
                        </div></div>');
                        $('#gotusers').prepend(pagination_div);
                    }
                    var curr_list = {};
                    $('#data').children().each(function (index, value) {if(value.id.startsWith('entry_')) { curr_list[value.id]=true;}})
                    for(var i = 0;i<msg.length;++i) {
                        var name_string = msg[i].name.replace(/\W/g,'X')
                        var sort_string = msg[i].name.replace(/\W/g,'X')
                        item = jQuery('<div id=\'entry_'+sort_string+'\'>\
                        <div class="id">'+msg[i].name+'</div>\
                        <div class="small">'+msg[i].created+'</div>\
                        <div class="small">'+msg[i].updated+'</div>\
                        <div>'+msg[i].total_request_counter+'</div>\
                        <div>'+msg[i].request_limit+'</div>\
                        <div>'+msg[i].hourly_limit+'</div>\
                        <div>'+msg[i].current_request_counter+'</div>\
                        <div>\
                            <div id="change_password_button_'+name_string+'">Change password</div>\
% if username == 'admin':
                            <div id="change_request_limit_'+name_string+'">Change request limit</div>\
                            <div id="change_hourly_limit_'+name_string+'">Change hourly limit</div>\
                            <div id="counter_reset_'+name_string+'">Reset current counter</div>\
                            <div id="delete_'+name_string+'">Delete</div>\
% endif
                        </div>\
                        </div>');
                        if ($('#entry\\_'+sort_string).length!=0) {
                            $('#entry\\_'+sort_string).replaceWith(item)
                            delete curr_list['entry_'+sort_string];
                        }
                        else
                            $('#data').append(item);
% if username == 'admin':
                        $('#change\\_request\\_limit\\_'+name_string).button({ icons: {primary:'ui-icon-alert'} });
                        $('#change\\_request\\_limit\\_'+name_string).click(change_request_limit);
                        $('#change\\_hourly\\_limit\\_'+name_string).button({ icons: {primary:'ui-icon-clock'} });
                        $('#change\\_hourly\\_limit\\_'+name_string).click(change_hourly_limit);
                        $('#counter_reset\\_'+name_string).button({ icons: {primary:'ui-icon-arrowreturn-1-w'} });
                        $('#counter_reset\\_'+name_string).click(reset_user);
                        $('#delete\\_'+name_string).button({ icons: {primary:'ui-icon-trash'} });
                        $('#delete\\_'+name_string).click(delete_user);
% endif
                        $('#change\\_password\\_button\\_'+name_string).button({ icons: {primary:'ui-icon-tag'} });
                        $('#change\\_password\\_button\\_'+name_string).click(change_password);
                    }
                    for (var key in curr_list) {
                        $('#'+key).remove();
                    }
                    $('#data').append($('#data > div').get().sort(function (a, b) {
                        return $(a)[0].id.localeCompare($(b)[0].id);
                    }));
                }
                $('#page').unbind('keyup mouseup');
                $('#pagesize').unbind('keyup mouseup');
                $('#page').bind('keyup mouseup',update);
                $('#pagesize').bind('keyup mouseup',update);
            });
        }

        function create_user() {
            name = $("#create\\_name").val();
            if(!name.match(/^[a-zA-Z0-9_]+$/)) {
                custom_alert("The name of the user can only contain letters, numbers and the underscore character '_'");
                return false;
            }
            password = $("#create\\_password").val();
            var data = {name: name, password: password} ;
            $.ajax({
                type: "POST",
                url: "${user_auth_path}/create",
                data: data})
            .done(update)
            .fail(function(errMsg) {
                custom_alert(errMsg.responseText);
            });
            return false;
        };

        function reset_user() {
            var user_name = $(this).parent().siblings('.id').text();
            $.ajax({
                type:'POST',
                url:'${user_auth_path}/set_current_request_counter/'+user_name })
            .done(update)
            .fail(update);
        };

        function change_hourly_limit() {
            var user_name = $(this).parent().siblings('.id').text();
            var name_string = user_name.replace(/\W/g,'X');
            var change_dialog =  jQuery('<div class=\'padded margined ui-widget-content hideoverflow\' id=\'diag_change_hourly_limit_'+name_string+'\'><div><label for="new_limit_'+name_string+'">New hourly limit:</label><input id="new_limit_'+name_string+'" type="number" value="100"></div></div>');
            change_dialog.dialog({modal:true,
                                    title:'Change hourly limit',
                                    width: $(window).width()*0.5,
                                    buttons: {
                                        'Change': function() {
                                            var new_limit = $('#new\\_limit\\_'+name_string).val();
                                            var data = {name: user_name, hourly_limit: new_limit} ;
                                            $.ajax({
                                                type: "POST",
                                                url: "${user_auth_path}/set_hourly_limit",
                                                data: data})
                                            .done(function() {
                                                change_dialog.dialog('destroy').remove();
                                                update();})
                                            .fail(function(errMsg) {
                                                change_dialog.dialog('destroy').remove();
                                                custom_alert(errMsg.responseText);
                                            });
                                        },
                                        'Cancel': function() {
                                            $(this).dialog('destroy').remove();
                                        }
                                    },
                                  });
        };

        function change_request_limit() {
            var user_name = $(this).parent().siblings('.id').text();
            var name_string = user_name.replace(/\W/g,'X');
            var change_dialog =  jQuery('<div class=\'padded margined ui-widget-content hideoverflow\' id=\'diag_change_request_limit_'+name_string+'\'><div><label for="new_limit_'+name_string+'">New request limit:</label><input id="new_request_limit_'+name_string+'" type="number" value="10000"></div></div>');
            change_dialog.dialog({modal:true,
                                    title:'Change request limit',
                                    width: $(window).width()*0.5,
                                    buttons: {
                                        'Change': function() {
                                            var new_request_limit = $('#new\\_request\\_limit\\_'+name_string).val();
                                            var data = {name: user_name, request_limit: new_request_limit} ;
                                            $.ajax({
                                                type: "POST",
                                                url: "${user_auth_path}/set_request_limit",
                                                data: data})
                                            .done(function() {
                                                change_dialog.dialog('destroy').remove();
                                                update();})
                                            .fail(function(errMsg) {
                                                change_dialog.dialog('destroy').remove();
                                                custom_alert(errMsg.responseText);
                                            });
                                        },
                                        'Cancel': function() {
                                            $(this).dialog('destroy').remove();
                                        }
                                    },
                                  });
        };

        function delete_user() {
            if(!confirm('Please confirm the DELETE request, proceed?'))
                return;
            var user_name = $(this).parent().siblings('.id').text();
            $('#entry\\_'+user_name).hide();
            $.ajax({
                type:'POST',
                url:'${user_auth_path}/delete/'+user_name })
            .done(update)
            .fail(function (msg) {
                custom_alert(msg);
                $('#entry\\_'+user_name).show();
            });
        };

        function change_password() {
            var user_name = $(this).parent().siblings('.id').text();
            var change_password_dialog =  jQuery('<div class=\'padded margined ui-widget-content hideoverflow\' id=\'change_password_'+user_name+'\'><div><label for="change_password_new_password_'+user_name+'">New password:</label><input id="change_password_new_password_'+user_name+'" type="password"><label for="change_password_confirm_password_'+user_name+'">Confirm new password:</label><input id="change_password_confirm_password_'+user_name+'" type="password"></div></div>');
            change_password_dialog.dialog({modal:true,
                                    title:'Change password',
                                    width: $(window).width()*0.5,
                                    buttons: {
                                        'Change': function() {
                                            var new_password = $('#change\\_password\\_new\\_password\\_'+user_name).val()
                                            var confirm_password = $('#change\\_password\\_confirm\\_password\\_'+user_name).val()
                                            if(new_password!=confirm_password) {
                                                custom_alert("The passwords typed in the two fields are different.");
                                                return false;
                                            }
                                            var data = {name: user_name, password: new_password} ;
                                            $.ajax({
                                                type: "POST",
                                                url: "${user_auth_path}/change_password",
                                                data: data})
                                            .done(function() {
                                                change_password_dialog.dialog('destroy').remove();
                                                update();})
                                            .fail(function(errMsg) {
                                                custom_alert(errMsg.responseText);
                                            });
                                        },
                                        'Cancel': function() {
                                            $(this).dialog('destroy').remove();
                                        }
                                    },
                                  });
        };

        $( document ).ready(function() {

            $('#create\\_user').submit(create_user);

            //$('#force\\_update').button().click(update);

            $( "input[type=submit]" ).button();
            $( "input[type=file]" ).button();

            timed_update();
        });
</script>
</%block>

<div id="main" class="padded ui-widget ui-widget-content">
    <div id="sidebar">
        <!--<div class="padded ui-corner-all ui-widget ui-widget-content" id="force_update">Force update
        </div>-->
        <div class="margined  ui-corner-all ui-widget ui-widget-content" id="user_create">
            <div class="padded ui-widget-header ui-corner-all">Create a user:</div>
            <form id="create_user" class="margined" action="#" method="post">
                <p>
                <label for="create_name">Name:</label>
                <input type="text" id="create_name" /> </p>
                <p>
                <p>
                <label for="create_password">Password:</label>
                <input type="password" id="create_password" /> </p>
                <p><label></label>
                <input type="submit" value="Create" />
                </p>
            </form>
        </div>
    </div>
    <div id="center">
        <div class="margined ui-corner-all ui-widget ui-widget-content" id="users_list">
        </div>
    </div>
</div>
