<html>
<head>
    <title>${name}</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-teal.css">
    <link rel="stylesheet" href="${mount_dir}/css/style.css"/>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet" />

    <script src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
    <script type="text/javascript" src="${mount_dir}/js/utility.js"></script>
    <%block name="head" />

</head>
<body>
<header class="w3-card">
    <div class="w3-container w3-theme">
        <h4>${name}</h4>
    </div>

    <%block name="menu" />
    <%block name="menu2" />
</header>

<section>
    ${self.body()}
</section>

<footer class="w3-container w3-text-theme w3-padding w3-tiny">
    <span>Version ${version} - &copy; 2015-2021 <a href="http://esuli.it">Andrea Esuli</a></span> <span
        class="w3-right">Cookie info: this website uses only one session cookie to manage login.</span>
</footer>
</body>
</html>