<%inherit file="basewithmenu.html" />
<%block name="head">
${parent.head()}
<script type="text/javascript">
        update_interval=5000
        last_update = 0
        page_size = 20;
        maxpage = 1

        pagination_div = jQuery('<div class="w3-right w3-display-right w3-margin-right" id="pagination">\
                         Page <input id="page" style="width:3em;" type="number" min="1" value="1"/>\
                         /<span id="pagecount">X</span>\
                         Count <select id="pagesize"><option value="10">10</option>\
                         <option value="20" selected>20</option><option value="50" >50</option>\
                         <option value="100">100</option><option value="200">200</option></select></div></div>');

        function timed_update() {
            now = Date.now();
            if(now-last_update>update_interval)
                update();
            setTimeout(timed_update,update_interval);
        }

        async function update() {
            last_update = Date.now();
            var count = parseInt($(pagination_div.children()[2]).val())
            await $.ajax({
                type:'POST',
                url:'${classifier_path}/count',
                dataType: 'json'})
            .done(function(msg) {
                count = parseInt(msg);
                maxpage = Math.ceil(count/parseInt($(pagination_div.children()[2]).val()))
                $('#page').val(Math.max(1,Math.min(maxpage,parseInt($('#page').val()))))
                $(pagination_div.children()[0]).attr({
                       "max" : maxpage
                    });
                $(pagination_div.children()[1]).text(maxpage)
            });
            $.ajax({
                type:'POST',
                url:'${classifier_path}/info',
                data: { page : parseInt($(pagination_div.children()[0]).val())-1, page_size :$(pagination_div.children()[2]).val()},
                dataType: 'json'})
            .done( function(msg) {
                if(msg.length==0) {
                    $('#data\\_list').html('<div id="nodata" class="w3-panel w3-text-theme"><h4>No classifier available</h4></div>');
                    $('#page').val(1);
                }
                else {
                    if($('#gotdata').length==0) {
                        $('#data\\_list').html('<div id="gotdata" class="w3-container w3-theme w3-display-container"><h4>Classifiers:</h4></div>\
                        <div><table id="data" class="w3-table-all">\
                        <tr>\
                        <th></th>\
                        <th class="w3-small">Name</th>\
                        <th class="w3-small">Labels</th>\
                        <th class="w3-small">Description</th>\
                        <th class="w3-small">Mode</th>\
                        <th class="w3-small">Size</th>\
                        <th class="w3-small">Created</th>\
                        <th class="w3-small">Updated</th>\
                        </tr></table></div>');
                        $('#gotdata').prepend(pagination_div);
                    }
                    var start = 0;
                    var end = msg.length;
                    $('td.entry\\_name').each(function(i,item) {
                        var found = false;
                        for(var i = start;i<end;++i) {
                            if($(item).text()==msg[i].name) {
                                found = true;
                                break;
                            }
                        }
                        if(!found) {
                            $(item).parent().remove();
                        }
                    });
                    var curr_list = {};
                    $('#data').children().each(function (index, value) {if(value.id.startsWith('entry_')) { curr_list[value.id]=true;}})
                    var updated_list = {};
                    var added = false;
                    for(var i = 0;i<msg.length;++i) {
                        var name_string = msg[i].name.replace(/\W/g,'X')
                        updated_list[name_string] = true;
                        if($('#comb\\_opt\\_'+name_string).length==0) {
                            added = true;
                            $('#comb\\_from').append($('<option title="'+msg[i].description+'" id="comb_opt_'+name_string+'"/>').val(msg[i].name).text(msg[i].name));
                        }
                        if (i >=start && i<end) {
                            if ($('#entry\\_'+name_string).length==0) {
                                item = jQuery('<tr id=\'entry_'+name_string+'\'>\
                                <td class="w3-dropdown-hover w3-hover-theme">\
                                    ☰\
                                    <div class="w3-dropdown-content w3-bar-block w3-card">\
                                        <div id="rename_button_'+name_string+'" class="w3-bar-item w3-button">Rename</div>\
                                        <div id="rename_label_button_'+name_string+'" class="w3-bar-item w3-button">Rename label</div>\
                                        <div id="add_label_button_'+name_string+'" class="w3-bar-item w3-button">Add label</div>\
                                        <div id="delete_label_button_'+name_string+'" class="w3-bar-item w3-button">Delete label</div>\
                                        <div id="description_button_'+name_string+'" class="w3-bar-item w3-button">Change description</div>\
                                        <div id="extract_button_'+name_string+'" class="w3-bar-item w3-button">Extract labels as classifiers</div>\
                                        <div id="view_button_'+name_string+'" class="w3-bar-item w3-button">View training data</div>\
                                        <div id="download_button_'+name_string+'" class="w3-bar-item w3-button">Download training data</div>\
                                        <div id="download_model_button_'+name_string+'" class="w3-bar-item w3-button">Download classification model</div>\
                                        <div id="del_button_'+name_string+'" class="w3-bar-item w3-button">Delete</div>\
                                    </div></td>\
                                <td class="updatable id entry_name">'+msg[i].name+'</td>\
                                <td class="updatable w3-small">'+String(msg[i].labels).replace(/,/g,', ')+'</td>\
                                <td class="updatable w3-tiny" id="classifier_description_'+msg[i].name+'">'+msg[i].description+'</td>\
                                <td class="updatable w3-small">'+msg[i].mode+'</td>\
                                <td class="updatable w3-small">'+msg[i].size+'</td>\
                                <td class="updatable w3-tiny">'+msg[i].created.slice(0,-13)+'</td>\
                                <td class="updatable w3-tiny">'+msg[i].updated.slice(0,-13)+'</td>\
                                </tr>');
                                $('#data').append(item);

                                $('#view\\_button\\_'+name_string).click(view_training_data.bind(null,msg[i].name));
                                $('#download\\_button\\_'+name_string).click(download_training_data.bind(null,msg[i].name));
                                $('#download\\_model\\_button\\_'+name_string).click(download_model.bind(null,msg[i].name));

                                $('#rename\\_button\\_'+name_string).click(function() {
                                    var the_name = name_string;
                                    return function() {
                                        $('#ren\\_from').val(the_name);
                                        $('#ren\\_name').val('');
                                        document.getElementById('dia_rename_classifier').style.display='block';
                                    };}()
                                );

                                $('#del\\_button\\_'+name_string).click(function() {
                                    var the_name = msg[i].name;
                                    return function() {
                                        $('#del\\_from').val(the_name);
                                        document.getElementById('dia_delete_classifier').style.display='block';
                                    };}()
                                );
                            }
                            else {
                                item = jQuery('<td class="updatable id entry_name">'+msg[i].name+'</td>\
                                <td class="updatable w3-small">'+String(msg[i].labels).replace(/,/g,', ')+'</td>\
                                <td class="updatable w3-tiny" id="classifier_description_'+name_string+'">'+msg[i].description+'</td>\
                                <td class="updatable w3-small">'+msg[i].mode+'</td>\
                                <td class="updatable w3-small">'+msg[i].size+'</td>\
                                <td class="updatable w3-tiny">'+msg[i].created.slice(0,-13)+'</td>\
                                <td class="updatable w3-tiny">'+msg[i].updated.slice(0,-13)+'</td>');
                                $('#entry\\_'+name_string+' td.updatable').remove();
                                $('#entry\\_'+name_string).append(item)
                                delete curr_list['entry_'+name_string];
                            }

                            $('#rename\\_label\\_button\\_'+name_string).unbind('click').click(function() {
                                var the_name = msg[i].name;
                                var the_labels = msg[i].labels;
                                return function() {
                                    $('#ren\\_label\\_from').val(the_name);
                                    $('#ren\\_label\\_labels').empty();
                                    $('#ren\\_label\\_name').val('');
                                    for(var j = 0;j<the_labels.length;++j) {
                                        $('#ren\\_label\\_labels').append('<option>'+the_labels[j]+'</option>');
                                    }
                                    $('#ren\\_label\\_labels').select2({
                                        placeholder: 'Select the label to rename',
                                        width: '100%'
                                    });
                                    document.getElementById('dia_rename_label_classifier').style.display='block';
                                };}()
                            );

                            $('#add\\_label\\_button\\_'+name_string).unbind('click').click(function() {
                                var the_name = msg[i].name;
                                return function() {
                                    $('#add\\_label\\_from').val(the_name);
                                    $('#add\\_label\\_name').val('');
                                    document.getElementById('dia_add_label_classifier').style.display='block';
                                };}()
                            );

                            $('#delete\\_label\\_button\\_'+name_string).unbind('click').click(function() {
                                var the_name = msg[i].name;
                                var the_labels = msg[i].labels;
                                return function() {
                                    $('#del\\_label\\_from').val(the_name);
                                    $('#del\\_label\\_labels').empty();
                                    for(var j = 0;j<the_labels.length;++j) {
                                        $('#del\\_label\\_labels').append('<option>'+the_labels[j]+'</option>');
                                    }
                                    $('#del\\_label\\_labels').select2({
                                        placeholder: 'Select the label to delete',
                                        width: '100%'
                                    });
                                    document.getElementById('dia_delete_label_classifier').style.display='block';
                                };}()
                            );

                            $('#extract\\_button\\_'+name_string).unbind('click').click(function() {
                                var the_name = msg[i].name;
                                var the_labels = msg[i].labels;
                                return function() {
                                    $('#extract\\_from').val(the_name);
                                    $('#extract\\_labels').empty();
                                    for(var j = 0;j<the_labels.length;++j) {
                                        $('#extract\\_labels').append('<option>'+the_labels[j]+'</option>');
                                    }
                                    $('#extract\\_labels').select2({
                                        placeholder: 'Select the label to extract',
                                        width: '100%'
                                    });
                                    document.getElementById('dia_extract_classifier').style.display='block';
                                };}()
                            );

                            $('#description\\_button\\_'+name_string).unbind('click').click(function() {
                                var the_name = msg[i].name;
                                var the_description = msg[i].description;
                                return function() {
                                    $('#descr\\_from').val(the_name);
                                    $('#descr\\_text').val(the_description);
                                    document.getElementById('dia_description_classifier').style.display='block';
                                };}()
                            );
                        }
                    }
                    for (var key in curr_list) {
                        $('#'+key).remove();
                    }
                    $('#comb\\_from').children().each(function (index, value) {if(!updated_list[value.id.slice(9)]) {$('#'+value.id).remove();}});
                    if(added) {
                        $('#data').append($('#data tbody tr').get().sort(function (a, b) {
                            return $(a)[0].id.localeCompare($(b)[0].id);
                        }));
                        $('#comb\\_from').append($('#comb\\_from > option').get().sort(function (a, b) {
                            return $(a)[0].id.localeCompare($(b)[0].id);
                        }));
                    }
                }
                $('#page').unbind('keyup mouseup').bind('keyup mouseup',update);
                $('#pagesize').unbind('keyup mouseup').bind('keyup mouseup',update);
            });
        }

        function create_classifier() {
            var name = $("#create\\_name").val();
            if(!name.match(/^[a-zA-Z0-9_]+$/)) {
                custom_error("The name of the classifier can only contain letters, numbers and the underscore character '_'");
                return false;
            }
            var labelsString = $("#labels").val();
            if(!labelsString.match(/^[a-zA-Z0-9_,]*$/)) {
                custom_alert("The names of labels can only contain letters, numbers and the underscore character '_'");
                return false;
            }
            document.getElementById('create_classifier_button').style.display='none';
            document.getElementById('create_classifier_button_wait').style.display='block';
            var labels = labelsString.split(',');
            var mode = $("#mode").val();
            var data = {name: name, labels: labels, mode: mode} ;
            $.ajax({
                type: "POST",
                url: "${classifier_path}/create",
                data: data})
            .done(function() {
                document.getElementById('dia_create_classifier').style.display='none';
                document.getElementById('create_classifier_button').style.display='block';
                document.getElementById('create_classifier_button_wait').style.display='none';
                update();
            })
            .fail(function(errMsg) {
                document.getElementById('create_classifier_button').style.display='block';
                document.getElementById('create_classifier_button_wait').style.display='none';
                custom_error(errMsg.responseText);
            });
            return false;
        };

        function upload_examples() {
            if($('#dataFile')[0].files.length!=1) {
                custom_error("Must select a file.");
                return false;
            }
            var data = new FormData()
            data.append("file", $('#dataFile')[0].files[0]);
            document.getElementById('upload_button').style.display='none';
            document.getElementById('upload_button_wait').style.display='block';
            $.ajax({
                type: "POST",
                url: "${classifier_path}/upload_training_data",
                data: data,
                enctype: 'multipart/form-data',
                processData: false,
                contentType: false})
            .done(function() {
                document.getElementById('dia_upload_form').style.display='none';
                document.getElementById('upload_button').style.display='block';
                document.getElementById('upload_button_wait').style.display='none';
                update();
            })
            .fail(function(errMsg) {
                document.getElementById('upload_button').style.display='block';
                document.getElementById('upload_button_wait').style.display='none';
                custom_error(errMsg.responseText);
            });
            return false ;
        };

        function upload_model() {
            var name = $("#model\\_name").val();
            var mode = $("#modelmode").val();
            if(!name.match(/^[a-zA-Z0-9_]+$/)) {
                custom_error("The name of the classifier can only contain letters, numbers and the underscore character '_'");
                return false;
            }
            if($('#modelFile')[0].files.length!=1) {
                custom_error("Must select a file.");
                return false;
            }
            var data = new FormData()
            data.append("file", $('#modelFile')[0].files[0]);
            data.append("name", name);
            data.append("mode", mode);
            document.getElementById('model_upload_button').style.display='none';
            document.getElementById('model_upload_button_wait').style.display='block';
            $.ajax({
                type: "POST",
                url: "${classifier_path}/upload_model",
                data: data,
                enctype: 'multipart/form-data',
                processData: false,
                contentType: false})
            .done(function() {
                document.getElementById('dia_model_upload_form').style.display='none';
                document.getElementById('model_upload_button').style.display='block';
                document.getElementById('model_upload_button_wait').style.display='none';
                update();
            })
            .fail(function(errMsg) {
                document.getElementById('model_upload_button').style.display='block';
                document.getElementById('model_upload_button_wait').style.display='none';
                custom_error(errMsg.responseText);
            });
            return false ;
        };

        function delete_classifier() {
            document.getElementById('delete_classifier_button').style.display='none';
            document.getElementById('delete_classifier_button_wait').style.display='block';
            var classifier_name = $("#del\\_from").val();
            $.ajax({
                type:'POST',
                url:'${classifier_path}/delete/'+classifier_name })
            .done(function() {
                document.getElementById('dia_delete_classifier').style.display='none';
                document.getElementById('delete_classifier_button').style.display='block';
                document.getElementById('delete_classifier_button_wait').style.display='none';
                update();
            })
            .fail(function(errMsg) {
                document.getElementById('delete_classifier_button').style.display='block';
                document.getElementById('delete_classifier_button_wait').style.display='none';
                custom_error(errMsg.responseText);
            });
            return false;
        };

        function extract_classifier() {
            var classifier_name = $('#extract\\_from').val();
            var selected_labels =  $('#extract\\_labels').val();
            var data = {name: classifier_name, labels: selected_labels};
            document.getElementById('extract_classifier_button').style.display='none';
            document.getElementById('extract_classifier_button_wait').style.display='block';
            $.ajax({
                type: "POST",
                url: "${classifier_path}/extract",
                data: data})
            .done(function() {
                document.getElementById('dia_extract_classifier').style.display='none';
                document.getElementById('extract_classifier_button').style.display='block';
                document.getElementById('extract_classifier_button_wait').style.display='none';
                update();
            })
            .fail(function(errMsg) {
                document.getElementById('extract_classifier_button').style.display='block';
                document.getElementById('extract_classifier_button_wait').style.display='none';
                custom_error(errMsg.responseText);
            });
            return false;
        };

        function rename_classifier_label() {
            var classifier_name = $('#ren\\_label\\_from').val();
            var new_name = $('#ren\\_label\\_name').val();
            if(!new_name.match(/^[a-zA-Z0-9_]+$/)) {
                custom_error("The name of the label can only contain letters, numbers and the underscore character '_'");
                return false;
            }
            document.getElementById('rename_classifier_label_button').style.display='none';
            document.getElementById('rename_classifier_label_button_wait').style.display='block';
            var selected_label =  $('#ren\\_label\\_labels').val();
            $.ajax({
                type: "POST",
                url: "${classifier_path}/label_rename/"+classifier_name+"/"+selected_label+"/"+new_name
                })
            .done(function() {
                document.getElementById('dia_rename_label_classifier').style.display='none';
                document.getElementById('rename_classifier_label_button').style.display='block';
                document.getElementById('rename_classifier_label_button_wait').style.display='none';
                update();
            })
            .fail(function(errMsg) {
                document.getElementById('rename_classifier_label_button').style.display='block';
                document.getElementById('rename_classifier_label_button_wait').style.display='none';
                custom_error(errMsg.responseText);
            });
            return false;
        };

        function add_classifier_label() {
            var classifier_name = $('#add\\_label\\_from').val();
            var new_name = $('#add\\_label\\_name').val();
            if(!new_name.match(/^[a-zA-Z0-9_]+$/)) {
                custom_error("The name of the label can only contain letters, numbers and the underscore character '_'");
                return false;
            }
            document.getElementById('add_classifier_label_button').style.display='none';
            document.getElementById('add_classifier_label_button_wait').style.display='block';
            $.ajax({
                type: "POST",
                url: "${classifier_path}/label_add/"+classifier_name+"/"+new_name
                })
            .done(function() {
                document.getElementById('dia_add_label_classifier').style.display='none';
                document.getElementById('add_classifier_label_button').style.display='block';
                document.getElementById('add_classifier_label_button_wait').style.display='none';
                update();
            })
            .fail(function(errMsg) {
                document.getElementById('add_classifier_label_button').style.display='block';
                document.getElementById('add_classifier_label_button_wait').style.display='none';
                custom_error(errMsg.responseText);
            });
            return false;
        };

        function delete_classifier_label() {
            var classifier_name = $('#del\\_label\\_from').val();
            document.getElementById('delete_classifier_label_button').style.display='none';
            document.getElementById('delete_classifier_label_button_wait').style.display='block';
            var selected_label =  $('#del\\_label\\_labels').val();
            $.ajax({
                type: "POST",
                url: "${classifier_path}/label_delete/"+classifier_name+"/"+selected_label
                })
            .done(function() {
                document.getElementById('dia_delete_label_classifier').style.display='none';
                document.getElementById('delete_classifier_label_button').style.display='block';
                document.getElementById('delete_classifier_label_button_wait').style.display='none';
                update();
            })
            .fail(function(errMsg) {
                document.getElementById('delete_classifier_label_button').style.display='block';
                document.getElementById('delete_classifier_label_button_wait').style.display='none';
                custom_error(errMsg.responseText);
            });
            return false;
        };

        function rename_classifier() {
            var classifier_name = $('#ren\\_from').val();
            var new_name = $('#ren\\_name').val();
            if(!new_name.match(/^[a-zA-Z0-9_]+$/)) {
                custom_error("The name of the classifier can only contain letters, numbers and the underscore character '_'");
                return false;
            }
            document.getElementById('rename_classifier_button').style.display='none';
            document.getElementById('rename_classifier_button_wait').style.display='block';
            $.ajax({
                type: "POST",
                url: "${classifier_path}/rename/"+classifier_name+"/"+new_name})
            .done(function() {
                document.getElementById('dia_rename_classifier').style.display='none';
                document.getElementById('rename_classifier_button').style.display='block';
                document.getElementById('rename_classifier_button_wait').style.display='none';
                update();
            })
            .fail(function(errMsg) {
                document.getElementById('rename_classifier_button').style.display='block';
                document.getElementById('rename_classifier_button_wait').style.display='none';
                custom_error(errMsg.responseText);
            });
            return false;
        };

        function classifier_description() {
            var classifier_name = $('#descr\\_from').val();
            var classifier_description = $('#descr\\_text').val();
            document.getElementById('description_classifier_button').style.display='none';
            document.getElementById('description_classifier_button_wait').style.display='block';
            $.ajax({
                type: "POST",
                url: "${classifier_path}/set_description/"+classifier_name+"/"+classifier_description})
            .done(function() {
                document.getElementById('dia_description_classifier').style.display='none';
                document.getElementById('description_classifier_button').style.display='block';
                document.getElementById('description_classifier_button_wait').style.display='none';
                update();
            })
            .fail(function(errMsg) {
                document.getElementById('description_classifier_button').style.display='block';
                document.getElementById('description_classifier_button_wait').style.display='none';
                custom_error(errMsg.responseText);
            });
            return false;
        };

        function merge_classifiers() {
            var name = $("#merge\\_name").val();
            var binary_by_name = $("#merge\\_binary\\_by\\_name").is(':checked');
            if(!name.match(/^[a-zA-Z0-9_]+$/)) {
                custom_error("The name of the classifier can only contain letters, numbers and the underscore character '_'");
                return false;
            }
            document.getElementById('merge_classifier_button').style.display='none';
            document.getElementById('merge_classifier_button_wait').style.display='block';
            var sources = $("#comb\\_from").val()
            var mergemode = $("#mergemode").val();
            var data = {name: name, sources: sources, mode:mergemode, binary_by_name:binary_by_name};
            $.ajax({
                type: "POST",
                url: "${classifier_path}/merge",
                data: data})
            .done(function() {
                document.getElementById('dia_merge_form').style.display='none';
                document.getElementById('merge_classifier_button').style.display='block';
                document.getElementById('merge_classifier_button_wait').style.display='none';
                update();
            })
            .fail(function(errMsg) {
                document.getElementById('merge_classifier_button').style.display='block';
                document.getElementById('merge_classifier_button_wait').style.display='none';
                custom_error(errMsg.responseText);
            });
            return false;
        };

        function view_training_data(classifier_name) {
            window.location = '${mount_dir}/training_data_view/'+classifier_name;
        };

        function download_training_data(classifier_name) {
            var form = $('<form></form>').attr('action', '${classifier_path}/download_training_data').attr('method', 'post');
            form.append($("<input></input>").attr('type', 'hidden').attr('name', 'name').attr('value', classifier_name));
            form.appendTo('body').submit().remove();
        };

        function download_model(classifier_name) {
            var form = $('<form></form>').attr('action', '${classifier_path}/download_model').attr('method', 'post');
            form.append($("<input></input>").attr('type', 'hidden').attr('name', 'name').attr('value', classifier_name));
            form.appendTo('body').submit().remove();
        };

        $( document ).ready(function() {

            $('#create\\_classifier').submit(create_classifier);
            $('#merge\\_form').submit(merge_classifiers);
            $('#upload\\_form').submit(upload_examples);
            $('#model\\_upload\\_form').submit(upload_model);

            $('#rename\\_classifier').submit(rename_classifier);
            $('#description\\_classifier').submit(classifier_description);
            $('#rename\\_label\\_classifier').submit(rename_classifier_label);
            $('#add\\_label\\_classifier').submit(add_classifier_label);
            $('#delete\\_label\\_classifier').submit(delete_classifier_label);
            $('#delete\\_classifier').submit(delete_classifier);
            $('#extract\\_classifier').submit(extract_classifier);

            $('#comb\\_from').select2({
                placeholder: 'Select the classifiers to merge',
                allowClear: true,
                width: '100%'
            });

            timed_update();
        });

</script>
</%block>

<%block name="menu2">
<section class="w3-navbar w3-theme-d4 ">
    <div id="but_create_classifier" class="w3-bar-item w3-button"
         onclick="document.getElementById('dia_create_classifier').style.display='block'">Create
        new classifier
    </div>
    <div id="but_merge_form" class="w3-bar-item w3-button"
         onclick="document.getElementById('dia_merge_form').style.display='block'">Copy/Merge classifiers
    </div>
    <div id="but_upload_form" class="w3-bar-item w3-button"
         onclick="document.getElementById('dia_upload_form').style.display='block'">Upload labeled documents
    </div>
    <div id="but_model_upload_form" class="w3-bar-item w3-button"
         onclick="document.getElementById('dia_model_upload_form').style.display='block'">Upload a model
    </div>
</section>
</%block>

<section>
    <div class="w3-panel w3-padding">
        <div class="w3-card">
            <div id="data_list">
            </div>
        </div>
    </div>
    <div id="dia_create_classifier" class="w3-modal">
        <div class="w3-modal-content w3-card-4">
            <header class="w3-container w3-theme">
                <span
                        onclick="document.getElementById('dia_create_classifier').style.display='none'"
                        class="w3-button w3-display-topright">&times;</span>
                <h3 class="w3-theme">Create classifier</h3>
            </header>
            <form id="create_classifier" class="w3-container" action="#" method="post">
                <p>
                    <label for="create_name">Name:</label>
                    <input class="w3-input" type="text" id="create_name"/></p>
                <p>
                    <label for="labels">Labels (comma separated):</label>
                    <input class="w3-input" type="text" id="labels"/></p>
                <p>
                    <label for="mode">Mode:</label>
                    <select class="w3-select" id="mode">
                        <%! from db import sqlalchemydb %>
                        % for classification_mode in sqlalchemydb.ClassificationMode:
                        <option value="${classification_mode.value}">${classification_mode.value}</option>
                        % endfor
                    </select></p>
                <p>
                    <input class="w3-input" id="create_classifier_button" type="submit" value="Create"/>
                    <span class="w3-center" id="create_classifier_button_wait" style="display:none">Processing</span>
                </p>
            </form>
        </div>
    </div>
    <div id="dia_merge_form" class="w3-modal">
        <div class="w3-modal-content w3-card-4">
            <header class="w3-container w3-theme">
                <span
                        onclick="document.getElementById('dia_merge_form').style.display='none'"
                        class="w3-button w3-display-topright">&times;</span>
                <h3 class="w3-theme">Copy/Merge classifiers</h3>
            </header>
            <form id="merge_form" class="w3-container" action="#" method="post">
                <p>
                    <label for="merge_name">Name:</label>
                    <input class="w3-input" type="text" id="merge_name"/></p>
                <p>
                    <label for="comb_from">From:</label>
                    <select class="w3-select" multiple id="comb_from" style="width:230px;">
                    </select></p>
                <p>
                    <label for="merge_binary_by_name">Merge binary classifiers by name</label>
                    <input type="checkbox" id="merge_binary_by_name" checked/>
                </p>
                <p>
                    <label for="mergemode">Mode:</label>
                    <select class="w3-select" id="mergemode">
                        <%! from db import sqlalchemydb %>
                        % for classification_mode in sqlalchemydb.ClassificationMode:
                        <option value="${classification_mode.value}">${classification_mode.value}</option>
                        % endfor
                    </select></p>
                <p>
                    <input class="w3-input" id="merge_classifier_button" type="submit" value="merge"/>
                    <span class="w3-center" id="merge_classifier_button_wait" style="display:none">Processing</span>
                </p>
            </form>
        </div>
    </div>
    <div id="dia_upload_form" class="w3-modal">
        <div class="w3-modal-content w3-card-4">
            <header class="w3-container w3-theme">
                <span
                        onclick="document.getElementById('dia_upload_form').style.display='none'"
                        class="w3-button w3-display-topright">&times;</span>
                <h3 class="w3-theme">Upload labeled documents</h3>
            </header>
            <form enctype="multipart/form-data" id="upload_form" class="w3-container" action="#" method="post">
                <p><label class="margined">Data file:</label>
                    <input class="w3-input" type="file" id="dataFile"/></p>
                <p>
                    <input class="w3-input" id="upload_button" type="submit" value="Upload"/>
                    <span class="w3-center" style="display:none" id="upload_button_wait">Uploading</span>
                </p>
            </form>
        </div>
    </div>
    <div id="dia_model_upload_form" class="w3-modal">
        <div class="w3-modal-content w3-card-4">
            <header class="w3-container w3-theme">
                <span
                        onclick="document.getElementById('dia_model_upload_form').style.display='none'"
                        class="w3-button w3-display-topright">&times;</span>
                <h3 class="w3-theme">Upload a model</h3>
            </header>
            <form enctype="multipart/form-data" id="model_upload_form" class="w3-container" action="#"
                  method="post">
                <p><label for="model_name">Name:</label>
                    <input class="w3-input" type="text" id="model_name"/></p>
                <p><label class="margined">Model file:</label>
                    <input class="w3-input" type="file" id="modelFile"/></p>
                <p>
                    <label for="modelmode">Mode:</label>
                    <select class="w3-select" id="modelmode">
                        <%! from db import sqlalchemydb %>
                        % for classification_mode in sqlalchemydb.ClassificationMode:
                        <option value="${classification_mode.value}">${classification_mode.value}</option>
                        % endfor
                    </select></p>

                <p>
                    <input class="w3-input" id="model_upload_button" type="submit" value="Upload"/>
                    <span class="w3-center" style="display:none" id="model_upload_button_wait">Uploading</span>
                </p>
            </form>
        </div>
    </div>
    <div id="dia_rename_classifier" class="w3-modal">
        <div class="w3-modal-content w3-card-4">
            <header class="w3-container w3-theme">
                <span
                        onclick="document.getElementById('dia_rename_classifier').style.display='none'"
                        class="w3-button w3-display-topright">&times;</span>
                <h3 class="w3-theme">Rename a classifier</h3>
            </header>
            <form id="rename_classifier" class="w3-container" action="#" method="post">
                <p>
                    <label for="ren_from">Classifier to rename:</label>
                    <input class="w3-input" type="text" disabled id="ren_from"/>
                </p>
                <p>
                    <label for="ren_name">New name:</label>
                    <input class="w3-input" type="text" id="ren_name"/></p>
                <p>
                    <input class="w3-input" id="rename_classifier_button" type="submit" value="Rename"/>
                    <span class="w3-center" id="rename_classifier_button_wait" style="display:none">Processing</span>
                </p>
            </form>
        </div>
    </div>
    <div id="dia_description_classifier" class="w3-modal">
        <div class="w3-modal-content w3-card-4">
            <header class="w3-container w3-theme">
                <span
                        onclick="document.getElementById('dia_description_classifier').style.display='none'"
                        class="w3-button w3-display-topright">&times;</span>
                <h3 class="w3-theme">Change description</h3>
            </header>
            <form id="description_classifier" class="w3-container" action="#" method="post">
                <p>
                    <label for="descr_from">Classifier:</label>
                    <input class="w3-input" type="text" disabled id="descr_from"/>
                </p>
                <p>
                    <label for="descr_text">Description:</label>
                    <input class="w3-input" type="text" id="descr_text"/></p>
                <p>
                    <input class="w3-input" id="description_classifier_button" type="submit" value="Change description"/>
                    <span class="w3-center" id="description_classifier_button_wait" style="display:none">Processing</span>
                </p>
            </form>
        </div>
    </div>
    <div id="dia_rename_label_classifier" class="w3-modal">
        <div class="w3-modal-content w3-card-4">
            <header class="w3-container w3-theme">
                <span
                        onclick="document.getElementById('dia_rename_label_classifier').style.display='none'"
                        class="w3-button w3-display-topright">&times;</span>
                <h3 class="w3-theme">Rename a label in a classifier</h3>
            </header>
            <form id="rename_label_classifier" class="w3-container" action="#" method="post">
                <p>
                    <label for="ren_label_from">Classifier:</label>
                    <input class="w3-input" type="text" disabled id="ren_label_from"/>
                </p>
                <p>
                    <label for="ren_label_labels">Label to rename:</label>
                    <select class="w3-select" id="ren_label_labels">
                    </select></p>
                <p>
                    <label for="ren_label_name">New label name:</label>
                    <input class="w3-input" type="text" id="ren_label_name"/></p>
                <p>
                    <input class="w3-input" id="rename_classifier_label_button" type="submit" value="Rename"/>
                    <span class="w3-center" id="rename_classifier_label_button_wait" style="display:none">Processing</span>
                </p>
            </form>
        </div>
    </div>
    <div id="dia_add_label_classifier" class="w3-modal">
        <div class="w3-modal-content w3-card-4">
            <header class="w3-container w3-theme">
                <span
                        onclick="document.getElementById('dia_add_label_classifier').style.display='none'"
                        class="w3-button w3-display-topright">&times;</span>
                <h3 class="w3-theme">Add a label to a classifier</h3>
            </header>
            <form id="add_label_classifier" class="w3-container" action="#" method="post">
                <p>
                    <label for="add_label_from">Classifier:</label>
                    <input class="w3-input" type="text" disabled id="add_label_from"/>
                </p>
                <p>
                    <label for="add_label_name">New label name:</label>
                    <input class="w3-input" type="text" id="add_label_name"/></p>
                <p>
                    <input class="w3-input" id="add_classifier_label_button" type="submit" value="Add"/>
                    <span class="w3-center" id="add_classifier_label_button_wait" style="display:none">Processing</span>
                </p>
            </form>
        </div>
    </div>
    <div id="dia_delete_label_classifier" class="w3-modal">
        <div class="w3-modal-content w3-card-4">
            <header class="w3-container w3-theme">
                <span
                        onclick="document.getElementById('dia_delete_label_classifier').style.display='none'"
                        class="w3-button w3-display-topright">&times;</span>
                <h3 class="w3-theme">Delete a label in a classifier</h3>
            </header>
            <form id="delete_label_classifier" class="w3-container" action="#" method="post">
                <p>
                    <label for="del_label_from">Classifier:</label>
                    <input class="w3-input" type="text" disabled id="del_label_from"/>
                </p>
                <p>
                    <label for="del_label_labels">Label to delete:</label>
                    <select class="w3-select" id="del_label_labels">
                    </select></p>
                <p>
                    <input class="w3-input" id="delete_classifier_label_button" type="submit" value="Delete"/>
                    <span class="w3-center" id="delete_classifier_label_button_wait" style="display:none">Processing</span>
                </p>
            </form>
        </div>
    </div>
    <div id="dia_delete_classifier" class="w3-modal">
        <div class="w3-modal-content w3-card-4">
            <header class="w3-container w3-theme">
                <span
                        onclick="document.getElementById('dia_delete_classifier').style.display='none'"
                        class="w3-button w3-display-topright">&times;</span>
                <h3 class="w3-theme">Delete a classifier</h3>
            </header>
            <form id="delete_classifier" class="w3-container" action="#" method="post">
                <p>
                    <label for="del_from">Classifier to delete:</label>
                    <input class="w3-input" type="text" disabled id="del_from"/>
                </p>
                <p>
                    <input class="w3-input" id="delete_classifier_button" type="submit" value="Delete"/>
                    <span class="w3-center" id="delete_classifier_button_wait" style="display:none">Processing</span>
                </p>
            </form>
        </div>
    </div>
    <div id="dia_extract_classifier" class="w3-modal">
        <div class="w3-modal-content w3-card-4">
            <header class="w3-container w3-theme">
                <span
                        onclick="document.getElementById('dia_extract_classifier').style.display='none'"
                        class="w3-button w3-display-topright">&times;</span>
                <h3 class="w3-theme">Create a classifier from a label</h3>
            </header>
            <form id="extract_classifier" class="w3-container" action="#" method="post">
                <p>
                    <label for="extract_from">Classifier:</label>
                    <input class="w3-input" type="text" disabled id="extract_from"/>
                </p>
                <p>
                    <label for="extract_labels">Label to extract:</label>
                    <select class="w3-select" multiple id="extract_labels">
                    </select></p>
                <p>
                    <input class="w3-input" id="extract_classifier_button" type="submit" value="Extract"/>
                    <span class="w3-center" id="extract_classifier_button_wait" style="display:none">Processing</span>
                </p>
            </form>
        </div>
    </div>
</section>
