<%inherit file="basewithmenu.html" />
<%block name="head">
${parent.head()}
<script type="text/javascript">
    update_interval=5000
    last_update = 0
    page_size = 20;
    maxpage = 1

    function timed_update() {
        if(Date.now()-last_update>update_interval)
            update();
        setTimeout(timed_update,update_interval);
    }

    pagination_div = jQuery('<div class="w3-right w3-display-right w3-margin-right" id="pagination">\
                     Page<input id="page" style="width:3em;" type="number" min="1" value="1"/>\
                     /<span id="pagecount">X</span>\
                     Count<select id="pagesize"><option value="10">10</option>\
                     <option value="20" selected>20</option><option value="50" >50</option>\
                     <option value="100">100</option><option value="200">200</option></select></div></div>');

    async function update() {
        last_update = Date.now();
        var count = parseInt($(pagination_div.children()[2]).val())
        await $.ajax({
            type:'POST',
            url:'${dataset_path}/classification_count',
            data: { name : '${datasetname}'},
            dataType: 'json'})
        .done(function(msg) {
            count = parseInt(msg);
            maxpage = Math.ceil(count/parseInt($(pagination_div.children()[2]).val()))
            $('#page').val(Math.max(1,Math.min(maxpage,parseInt($('#page').val()))))
            $(pagination_div.children()[0]).attr({
                   "max" : maxpage
                });
            $(pagination_div.children()[1]).text(maxpage)
        });
        $.ajax({
            type:'POST',
            url:'${dataset_path}/classification_info',
            data: { name : '${datasetname}', page : parseInt($(pagination_div.children()[0]).val())-1, page_size :$(pagination_div.children()[2]).val()},
            dataType: 'json'})
        .done(function(msg) {
            if(msg.length==0) {
                $('#data\\_list').html('<div id="nodata" class="w3-panel w3-text-theme"><h4>No automatic classification available for dataset <b>${datasetname}</b></h4></div>');
                $('#page').val(1);
            }
            else {
                if($('#gotdata').length==0) {
                    $('#data\\_list').html('<div id="gotdata" class="w3-container w3-theme w3-display-container"><h4>Automatic classifications of dataset <b>${datasetname}</b>:</h4></div>\
                    <div><table id="data" class="w3-table-all">\
                    <tr>\
                    <th></th>\
                    <th class="w3-small">Id</th>\
                    <th class="w3-small">Classifier</th>\
                    <th class="w3-small">Created</th>\
                    <th class="w3-small">Completed</th>\
                    <th class="w3-small">Status</th>\
                    </tr></table></div>');
                    $('#gotdata').prepend(pagination_div);
                }
                var start = 0;
                var end = msg.length;
                $('td.entry\\_name').each(function(i,item) {
                    var found = false;
                    for(var i = start;i<end;++i) {
                        if($(item).text()==msg[i].id) {
                            found = true;
                            break;
                        }
                    }
                    if(!found) {
                        $(item).parent().remove();
                    }
                });
                var curr_list = {};
                $('#data').children().each(function (index, value) {if(value.id.startsWith('entry_')) { curr_list[value.id]=true;}})
                var updated_list = {};
                var added = false;
                for(var i = 0;i<msg.length;++i) {
                    updated_list[msg[i].id] = true;
                    if (i >=start && i<end) {
                        if ($('#entry\\_'+msg[i].id).length==0) {
                            item = jQuery('<tr id=\'entry_'+msg[i].id+'\'>\
                            <td class="w3-dropdown-hover w3-hover-theme">\
                                ☰\
                                <div class="w3-dropdown-content w3-bar-block w3-card">\
                                    <div id="download_button_'+msg[i].id+'" class="w3-bar-item w3-button">Download labeled documents</div>\
                                    <div id="del_button_'+msg[i].id+'" class="w3-bar-item w3-button">Delete</div>\
                                </div></td>\
                            <td class="updatable w3-small id entry_name">'+msg[i].id+'</td>\
                            <td class="updatable">'+msg[i].classifiers+'</td>\
                            <td class="updatable w3-tiny">'+msg[i].creation.slice(0,-13)+'</td>\
                            <td class="updatable w3-tiny">'+msg[i].completion.slice(0,-13)+'</td>\
                            <td class="updatable">'+msg[i].status+'</td>\
                            </tr>');
                            $('#data').append(item);

                            $('#download\\_button\\_'+msg[i].id).click(download_classification.bind(null,msg[i].id));

                            $('#del\\_button\\_'+msg[i].id).click(function() {
                                var the_name = msg[i].id;
                                return function() {
                                    $('#del\\_from').val(the_name);
                                    document.getElementById('dia_delete_classification').style.display='block';
                                };}()
                            );
                        }
                        else {
                            item = jQuery('<td class="updatable w3-small id entry_name">'+msg[i].id+'</td>\
                            <td class="updatable">'+msg[i].classifiers+'</td>\
                            <td class="updatable w3-tiny">'+msg[i].creation.slice(0,-13)+'</td>\
                            <td class="updatable w3-tiny">'+msg[i].completion.slice(0,-13)+'</td>\
                            <td class="updatable">'+msg[i].status+'</td>');
                            $('#entry\\_'+msg[i].id+' td.updatable').remove();
                            $('#entry\\_'+msg[i].id).append(item)
                            delete curr_list['entry_'+msg[i].id];
                        }
                    }
                }
                for (var key in curr_list) {
                    $('#'+key).remove();
                }
                if(added) {
                    $('#data').append($('#data tbody tr').get().sort(function (a, b) {
                        return $(a)[0].id.localeCompare($(b)[0].id);
                    }));
                }
            }
            $('#page').unbind('keyup mouseup').bind('keyup mouseup',update);
            $('#pagesize').unbind('keyup mouseup').bind('keyup mouseup',update);
        });

        $.ajax({
            type:'POST',
            url:'${classifier_path}/info',
            dataType: 'json'})
        .done(function(msg) {
            var valid_classifiers = {}
            var added = false;
            for(var i = 0;i<msg.length;++i) {
                valid_classifiers[msg[i].name] = true;
                if($('#do\\_opt\\_'+msg[i].name).length==0) {
                    added = true;
                    $('#classifier\\_name').append($('<option id="do_opt_'+msg[i].name+'"/>').val(msg[i].name).text(msg[i].name));
                    $('#view\\_classifier\\_name').append($('<option id="do_opt_'+msg[i].name+'"/>').val(msg[i].name).text(msg[i].name));
                }
            }
            $('#classifier\\_name').children().each(function (index, value) {if(!valid_classifiers[value.id.slice(7)]) {$('#'+value.id).remove();}});
            $('#view\\_classifier\\_name').children().each(function (index, value) {if(!valid_classifiers[value.id.slice(7)]) {$('#'+value.id).remove();}});
            if(added) {
                $('#classifier\\_name').append($('#classifier\\_name > option').get().sort(function (a, b) {
                    return $(a)[0].id.localeCompare($(b)[0].id);
                }));
                $('#view\\_classifier\\_name').append($('#view\\_classifier\\_name > option').get().sort(function (a, b) {
                    return $(a)[0].id.localeCompare($(b)[0].id);
                }));
            }
        });
    }

    function delete_classification() {
        document.getElementById('delete_classification_button').style.display='none';
        document.getElementById('delete_classification_button_wait').style.display='block';
        var classification_id = $("#del\\_from").val();
        $.ajax({
            type:'POST',
             url:'${dataset_path}/classification_delete',
            data: { id : classification_id }})
        .done(function() {
            document.getElementById('dia_delete_classification').style.display='none';
            document.getElementById('delete_classification_button').style.display='block';
            document.getElementById('delete_classification_button_wait').style.display='none';
            update();
        })
        .fail(function(errMsg) {
            document.getElementById('delete_classification_button').style.display='block';
            document.getElementById('delete_classification_button_wait').style.display='none';
            custom_error(errMsg.responseText);
        });
        return false;
    };

    function download_classification(classification_id) {
        var form = $('<form></form>').attr('action', '${dataset_path}/classification_download/'+classification_id).attr('method', 'post');
        form.appendTo('body').submit().remove();
    };

    function classify() {
        document.getElementById('create_classification_button').style.display='none';
        document.getElementById('create_classification_button_wait').style.display='block';
        var classifiers = $("#classifier\\_name").val()
        $.ajax({
            type:'POST',
            url:'${dataset_path}/classify',
            data: { name : '${datasetname}', classifiers : classifiers }})
        .done(function() {
            document.getElementById('dia_create_classification').style.display='none';
            document.getElementById('create_classification_button').style.display='block';
            document.getElementById('create_classification_button_wait').style.display='none';
            update();
        })
        .fail(function(errMsg) {
            document.getElementById('create_classification_button').style.display='block';
            document.getElementById('create_classification_button_wait').style.display='none';
            custom_error(errMsg.responseText);
        });
        return false;
    }

    function view() {
        document.getElementById('view_classification_button').style.display='none';
        document.getElementById('view_classification_button_wait').style.display='block';
        var classifiers = $("#view\\_classifier\\_name").val();
        window.location = '${mount_dir}/classification_view/${datasetname}/'+classifiers;
        return false;
    }


    $( document ).ready(function() {
        var pathname = window.location.pathname;

        $("#create\\_classifier").submit(classify);
        $("#view\\_classifier").submit(view);
        $("#delete\\_classification").submit(delete_classification);

        $('#classifier\\_name').select2({
            placeholder: 'Select the classifier',
            width: '100%'
        });

        timed_update();
    });
</script>
</%block>

<%block name="menu2">
<section class="w3-navbar w3-theme-d4 ">
    <div id="but_create_classification" class="w3-bar-item w3-button"
         onclick="document.getElementById('dia_create_classification').style.display='block'">New automatic classification
    </div>
    <div id="but_view_classification" class="w3-bar-item w3-button"
         onclick="document.getElementById('dia_view_classification').style.display='block'">Live classification
    </div>
    <a class="w3-bar-item w3-button" href="${mount_dir}/browseandcode/${datasetname}">Browse & code</a>
</section>
</%block>

<section>
    <div class="w3-panel w3-padding">
        <div class="w3-card">
            <div id="data_list">
            </div>
        </div>
    </div>
    <div id="dia_create_classification" class="w3-modal">
        <div class="w3-modal-content w3-card-4">
            <header class="w3-container w3-theme">
                <span
                        onclick="document.getElementById('dia_create_classification').style.display='none'"
                        class="w3-button w3-display-topright">&times;</span>
                <h3 class="w3-theme">Automatic classification of documents</h3>
            </header>
            <form id="create_classifier" class="w3-container" action="#" method="post">
                <p>
                    <label for="classifier_name" class="popup" onclick="popup(this,'classifierpopup')">Classifier:</label>
                    <div id="classifierpopup" class="w3-margin popuptext">
                        <p>Select the classifier to produce an automatic classification of the dataset.</p>
                        <p>The automatic classification is performed by a background process (showing 'running' in the status as it goes on).</p>
                        <p>Once completed the dataset with the automatically assigned labels can be downloaded as a CSV file.</p>
                    </div>
                    <select class="w3-select" id="classifier_name">
                    </select></p>
                <p>
                    <input class="w3-input" id="create_classification_button" type="submit" value="Classify"/>
                    <span class="w3-center" id="create_classification_button_wait" style="display:none">Processing</span>
                </p>
            </form>
        </div>
    </div>
    <div id="dia_view_classification" class="w3-modal">
        <div class="w3-modal-content w3-card-4">
            <header class="w3-container w3-theme">
                <span
                        onclick="document.getElementById('dia_view_classification').style.display='none'"
                        class="w3-button w3-display-topright">&times;</span>
                <h3 class="w3-theme">Live classification of documents</h3>
            </header>
            <form id="view_classifier" class="w3-container" action="#" method="post">
                <p>
                    <label for="view_classifier_name">Classifier:</label>
                    <select class="w3-select" id="view_classifier_name">
                    </select></p>
                <p>
                    <input class="w3-input" id="view_classification_button" type="submit" value="View"/>
                    <span class="w3-center" id="view_classification_button_wait" style="display:none">Processing</span>
                </p>
            </form>
        </div>
    </div>
    <div id="dia_delete_classification" class="w3-modal">
        <div class="w3-modal-content w3-card-4">
            <header class="w3-container w3-theme">
                <span
                        onclick="document.getElementById('dia_delete_classification').style.display='none'"
                        class="w3-button w3-display-topright">&times;</span>
                <h3 class="w3-theme">Delete a classification</h3>
            </header>
            <form id="delete_classification" class="w3-container" action="#" method="post">
                <p>
                    <label for="del_from">Classification to delete:</label>
                    <input class="w3-input" type="text" disabled id="del_from"/>
                </p>
                <p>
                    <input class="w3-input" id="delete_classification_button" type="submit" value="Delete"/>
                    <span class="w3-center" id="delete_classification_button_wait" style="display:none">Processing</span>
                </p>
            </form>
        </div>
    </div>
</section>

