<%inherit file="public_basewithmenu.html" />
<%block name="head">
${parent.head()}
<script type="text/javascript">
    update_interval=8000
    delay_interval=500
    last_update = 0

    function timed_update() {
        if(Date.now()-last_update>update_interval)
            update();
        setTimeout(timed_update,update_interval);
    }

    function update() {
        last_update = Date.now();
        $.ajax({
            type:'POST',
            url:'${ip_auth_path}/info'})
        .done(function(msg) {
            if(msg.length>0) {
                $('#ip\\_request\\_count').text(msg[0]['current_request_counter']);
                $('#ip\\_hourly\\_limit').text(msg[0]['hourly_limit']);
                $('#ip\\_total').text(msg[0]['total_request_counter']);
                $('#ip\\_total\\_limit').text(msg[0]['request_limit']);
            }
            else {
                $('#ip\\_request\\_count').text('0');
                $('#ip\\_hourly\\_limit').text('n/a');
                $('#ip\\_total').text('0');
                $('#ip\\_total\\_limit').text('n/a');
            }
        });
        var authkey = $('#authkey').val();
        if(authkey.length>0) {
            $.ajax({
                type:'POST',
                url:'${key_auth_path}/info',
                data: {authkey:authkey}})
            .done(function(msg) {
                if(msg.length>0) {
                    $('#key\\_request\\_count').text(msg[0]['current_request_counter']);
                    $('#key\\_hourly\\_limit').text(msg[0]['hourly_limit']);
                    $('#key\\_total').text(msg[0]['total_request_counter']);
                    $('#key\\_total\\_limit').text(msg[0]['request_limit']);
                }
                else {
                    $('#key\\_request\\_count').text('0');
                    $('#key\\_hourly\\_limit').text('n/a');
                    $('#key\\_total').text('0');
                    $('#key\\_total\\_limit').text('n/a');
                }
            })
            .fail(function(msg){
                    $('#key\\_request\\_count').text('0');
                    $('#key\\_hourly\\_limit').text('n/a');
                    $('#key\\_total').text('0');
                    $('#key\\_total\\_limit').text('n/a');
            });
        }
        else {
            $('#key\\_request\\_count').text('0');
            $('#key\\_hourly\\_limit').text('n/a');
            $('#key\\_total').text('0');
            $('#key\\_total\\_limit').text('n/a');
        }
        $.ajax({
            type:'POST',
            url:'${classifier_path}/info',
            dataType: 'json'})
        .done(function(msg) {
            var updated_list = {}
            var added = false;
            for(var i = 0;i<msg.length;++i) {
                var name_string = msg[i].name.replace(/\W/g,'X')
                updated_list[name_string] = true;
                if($('#use\\_opt\\_'+name_string).length==0) {
                    var single_label = msg[i].mode=="Single-label";
                    var labeltype='<span id="'+name_string+'_single" class="w3-small w3-margin-left w3-right">S</span>';
                    if(!single_label) {
                        labeltype='<span id="'+name_string+'_multi" class="w3-small w3-margin-left w3-right">M</span>'
                    }
                    added = true;
                    $('#use').append($('<option title="'+msg[i].description+'" id="use_opt_'+name_string+'"/>').val(msg[i].name).text(msg[i].name));
                    $('#dup\\_from').append($('<option title="'+msg[i].description+'" id="dup_opt_'+name_string+'"/>').val(msg[i].name).text(msg[i].name));
                    var suggestion_div = jQuery('<div id=\'suggestions_'+msg[i].name+'\' class=\'w3-col w3-card w3-margin-top w3-margin-right\' style=\'width:auto\'>\
                    <div class="name w3-display-container w3-container w3-padding w3-theme">'+msg[i].name+labeltype+'</div>\
                    <div id="assignments_'+msg[i].name+'"></div></div>');
                    suggestion_div.appendTo('#pool');
                    for(var j = 0;j<msg[i].labels.length;++j) {
                        if(single_label) {
                            var scoreline = jQuery('<div id="suggestion_'+msg[i].name+'_L_'+msg[i].labels[j]+'" class="w3-left w3-hover-theme w3-hover-opacity pointer scoreline not_relevant">'+msg[i].labels[j]+'</div>');
                        }
                        else {
                            var scoreline_yes = jQuery('<div id="suggestion_'+msg[i].name+'_L_'+msg[i].labels[j]+'_yes" class="w3-col w3-hover-theme w3-hover-opacity w3-right-align pointer scoreline not_relevant multiyes" style="width:auto;">yes</div>');
                            var scoreline_no = jQuery('<div id="suggestion_'+msg[i].name+'_L_'+msg[i].labels[j]+'_no" class="w3-rest w3-hover-theme w3-hover-opacity w3-right-align pointer scoreline not_relevant multino" style="width:auto;">no</div>');
                            var scoreline = jQuery('<div class="w3-left w3-row multiscoreline"><div>'+msg[i].labels[j]+'</div></div>');
                            scoreline.append(scoreline_yes);
                            scoreline.append(scoreline_no);
                        }
                        $('#assignments\\_'+msg[i].name).append(scoreline);
                    }
                }
            }
            $('#use').children().each(function (index, value) {
                if(!updated_list[value.id.slice(8)]) {
                    $('#'+value.id).remove();
                    $('#suggestions\\_'+value.id.slice(8)).remove();
                }
            });
            if(added) {
                $('#use').append($('#use > option').get().sort(function (a, b) {
                    return $(a)[0].id.localeCompare($(b)[0].id);
                }));
                $('#use').attr('size',Math.min(10,Object.keys(updated_list).length));
                $('#use').select2({
                    placeholder: 'Select the classifiers to use',
                    width: '100%'
                });
                $("#use").off('select2:select').on('select2:select',function(msg){
                    var name = msg.params.data.id;
                    $('#suggestions\\_'+name).detach().appendTo('#suggestions');
                    classify([name]);
                    return false;
                });
                $("#use").off('select2:unselect').on('select2:unselect',function(msg){
                    var name = msg.params.data.id;
                    $('#suggestions\\_'+name).detach().appendTo('#pool');
                    return false;
                });
            }
            if($('#classify\\_button').length==0) {
                classify_button = jQuery('<div id="classify_button" class="w3-right w3-button w3-theme w3-round">Classify</div>');
                classify_button.click(function() {
                    reset_labels();
                    classify();
                });
                $('#buttons').append(classify_button);
            }
        });
    }

    last_text = ""
    function classify(selection) {
        var text = $("#textbox").val();
        var force = text!=last_text;
        if(force) {
            reset_labels();
        }
        last_text = text;
        $('#suggestions > div').each(function(i,item) {
            var classifier_name = $(item).children('.name').text();
            classifier_name = classifier_name.substr(0,classifier_name.length - 1)
            var single_label = $('#'+classifier_name+'\\_single').length>0;
            if(typeof selection == 'undefined' || selection.indexOf(classifier_name)>=0) {
                if(single_label) {
                    var assigned = $('#assignments\\_'+classifier_name).children('.scoreline.assigned').length>0;
                    if(!assigned||force) {
                        $.ajax({
                            type:'POST',
                            url:'${classifier_path}/classify',
                            data: { name: classifier_name, X: [text], mode: "Single-label"}})
                        .done(function(msg) {
                            var suggested = msg[0];
                            if(suggested!=null) {
                                assigned = $('#assignments\\_'+classifier_name).children('.scoreline.assigned').length>0;
                                if(!assigned || force) {
                                    $('#assignments\\_'+classifier_name).children('.scoreline').removeClass('assigned');
                                    $('#assignments\\_'+classifier_name).children('.scoreline').removeClass('suggested');
                                    $('#assignments\\_'+classifier_name).children('.scoreline').addClass('not_relevant');
                                    $('#suggestion\\_'+classifier_name+'\\_L\\_'+suggested[0]).removeClass('not_relevant');
                                    $('#suggestion\\_'+classifier_name+'\\_L\\_'+suggested[0]).addClass('suggested');
                                }
                            }
                        });
                    }
                }
                else {
                    $.ajax({
                        type:'POST',
                        url:'${classifier_path}/classify',
                        data: { name: classifier_name, X: [text], mode: "Multi-label"}})
                    .done(function(msg) {
                        var suggested = msg[0];
                        if(suggested!=null) {
                            suggested.forEach(function(label_value) {
                                var label = label_value[0];
                                var value = 'no';
                                var not_value = 'yes';
                                if(label_value[1]) {
                                    value = 'yes';
                                    not_value = 'no';
                                }
                                var human = label_value[2];
                                assigned = $('#suggestion\\_'+classifier_name+'\\_L\\_'+label+'\\_'+value).hasClass('assigned')||$('#suggestion\\_'+classifier_name+'\\_L\\_'+label+'\\_'+not_value).hasClass('assigned');
                                if(!assigned || force) {
                                    $('#suggestion\\_'+classifier_name+'\\_L\\_'+label+'\\_'+value).removeClass('not_relevant');
                                    $('#suggestion\\_'+classifier_name+'\\_L\\_'+label+'\\_'+value).addClass('suggested');
                                    $('#suggestion\\_'+classifier_name+'\\_L\\_'+label+'\\_'+value).removeClass('assigned');
                                    $('#suggestion\\_'+classifier_name+'\\_L\\_'+label+'\\_'+not_value).removeClass('assigned');
                                    $('#suggestion\\_'+classifier_name+'\\_L\\_'+label+'\\_'+not_value).removeClass('suggested');
                                    $('#suggestion\\_'+classifier_name+'\\_L\\_'+label+'\\_'+not_value).addClass('not_relevant');
                                }
                            });
                        }
                    });
                }
            }
        });
    }

    function reset_labels() {
        $('#suggestions > div > .name').each(function(i,item) {
            var classifier_name = $(item).text();
            classifier_name = classifier_name.substr(0,classifier_name.length - 1);
            $('#assignments\\_'+classifier_name).find('.scoreline').removeClass('assigned');
            $('#assignments\\_'+classifier_name).find('.scoreline').removeClass('suggested');
            $('#assignments\\_'+classifier_name).find('.scoreline').addClass('not_relevant');
        });
        $('#pool > div > .name').each(function(i,item) {
            var classifier_name = $(item).text();
            classifier_name = classifier_name.substr(0,classifier_name.length - 1);
            $('#assignments\\_'+classifier_name).find('.scoreline').removeClass('assigned');
            $('#assignments\\_'+classifier_name).find('.scoreline').removeClass('suggested');
            $('#assignments\\_'+classifier_name).find('.scoreline').addClass('not_relevant');
        });
    }

    $( document ).ready(function() {
        $("#textbox").on("input",function() {
            reset_labels();
        });

        $('#use').select2({
            placeholder: 'Select the classifiers to use',
            allowClear: true,
            width: '100%'
        });

        timed_update();
    });
</script>
</%block>

<section>
    <div class="w3-panel w3-padding">
        <div class="w3-card">
            <header class="w3-container w3-theme">
                <h4>Type & code:</h4>
            </header>
            <form id="select_form" class="w3-container" action="#" method="post">
                <p><label for="use">Classifiers to use:</label>
                    <select class="w3-select" multiple id="use" style="width:230px;">
                    </select></p>
            </form>
            <div class="w3-container">
                <span>Text to code:</span>
                <textarea id="textbox" class="w3-block" placeholder="INSTRUCTIONS:

1) Type/copy your text here.
2) Select a relevant classifier from the selection box up here.
3) Hit the 'Classify' button below to see the labels assigned by the automatic classifiers.

Editing the text resets the label assignment. Hit 'Classify' again when needed." style="height:33%;"></textarea>
                <div id="buttons" class="w3-container w3-panel"></div>
                <div id="suggestions" class="w3-container w3-margin-bottom"></div>
                <div id="pool" style="display:none;"></div>
                <div id="historybox">
                    <div class="w3-margin-bottom">Agreement on last <input id="histsize" type="number" min="10"
                                                                           max="500" value="50"> assigned labels: <span
                            id="accuracy">n/a</span></div>
                    <div class="w3-margin-bottom">Agreement history:
                        <div id="history"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="w3-panel w3-padding">
        <div class="w3-card">
            <header class="w3-container w3-text-theme">
                <h4>Service access info:</h4>
            </header>
            <div class="w3-panel w3-left" id="infoip">
                <div class="w3-container w3-tooltip">IP-based access <div class="w3-text w3-theme w3-tag w3-small w3-round">${ip}</div></div>
                <div class="w3-container">IP requests this hour: <span id="ip_request_count">0</span> - <span title="a value of -1 means no limit">limit</span>: <span id="ip_hourly_limit">0</span></div>
                <div class="w3-container">Total IP requests: <span id="ip_total">0</span> - <span
                        style=' text-decoration: underline; text-decoration-style: dotted'
                        title="a value of -1 means no limit">limit</span>: <span id="ip_total_limit">0</span></div>
            </div>
            <div class="w3-panel w3-left w3-border-theme w3-border-left" id="infokey">
                <div class="w3-container"><label class="w3-tooltip" for="authkey">Key-based access
                    <div class="w3-text w3-theme w3-tag w3-small w3-round">An empty or wrong key will back up to IP access.</div></label><input
                        type="password" id="authkey" placeholder="copy key here"></input></div>
                <div class="w3-container">Key requests this hour: <span
                        id="key_request_count">0</span> - <span title="a value of -1 means no limit">limit</span>: <span
                        id="key_hourly_limit">0</span></div>
                <div class="w3-container">Total key requests: <span
                        id="key_total">0</span> - <span title="a value of -1 means no limit">limit</span>:
                    <span id="key_total_limit">0</span></div>
            </div>
            <div class="w3-container w3-padding"></div>
        </div>
    </div>
</section>
