<%inherit file="basewithmenu.html" />
<%block name="head">
${parent.head()}
<script type="text/javascript">
    update_interval=5000
    last_update = 0
    page_size = 10;
    maxpage = 1
    filter = ''

    function timed_update() {
        if(Date.now()-last_update>update_interval)
            update();
        setTimeout(timed_update,update_interval);
    }

    pagination_div = jQuery('<div class="w3-right w3-display-right w3-margin-right" id="pagination">\
                     Page <input id="page" style="width:3em;" type="number" min="1" value="1"/>\
                     /<span id="pagecount">X</span>\
                     Count <select id="pagesize" class="w3-margin-right"><option value="5">5</option>\
                     <option value="10" selected>10</option>\
                     <option value="20">20</option><option value="50" >50</option></select>\
                     Filter: <input type="text" id="filter" placeholder="Text filter" value="'+filter+'"/></div>\
                     ');

    async function update() {
        last_update = Date.now();
        var count = parseInt($(pagination_div.children()[2]).val())
        await $.ajax({
            type:'POST',
            url:'${classifier_path}/get_training_data_size/${classifiername}',
            dataType: 'json'})
        .done(function(msg) {
            count = parseInt(msg);
            maxpage = Math.ceil(count/parseInt($(pagination_div.children()[2]).val()))
            $('#page').val(Math.max(1,Math.min(maxpage,parseInt($('#page').val()))))
            $(pagination_div.children()[0]).attr({
                   "max" : maxpage
                });
            $(pagination_div.children()[1]).text(maxpage)
        });
        var labels = [];
        await $.ajax({
            type:'POST',
            url:'${classifier_path}/label_info/${classifiername}',
            dataType: 'json'})
        .done(function(msg) {
            labels = msg;
        });
        var max_label_length = 5;
        for( var i = 0;i<labels.length;++i) {
            max_label_length = Math.max(max_label_length,labels[i].length);
        }
        var single_label = true;
        await $.ajax({
            type:'POST',
            url:'${classifier_path}/get_preferred_classification_mode/${classifiername}',
            dataType: 'json'})
        .done(function(msg) {
            if(msg.startsWith('Single')) {
                single_label = true;
            }
            else {
                single_label = false;
            }
        });
        $.ajax({
            type:'POST',
            url:'${classifier_path}/get_training_data',
            data: { filter:filter, name:'${classifiername}', page : parseInt($(pagination_div.children()[0]).val())-1, page_size :$(pagination_div.children()[2]).val()},
            dataType: 'json'})
        .done( function(msg) {
            if(msg.length==0) {
                $('#data\\_list').html('<div id="nodata" class="w3-panel w3-text-theme"><h4>No training data for classifier <b>${classifiername}</b></h4></div>');
                var current_page = parseInt($(pagination_div.children()[0]).val())
                if(current_page>1) {
                    $(pagination_div.children()[0]).val(Math.min(current_page-1,maxpage-1));
                    update();
                }
                else {
                    if(filter.length>0) {
                        filter = '';
                        $(pagination_div).children('#filter').val(filter
                        );
                        update();
                    }
                }
            }
            else {
                if($('#gotdata').length==0) {
                    $('#data\\_list').html('<div id="gotdata" class="w3-container w3-theme w3-display-container"><h4>Training data for classifier <b>${classifiername}</b>:</h4></div>\
                    <div><table id="data" class="w3-table-all">\
                    <tr>\
                    <th></th>\
                    <th class="w3-small">ID</th>\
                    <th class="w3-small">Last update</th>\
                    <th class="w3-small">Text</th>\
                    <th class="w3-small">Labels</th>\
                    </tr></table></div>');
                    $('#gotdata').prepend(pagination_div);
                }
                var start = 0;
                var end = msg.length;
                $('td.entry\\_name').each(function(i,item) {
                    var found = false;
                    for(var i = start;i<end;++i) {
                        if($(item).text()==msg[i].id) {
                            found = true;
                            break;
                        }
                    }
                    if(!found) {
                        $(item).parent().remove();
                    }
                });
                var curr_list = {};
                $('#data').children().each(function (index, value) {if(value.id.startsWith('entry_')) { curr_list[value.id]=true;}})
                var updated_list = {};
                var added = false;
                for(var i = 0;i<msg.length;++i) {
                    var name_string = msg[i].id;
                    updated_list[name_string] = true;
                    var sort_string = msg[i].id;
                    if (i >=start && i<end) {
                        if ($('#entry\\_'+sort_string).length==0) {
                            item = jQuery('<tr id=\'entry_'+sort_string+'\'>\
                            <td class="w3-dropdown-hover w3-hover-theme">\
                                ☰\
                                <div class="w3-dropdown-content w3-bar-block w3-card">\
                                    <div id="delete_button_'+sort_string+'" class="w3-bar-item w3-button">Delete</div>\
                                </div></td>\
                            <td class="updatable id entry_name">'+msg[i].id+'</td>\
                            <td class="updatable w3-tiny">'+msg[i].update.slice(0,-13)+'</td>\
                            <td class="updatable w3-small">'+msg[i].text+'</td>\
                            <td id="labels_'+msg[i].id+'" class="updatable w3-small"></td>\
                            </tr>');
                            $('#data').append(item);

                            $('#delete\\_button\\_'+sort_string).click(function() {
                                var the_name = name_string;
                                return function() {
                                    $('#del\\_from').val(the_name);
                                    document.getElementById('dia_delete_example').style.display='block';
                                };}()
                            );
                        }
                        else {
                            item = jQuery('<td class="updatable id entry_name">'+msg[i].id+'</td>\
                                <td class="updatable w3-tiny">'+msg[i].update.slice(0,-13)+'</td>\
                                <td class="updatable w3-small">'+msg[i].text+'</td>\
                                <td id="labels_'+msg[i].id+'" class="updatable w3-small"></td>\
                            ');
                            $('#entry\\_'+sort_string+' td.updatable').remove();
                            $('#entry\\_'+sort_string).append(item)
                            delete curr_list['entry_'+sort_string];
                        }

                        var suggestion_div = jQuery('<div id=\'suggestions_'+msg[i].id+'\' class=\'w3-col w3-display-container\' style=\'width:auto\'>\
                            </div>');
                        suggestion_div.appendTo('#labels_'+msg[i].id);
                        for(var j = 0;j<labels.length;++j) {
                            if(single_label) {
                                var scoreline = jQuery('<div id="suggestion_'+msg[i].id+'_L_'+labels[j]+'" class="w3-left w3-hover-theme with w3-hover-opacity pointer scoreline not_relevant">'+labels[j]+'</div>');
                                if(msg[i].labels[0][1]==labels[j]) {
                                    scoreline.addClass('assigned');
                                    scoreline.removeClass('not_relevant');
                                }
                                else {
                                    scoreline.removeClass('assigned');
                                    scoreline.addClass('not_relevant');
                                }
                                scoreline.click((function(single_label, id, text, label){
                                    if(!$('#suggestion\\_'+id+'\\_L\\_'+label).hasClass('assigned')) {
                                        $('#suggestions\\_'+id).children('.scoreline').removeClass('assigned');
                                        $('#suggestions\\_'+id).children('.scoreline').addClass('not_relevant');
                                        $('#suggestion\\_'+id+'\\_L\\_'+label).removeClass('not_relevant');
                                        $('#suggestion\\_'+id+'\\_L\\_'+label).addClass('assigned');

                                        $.ajax({
                                            type:'POST',
                                            url:'${classifier_path}/update',
                                            data: { name: '${classifiername}', X: [text], y: [label]}
                                        })
                                        .fail(function(msg) {
                                            custom_alert(msg);
                                        });
                                    }
                                }).bind(null, single_label, msg[i].id,  msg[i].text, labels[j]));
                            }
                            else {
                                    var scoreline_yes = jQuery('<div id="suggestion_'+sort_string+'_L_'+labels[j]+'_yes" class="w3-col w3-hover-theme w3-hover-opacity w3-right-align pointer scoreline not_relevant multiyes" style="width:50%;">yes</div>');
                                    var scoreline_no = jQuery('<div id="suggestion_'+sort_string+'_L_'+labels[j]+'_no" class="w3-rest w3-hover-theme w3-hover-opacity w3-right-align pointer scoreline not_relevant multino" style="width:auto;">no</div>');
                                for(var k=0;k<msg[i].labels.length;++k) {
                                    if(msg[i].labels[k][1][0]==labels[j] && msg[i].labels[k][1][1]) {
                                        scoreline_yes.addClass('assigned');
                                        scoreline_yes.removeClass('not_relevant');
                                        scoreline_no.removeClass('assigned');
                                        scoreline_no.addClass('not_relevant');
                                        break;
                                    }
                                    if(msg[i].labels[k][1][0]==labels[j] && !msg[i].labels[k][1][1]) {
                                        scoreline_no.addClass('assigned');
                                        scoreline_no.removeClass('not_relevant');
                                        scoreline_yes.removeClass('assigned');
                                        scoreline_yes.addClass('not_relevant');
                                        break;
                                    }
                                }
                                scoreline_yes.click((function(single_label, id, text, label){
                                    if(!$('#suggestion\\_'+id+'\\_L\\_'+label+'\\_yes').hasClass('assigned')) {
                                        $('#suggestion\\_'+id+'\\_L\\_'+label+'\\_yes').removeClass('not_relevant');
                                        $('#suggestion\\_'+id+'\\_L\\_'+label+'\\_yes').addClass('assigned');
                                        $('#suggestion\\_'+id+'\\_L\\_'+label+'\\_no').removeClass('assigned');
                                        $('#suggestion\\_'+id+'\\_L\\_'+label+'\\_no').addClass('not_relevant');

                                        $.ajax({
                                            type:'POST',
                                            url:'${classifier_path}/update',
                                            data: { name: '${classifiername}', X: [text], y: [[label, true]]}})
                                        .fail(function(msg) {
                                            custom_alert(msg);
                                        });
                                    }
                                }).bind(null, single_label, msg[i].id, msg[i].text, labels[j]));
                                scoreline_no.click((function(single_label, id, text, label){
                                    if(!$('#suggestion\\_'+id+'\\_L\\_'+label+'\\_no').hasClass('assigned')) {
                                        $('#suggestion\\_'+id+'\\_L\\_'+label+'\\_no').removeClass('not_relevant')
                                        $('#suggestion\\_'+id+'\\_L\\_'+label+'\\_no').addClass('assigned')
                                        $('#suggestion\\_'+id+'\\_L\\_'+label+'\\_yes').removeClass('assigned')
                                        $('#suggestion\\_'+id+'\\_L\\_'+label+'\\_yes').addClass('not_relevant')

                                        $.ajax({
                                            type:'POST',
                                            url:'${classifier_path}/update',
                                            data: { name: '${classifiername}', X: [text], y: [[label, false]]}})
                                        .fail(function(msg) {
                                            custom_alert(msg);
                                        });
                                    }
                                }).bind(null, single_label, msg[i].id, msg[i].text, labels[j]));
                                var scoreline = jQuery('<div class="w3-left w3-row multiscoreline" style="min-width:'+max_label_length+'em;"><div>'+labels[j]+'</div></div>');
                                scoreline.append(scoreline_yes);
                                scoreline.append(scoreline_no);
                            }
                            suggestion_div.append(scoreline);
                        }
                    }
                }
                for (var key in curr_list) {
                    $('#'+key).remove();
                }
                if(added) {
                    $('#data').append($('#data tbody tr').get().sort(function (a, b) {
                        return $(a)[0].id.localeCompare($(b)[0].id);
                    }));
                }
            }
            $('#page').unbind('keyup mouseup').bind('keyup mouseup',update);
            $('#pagesize').unbind('keyup mouseup').bind('keyup mouseup',update);
            $('#filter').unbind('keydown').bind('keydown', function (e) {
                if (e.keyCode == 13) {//enter
                    $('#page').val(1);
                    filter = $('#filter').val()
                    update();
                }
            });
        });
    }

    function delete_example() {
        document.getElementById('delete_example_button').style.display='none';
        document.getElementById('delete_example_button_wait').style.display='block';
        var example = $("#del\\_from").val();
        $.ajax({
            type:'POST',
            url:'${classifier_path}/delete_training_example/${classifiername}/'+example })
        .done(function() {
            document.getElementById('dia_delete_example').style.display='none';
            document.getElementById('delete_example_button').style.display='block';
            document.getElementById('delete_example_button_wait').style.display='none';
            update();
        })
        .fail(function(errMsg) {
            document.getElementById('delete_example_button').style.display='block';
            document.getElementById('delete_example_button_wait').style.display='none';
            custom_error(errMsg.responseText);
        });
        return false;
    };

    $( document ).ready(function() {
        $('#delete\\_example').submit(delete_example);

        timed_update();
    });
</script>
</%block>

<section>
    <div class="w3-panel w3-padding">
        <div class="w3-card">
            <div id="data_list">
            </div>
        </div>
    </div>
    <div id="dia_delete_example" class="w3-modal">
        <div class="w3-modal-content w3-card-4">
            <header class="w3-container w3-theme">
                <span
                        onclick="document.getElementById('dia_delete_example').style.display='none'"
                        class="w3-button w3-display-topright">&times;</span>
                <h3 class="w3-theme">Delete an Example</h3>
            </header>
            <form id="delete_example" class="w3-container" action="#" method="post">
                <p>
                    <label for="del_from">Example to delete:</label>
                    <input class="w3-input" type="text" disabled id="del_from"/>
                </p>
                <p>
                    <input class="w3-input" id="delete_example_button" type="submit" value="Delete"/>
                    <span class="w3-center" id="delete_example_button_wait" style="display:none">Processing</span>
                </p>
            </form>
        </div>
    </div>
</section>
